[2021-05-10 21:14] dongahn commented on #384
Briefly skimmed through https://github.com/lattera/freebsd/blob/master/contrib/unbound/util/rbtree.h

Doesn't seem to support augmented RB tree.

And use of pointer to call a comparator each time a node is visited will be likely not a match w/ LK rbtree https://github.com/lattera/freebsd/blob/master/contrib/unbound/util/rbtree.h#L87....

Just if C++ std:map opens up its RB tree to be augmented....

[2021-05-10 21:27] trws commented on #384
I mean, I suppose that's a way to look at it?  The project fundamentally cannot be LGPL with a chunk of GPL code linked into it, so it's completely incompatible with the project's license.  Our license is compatible with the tree's license, but theirs is not with ours.

If what you want is an interval tree, there's always these:

* boost interval containers: https://www.boost.org/doc/libs/1_64_0/l

[2021-05-11 15:20] #796 closed

[2021-05-11 15:56] grondo opened #836 "intermittent(?) failure in t1009-recovery-multiqueue.t on aarch64"
I'm seeing intemittent (>50%) failure in `t1009-recovery-multiqueue.t` on aarch64 in the buildfarm when trying to build RPMs for flux-sched-0.16.0:
[code]

I happen to still have the hook to backtrace all corefiles in the specfile, so here's as much of the backtrace I got:

[code]

[2021-05-11 16:01] dongahn commented on #836
Thank you for logging. I saw a failure on my docker and thought this was just a intermittent glitch. Since this is happening in other places, there must be a race condition that recent additions are causing. I will take a look.

[2021-05-11 16:07] dongahn commented on #836
The crash happens within the queue policy (FCFS in this case) object's callback function which is called when the continuation of match-multi streaming RPC is called. The gdb output doesn't have exact number as it seems the crash occurred within an inline C++ standard library code (`/usr/include/c++/8/ext/atomicity.h:96`).

[2021-05-11 16:16] grondo commented on #836
All the other threads in the broker. I can paste the entire output here. But they are all sleeping in the reactor AFAICT

[2021-05-11 16:20] grondo commented on #836
Ah, oops sorry!!

[2021-05-11 16:45] dongahn commented on #384
Thanks @trws.

Exactly. They don't expose that. To overcome the performance disadvantage,  they often inline the comparator function though.

Augmented rbtree algorithm is pretty well known and proven to be effective: e.g.,  at https://fileadmin.cs.lth.se/cs/Personal/Rolf_Karlsson/lect3.pdf

It allows you to add an additional data to each binary search node to describe a user-defined function on t

[2021-05-11 17:53] trws commented on #384
On 11 May 2021, at 9:45, Dong H. Ahn wrote:

Quite so. I’m not arguing whether it’s something useful or not, but
there are types that have been designed on top of that paradigm to
provide higher level interfaces that use this practice internally.  The
Judy Array does this for example, tracking the number, min and max of
elements under any given node and applying it to search, traversal and
neighbo

[2021-05-11 18:10] dongahn commented on #384
Yeah I was looking at that as well last night. The concept of intrusive was a bit interesting and was pretty ambivalent whether you can live with this type of containers that don't explicitly manage the node data...

[2021-05-11 18:12] dongahn commented on #384
even the same kind of intrusive container as the LK RB tree is.

Interesting observation.

[2021-05-11 22:39] dongahn commented on #384
Ok. I took a look at this a bit more. It shares the design concept with LK rbtree in terms of adding one or more hooks into the date type instead of managing the data memory by itself. But unfortunately, the current abstraction doesn't expose/provide methods to add the augmentation. Maybe there is something in the "algorithm" that might provide something or maybe extending Boost intrusive rbtree..

[2021-05-11 22:47] dongahn commented on #384
I don't see anything from the algorithm either: https://www.boost.org/doc/libs/1_55_0/doc/html/boost/intrusive/rbtree_algorithms.html

BTW, https://tinloaf.github.io/ygg

This one seems to have that needed feature.

[code]

Anyone has experiences with this package?

[2021-05-11 23:44] trws commented on #384
I don’t, but saw it earlier and it does look interesting.

The boost one would let you implement what you need basically the same way the kernel one does though, since the node is your own type you can add whatever you like to it, and the node provides all the usual options to implement traversals. It would be more manual than is normal for c++, but it would work.

Also noticed in a completely rou

[2021-05-12 00:23] dongahn commented on #384
Nice! Yes this type of callback support for "internal" tree rebalancing is what I need.

Looking at Yggdrasill, it does provide exactly the support I need here: https://github.com/tinloaf/ygg/blob/master/src/rbtree.hpp#L125

I will try both. Ygg is C++17 but it is header only so backporting that to C++11 won't be too difficult.

Yes. It is just that this doesn't open up the rebalancing protocol fo

[2021-05-12 15:50] dongahn commented on #836
This may affect our covid19 drug design efforts. I will give it a priority and look at it soon.

[2021-05-12 17:10] dongahn commented on #836
Of course, now I can't repro this on my docker...

[2021-05-12 17:53] dongahn commented on #836
Ok. Finally reproduced on the docker on my laptop. The back trace has more info and this smells like a race condition where a job has been removed when the a stream RPC replied from the new match-multi, which then led to the dereference of a null shared pointer.

[code]

[2021-05-12 19:01] dongahn commented on #836
OK. I think I understand the problem. I wasn't handling `sched.cancel` correctly under async execution. It used to be that when `sched.cancel` is received by `qmanager` , the pending job state was deterministic. It is no longer true because there is a MAYBE pending job state -- a request has sent out to `sched-fluxion-resource.multi-match`.

[2021-05-13 15:59] cmoussa1 opened #839 "enforcing per-job/per-queue limits"
_If I need to instead open this issue in a different repository, please let me know and I'll move it._

The third issue that came up as a result of breaking up [flux-sched #638](https://github.com/flux-framework/flux-sched/issues/638) is the need to enforce per-job and per-queue limits in the following ways:

* enforcing a minimum number of nodes
* supporting queue-specific limits
* supporting a Q

[2021-05-13 16:00] cmoussa1 opened #840 "enforcing time-dependent limits"
_If I need to instead open this issue in a different repository, please let me know and I'll move it._

The fourth sub-issue that came up as a result of breaking up [flux-sched #638](https://github.com/flux-framework/flux-sched/issues/638) is the need to enforce time-dependent limits in the following ways:

* e.g. one set of limits for normal workday hours and another set of limits for off-hours

[2021-05-18 04:15] #836 closed

[2021-05-19 01:08] dongahn opened #841 "Race condition bug with prioritization request handling"
Similar to Issue #836, I find a prioritization request that is reduced while the async scheduling-loop is active can lead to inconsistent queue state. It requires the same provisional techniques used in PR #838 to be correct.

[2021-05-19 01:13] dongahn opened #842 "first policy has an issue with unsatisfiability"
With the first-match policy when all ranks are excluded, the multi-match reports the following error. This doesn't show up when the match policy is "search all."

[2021-05-20 03:24] #827 closed

[2021-05-20 04:33] #830 closed

[2021-05-20 04:35] dongahn commented on #808
@grondo: was this a problem this time?

[2021-05-20 14:24] grondo commented on #808
I left the ppc64le build disabled. I can give it a try today.

On Wed, May 19, 2021, 9:35 PM Dong H. Ahn ***@***.***> wrote:

[2021-05-20 16:16] dongahn commented on #805
With the latest optimization from both fluxion and flux-core, I confirmed the original reproducer doesn't occur. I ran the test on 16 nodes on quartz 5 times and no timeout error was reported.

[2021-05-20 16:16] #805 closed

[2021-05-20 16:16] dongahn commented on #808
Thanks @grondo!

[2021-05-20 17:14] grondo commented on #808
Still failing on ppc64le:
[code]

automated gdb backtrace:
[code]
[code]

[2021-05-25 19:24] dongahn commented on #384
Interface-wide, Yggrasil appears to be pretty promising. Its augmented red black tree support is pretty comprehensive, and this should allow us to port planner search trees. One tricky part of this is it doesn't directly allow a use-define node to be added to multiple search trees (e.g., a node belongs to both schedule point search tree and mintime resource search tree) but I think I can work arou

[2021-05-25 22:00] SteVwonder opened #844 "flux-ion-R: make FluxionGraphResourceV1 and other classes public"
I've been leveraging these classes in my flux-coral2 work (by copying and pasting them out of the command) to construct JGF files from the DWS API.

It would be nice if these classes were installed and exported as part of the `fluxion` python module.  Then I could create subclasses in my flux-coral2 command that inherit from the classes exported by Fluxion.

[2021-06-05 16:55] dongahn commented on #384
FYI -- I now have a prototype of planner substrate with Ygg's augmented Rbtree!

It seems the basics of both scheduled point search tree and minimum time resource tree work well with this library, but there are a handful of test cases that are currently failing.

Given that the failure only occurs when you add many spans (1000 spans) into a multi-planner, I will need to do some more debugging to d

[2021-06-05 21:24] dongahn commented on #384
Good news.

I was able to reduce the problem to a small 16-span case and was able to get to the bottom of this using some of the debug support within Ygg library. The problem was just due to slightly augment interface differences between LK's rbtree and this.

Now my port passes all of the test cases!

So this concludes my feasibility.

With this, I will start to break this problem down to a few m

[2021-06-10 04:51] dongahn commented on #384
Performance-wise,  I'm concluding that Yggrasil's augmented RBTree is equivalent to LK's RBtree. The differences seem pretty much within noise in my docker on Mac enviornment.

[code]

LK RBTree baseline
[code]

[2021-06-10 05:01] dongahn commented on #384
Test code: [planner_perf.cpp.txt](https://github.com/flux-framework/flux-sched/files/6628471/planner_perf.cpp.txt)

[2021-06-16 09:53] dongahn commented on #384
FYI -- making pretty good progress towards a PR: https://github.com/dongahn/flux-sched/tree/planner-c++, in case you are wondering where I am with this.

[2021-06-17 10:01] dongahn commented on #384
PR #846 has just been posted for review.

[2021-06-23 01:13] dongahn opened #847 "CI fails for merge pull request"
<img width="1177" alt="Screen Shot 2021-06-23 at 10 12 31 AM" src="https://user-images.githubusercontent.com/862123/123019532-9be2e880-d40b-11eb-913b-beee0b7d9de8.png">

[2021-06-23 01:55] grondo commented on #847
Ah, this is my fault @dongahn. I forgot to add a similar fix to https://github.com/flux-framework/flux-core/pull/3717 to flux-sched (we need to skip the annotated tags step on master)

[2021-06-23 06:24] #847 closed

[2021-06-23 21:48] #844 closed

[2021-06-24 07:48] dongahn commented on #384
And finally PR #849 has been posted, which replaces GNU readline with editline library.

[2021-06-25 21:31] trws commented on #384
Great stuff @dongahn.  The Yggdrasill PR looks really nice too FWIW.

[2021-06-25 23:31] dongahn commented on #384
Thanks @trws for looking at various alternatives with me and reviewed the PR!

I'm pretty happy with Yggdrasil in general.

One thing is that it uses some C++17 features on non-critical code (e.g. Tree Options) which requires various surgical operations to adapt it to Fluxion. The other thing is it is a bit not clean to separate only a single search tree but I believe that's just its design.

If o

[2021-07-02 22:42] #384 closed

[2021-07-04 15:47] grondo commented on #808
I tested ppc64le build while building RPMs for v0.17.0 and this issue still occurs.

[2021-07-14 05:31] Keith-Bateman opened #853 "Resource Query cannot satisfy MTL Storage Jobspec with both mtl1unit and mtl2unit requests"
If we use the default policies for resource-query on a multi-tiered grug (such as mtl3) and try to match a jobspec that requests SSDs through mtl1unit and mtl2unit simultaneously, we get a result that the request is unsatisfiable with no matching resources found, even though requesting mtl1unit SSDs or mtl2unit SSDs separately would work.
An example of a jobspec that fits this description for the

[2021-07-16 09:17] dongahn commented on #853
My guess is this jobspec class cannot be matched when you use a "global" search policy like `--match-policy=low` or `high`.

By the time, the traverser is doing its post order walk at the `cluster` vertex, the selection as to which `rack` should be chosen has not completed, and this means `mtl1unit`s under each rack are still being "staged". I suspect these staged `mtl1unit`s cannot be simultaneou

[2021-07-20 20:13] #853 closed

[2021-08-02 20:22] javawolfpack opened #855 "t5000-valgrind test fails on Jetson Nano"
Pretty sure this is the same issue as this issue:

https://github.com/flux-framework/flux-core/issues/3808

The patch for that issue I'm guessing needs to be tweaked for `flux-sched` let me know if you want more info from the `flux-sched` instance of the test.

[2021-08-02 20:30] garlick commented on #855
That makes sense.  Want to submit a PR against flux-sched?   Eyeballing it, it seems like the same patch ought to apply (same path, and same patch context AFAICT).

[2021-08-02 20:38] javawolfpack commented on #855
Let me try again... but pretty sure it failed even after trying to patch with the same patch file as `flux-core`.

[2021-08-02 20:39] dongahn commented on #855
Do you have the valgrind outputs from your failure to post?

[2021-08-02 20:40] javawolfpack commented on #855
Figuring out how to run the `flux-sched` test on it's own with verbose output was my next step if it fails again. Is there something different from `flux-core`?

[2021-08-02 20:45] garlick commented on #855
Should be the same as flux-core: change to the `t` directory and run `./t5000-valgrind.t -d -v`

[2021-08-02 20:47] garlick commented on #855
The patch just adds a new stanza to he `valgrind.supp` file so it should be easy to recreate the change by hand if needed.  I guess it should reference this bug number at the top instead of the core one, so it would need a little TLC anyway.

[2021-08-02 21:01] javawolfpack commented on #855
[code]
Valgrind output, this is after applying the same patch from `flux-core` my guess is I need to manually add those lines to the valgrind.supp file.

[2021-08-02 21:11] javawolfpack commented on #855
Going to test manually adding those lines to the supp file w/ this issue number and if it works will make a PR.

[2021-08-02 22:21] javawolfpack commented on #855
I've added the following lines to *t/valgrind/valgrind.supp* and it still fails in the `make check`:

[code]

[2021-08-02 22:32] dongahn commented on #855
It is odd that we don't see the stack traces of memory errors. One possibility is this test fails not because of an memory error but because of time out. Could you increase run_timeout in the test like 1200 and see if the test is happier?

[2021-08-02 22:48] javawolfpack commented on #855
So it passes when I manually set the run timeout to 1200.

[code]

[2021-08-04 01:20] dongahn commented on #855
Is there anything else that needs to be done before closing it?

[2021-08-04 01:32] javawolfpack commented on #855
No since extending the time out solved it, guess that's it. I'm curious if that'd solve the flux-core issue too.

[2021-08-04 01:32] #855 closed

[2021-09-01 18:55] ksuarez1423 opened #856 "Compilation error from unsigned int to signed int comparison"
Installing flux-sched version 0.16.0 via Spack with GCC 9.2.0 results in failure, due to an unsigned int and signed int comparison. While this would normally just be a warning, -Werror being in use in the compilation options of flux-sched when using GCC ensures it is taken as an error.

While 0.16.0 is an past version, the lines of code and relevant datatypes causing the issue are identical in the

[2021-09-01 19:06] dongahn commented on #856
Ugg. Yes this depends on how strictly a C++ compiler and version checks those things.

[2021-09-01 19:09] dongahn commented on #856
[code]

If you can patch the code as part of your Spack deployment, could you try the following?

[2021-09-03 22:16] ksuarez1423 commented on #856
I apologize for taking so long to respond -- after applying a patch like this, I was able to install flux-sched! Thank you!

[2021-09-03 22:39] dongahn commented on #856
Great! Just out of curious, would it be possible to do a quick PR with this patch?

[2021-09-07 15:39] ksuarez1423 commented on #856
@dongahn I cannot compile master right now, but I've got a PR at #858 which should fix the issue if I wrote it correctly. A similar change definitely handled things on 0.16.0.

[2021-09-15 05:19] dongahn commented on #842
Reproducer:

[code]

[2021-09-15 05:21] dongahn commented on #842
This only occurs with match `policy=first`. When `policy=low`, the system works as expected.

[code]

[2021-09-15 05:32] #856 closed

[2021-09-16 16:40] dongahn commented on #842
It turned out the issue is not caused by `policy=first`. This happens with any match policy when combined with backfilling queuing policies. It is likely one line fix. Need to expand test coverage though.

[2021-09-16 18:12] dongahn commented on #842
OK I just proposed PR #859 as the fix for this Issue.

[2021-09-16 22:39] SteVwonder opened #860 "data-staging: makefile missing jansson cflags"
The jansson cflags are not included in the Makefile.am when building the data-staging job-shell plugin, resulting in:

[code]

when using a side-installed jansson.

[2021-09-16 22:55] SteVwonder opened #861 "qmanager: error printed when `FLUX_RC_EXTRA` includes flux-sched directory"
[code]

[code]

[code]

Presumably this is just do to the fluxion scheduler being load/unloaded twice:
[code]

Not sure if we should fix this in the fluxion rc scripts, or if we should just modify Spack to not emit the `FLUX_RC_EXTRA` variable in modulefiles.

[2021-09-17 00:08] dongahn commented on #861
Yeah, if Spack installs Fluxion into the same prefix as flux-core, it should not set `FLUX_RC_EXTRA`.

From https://github.com/flux-framework/flux-core/blob/0fa713c19b1f51b76d9f74063657b9fd54f8e60f/etc/rc1#L41, I think what happens might be the fluxion's rc1 scripts get executed twice from the same RC directory.

If Spall installs Fluxion into a different directory than the prefix, then `FLUX_RC_E

[2021-09-17 00:10] dongahn commented on #841
I wil work on this next.

[2021-09-17 00:13] SteVwonder commented on #861
Ah. Ok. So this was just my mistake from copying a spack-generated modulefile for a hand-built version (where the hand-build core and sched share a prefix).

Thanks for the clarification and sorry for the noise.

[2021-09-17 00:13] #861 closed

[2021-09-18 17:19] dongahn commented on #841
OK I just proposed PR #862 as the fix for this Issue.

[2021-09-18 17:30] dongahn commented on #828
Using `-H` option for `flux R encode` should work around the issue.

[code]

[2021-09-18 17:31] dongahn commented on #828
@milroy: could you comment whether this is worthwhile to fix?

[2021-09-24 23:05] SteVwonder opened #863 "flux-sched's rc path being in `FLUX_RC_EXTRA` twice causes an rc1 hang"
@FrankD412 and @bhatiaharsh encountered a hang in Flux during bootstrap on Summit.  They use Spack to build/install/load Flux, and the flux-sched Spack package sets `FLUX_RC_EXTRA` so that Fluxion is loaded by default when the Spack `flux-sched` package is loaded.

Unfortunately, due to a double loading bug, the `flux-sched` package is loaded twice and the `FLUX_RC_EXTRA` points to the flux-sched

[2021-09-24 23:46] SteVwonder commented on #863
After some more debugging, we confirmed that the issue only occurs when running on a Flux instance with 2 (and probably more) nodes/ranks.  Bootstrapping a single node/rank Flux instance on Summit does not experience the hang.  Also, oddly enough, running with a correct `FLUX_RC_EXTRA` (i.e., the flux-sched rc directory only appears once) but adding a `flux module reload -f fluxion-sched-resource`

[2021-09-24 23:52] SteVwonder commented on #863
Reproducer with Docker (single node, multi-rank):

[code]

[2021-09-25 00:45] SteVwonder commented on #863
Worth noting that the above hangs due to the reloading of fluxion-resource the second time around:
[code]

But manually reloading of  fluxion-resource from the initial program works succesfully:

[code]

So it is something related to reloading fluxion-resource specifically within the rc1 script.   @dongahn was suggesting maybe a timing issue related to the initialization code of the resource modul

[2021-09-25 03:06] dongahn commented on #863
@SteVwonder: thank you for the clean reproducer. It made it extremely easy to take a look.

I think my gut feeling was right. This is a traditional deadlock and I don't think there is anything that fluxion can do to fix this.

As you can see from https://github.com/flux-framework/flux-sched/blob/master/resource/modules/resource_match.cpp#L2423, `sched-fluxion-resource` let `flux module load` retur

[2021-09-27 16:02] dongahn commented on #814
FYI -- I will be looking into this as my next item.

[2021-09-27 20:34] grondo commented on #814
Currently there is no way for the validator to modify, amend, or annotate the jobspec - validators are restricted to returning success (an `errnum` of `0`) or an error number and an error string.

Even in principle, Flux components cannot currently add anything to the jobspec since that would invalidate the user's signature on the jobspec.

Edit: Oh, after reading back your response, you may be ta

[2021-09-27 20:47] dongahn commented on #814
From rabbit support discussion, I somehow mistakenly thought this could be done.

From the scheduler point of view, if the fact that the job was already checked through the feasibility validator is somehow passed to `sched.alloc`, it can make use of it to avoid redundant feasibility...

Good point. This would work for the system instance.

But my concern would be fluxion users might want to specia

[2021-09-27 20:49] dongahn commented on #814
Just to qualify, if the `match-allocate` succeed, we don't do feasibility so for "good input", schedule-loop time feasibility will outperform.

[2021-09-27 20:55] grondo commented on #814
Yeah, we've discussed that it could be useful if job manager plugins and validator plugins could amend the jobspec. Specifically, the redacted jobspec held by the job manager could allow direct modification within reason. The job manager could then pass the jobspec directly to the scheduler in the `alloc` request, instead of having the scheduler separately fetch the jobspec out of the KVS. Thus th

[2021-09-27 20:58] grondo commented on #814
Ah, I see the flag to bypass feasibility check is already in flux-framework/flux-core#3788. In this case a key added by the creator of the jobspec is suggested.

[2021-09-27 20:59] grondo commented on #814
More generally, mutability of jobspec post submission is flux-framework/flux-core#3416

[2021-09-27 21:22] dongahn commented on #814
Good to see these discussion threads.

For my current short-term task, it seems just adding a fluxion feasibility validator seems to make sense. If either mutability of jobspec post submission or support for a  validator to annotate the job is supported, we can improve on it to further optimize scheduling performance.

[2021-09-29 20:04] garlick opened #866 "fluke testing: system is deadlocked"
Gathering some observations from fluke after our flux-core 0.29.0 release was installed as the system instance
* `flux mini run hostname` hangs
* `flux overlay status -v` shows 47 nodes offline
* `flux overlay status -vvv` shows 53 nodes online
* `flux ping <rank>` seems to work for  the online nodes
* for the offline nodes, we get an immediate "no route to host error"
* checking service health:

[2021-09-29 20:44] garlick opened #867 "fluxion marks nodes 'free' when they are offline at startup"
On fluke testing, many nodes in the config were offline when flux was started.  This was shown by `flux resource status` and `flux overlay status`.  However, `flux resource list`, which queries the scheduler, reports:
[code]

[2021-09-29 20:46] dongahn commented on #867
Thanks

[2021-09-29 20:53] garlick commented on #867
@grondo had a good suggestion to bring over some of the system instance test infrastructure (most of which is embedded in `flux-start` and the current flux-core version of `flux-sharness.sh`.  We could possibly then just bring over [this test](https://github.com/flux-framework/flux-core/blob/master/t/t3301-system-latestart.t) to cover this issue for fluxion.

[2021-09-29 21:17] dongahn commented on #867
Right before, fluxion restarts its reactor, it marks all resources "down" and mark those up ranks to "up": https://github.com/flux-framework/flux-sched/blob/master/resource/modules/resource_match.cpp#L1353. But perhaps no "up" rank was reported in this case and we may have missed this conditional statement that mark "all" down. I will see if I can add some online/offline testing coverage suggested

[2021-09-29 21:19] dongahn commented on #866
The hang is understood:

Fluxion uses a blocking resource.get-xml @https://github.com/flux-framework/flux-sched/blob/master/resource/modules/resource_match.cpp#L815 to get the overall resource set. Since that service isn't ready, this became the deadlock.

[2021-09-29 21:25] dongahn commented on #866
I like the following suggestion so that if this problem occurs with the system instance, we can immediately spot this:

might need a flag in resource protocol to differentiate system instance if we can't tell now

[2021-09-29 21:46] garlick commented on #866
Another thought is that maybe we could have the resource module fail the `resource.get-xml` RPC immediately if it knows R came from a config file.  We could include a nice textual error that fluxion could log at LOG_ERR level so that it would appear in the stderr of the rank 0 broker (which is logged to the systemd journal where hopefully sys admins would go looking if a service fails to start).

[2021-09-29 21:49] garlick commented on #867
To clarify: roughly half did not ever wire up.  there were still a good number of nodes that did come online.

[2021-09-29 21:49] dongahn commented on #866
This is good idea. We need to make sure the nested instance doesn't do this. From our last discussion, this would be the case. But just a word of caution.

[2021-09-29 21:50] dongahn commented on #867
Hmmm. Then, this doesn't add up. Will add some more debug print and use your suggested test case.

[2021-09-29 21:58] garlick commented on #866
from resource/inventory.c header:
[code]

What I was thinking was maybe if the `broker.quorum` broker attribute is not set to the full instance, then it would be OK to fail that RPC.  That's the only time we are starting operations before all the ranks are online.

[2021-09-29 22:00] dongahn commented on #867
I guess the question is when the  first`up` key will be reported? During the first `resource.acquire` or subsequent response? If subsequent, this is after fluxion finishes its initialization so the problem I described above will still happen.

[2021-09-29 22:19] garlick commented on #867
Here's the `resource.eventlog` from that system:
[code]

If the scheduler asks early enough (before the first "online" event is posted) then I believe  the "up" set would be empty in the first response (since rank 0 is excluded).  The first response would be issued when the `resource-define` event is posted.

(Note I think you can ignore the  first two events that were posted a long time ago, prob

[2021-09-29 22:28] grondo commented on #866
I got `t3301-system-instance-latestart.t` and its requirements copied from flux-core to flux-sched and I believe this reproduces the startup hang discussed here:
[code]

[2021-09-29 22:31] dongahn commented on #866
Nice!

[2021-09-29 22:32] grondo commented on #866
This sounds like a good stopgap.

However, in the future we may want to allow non-system jobs to start with one or more down ranks so a staggered startup should eventually be supported (e.g. for grow or hot spare nodes)

[2021-09-29 22:32] dongahn commented on #866
Is the "all-up" bug reproduced as well?

[2021-09-29 22:33] grondo commented on #866
Still working on it, will have to add the ability to augment resource.R to the test first.

[2021-09-29 22:33] dongahn commented on #866
I thought about this but I don't have a good enough suggestion without having to introduce the true `grow` in resource.acquire.

[2021-09-29 22:36] dongahn commented on #866
If you want to delegate this to me, feel free. I was wondering if one line change at:

https://github.com/flux-framework/flux-sched/blob/master/resource/modules/resource_match.cpp#L1352 by hosting up the following code outside the if statement will do...

[code]

[2021-09-29 22:36] grondo commented on #866
Well, a trick would be to start all jobs with a set of additional ranks in R from a hot spare pool. These resources are all set "down" at the start of the job. If a node fails in the current job, it could request something from from the hot spare pool and then mark those nodes online. We're probably pretty close to being able to do this now.

[2021-09-29 22:38] grondo commented on #866
This should be quick. I'll push up my changes soon.

[2021-09-29 22:40] dongahn commented on #866
Will it ever happen that a nested flux instance (or user-level instance) fails to come online and yet you want to continue without creating a hang? Maybe that's related to @garlick's comment about `broker.quorum` I am not superfamiliar with the quorum.

[2021-09-29 22:47] grondo commented on #866
The "all-up" bug was not reproduced in this test scenario afaict:

(here I added some extra lines to the test from flux-core)

[code]

Note that something else is going wrong in the last test (the job should be able to run), but I haven't looked into it yet.

I'll try to push these changes to a branch as a starting point for further work.

[2021-09-29 22:52] dongahn commented on #866
Thank you for taking this this far @grondo!

[2021-09-29 22:52] garlick commented on #866
The quorum has to be reached before rc2 is started, and it's normally set to the full instance.  In the hot spare case, would you want to start before the spares wired up, or would you want them to wire up and then just have some mechanism to not use them for scheduling until brought online?

Sorry, getting a little off topic for this issue.  I'll open an issue in flux-core about failing the `get-

[2021-09-29 22:58] dongahn commented on #866
<CUT>

not ok 14 - two node job can now run

This could be similar to https://github.com/flux-framework/flux-sched/issues/842.

I have a PR and will try that if it also fixes this: https://github.com/flux-framework/flux-sched/pull/859

[2021-09-29 23:13] grondo commented on #866
https://github.com/grondo/flux-sched/tree/system-test

If you want to test the deadlock, remove the definition of `TEST_UNDER_FLUX_AUGMENT_R` in `t3301-system-latestart.t`

[2021-09-30 17:08] garlick commented on #866
I was going to submit a PR to get the new error message logged, but maybe you would prefer to just cherry pick my commit and make it part of a PR that includes the enhanced system testing?   The commit is  01a4a80 .

[2021-09-30 17:10] dongahn commented on #866
Sounds good to me.

[2021-09-30 17:22] garlick commented on #866
Uh I'm not sure if this is something unrelated, but I"m getting a crash when running the `./t1017-rv1-bootstrap.t` test.   The test hangs here:
[code]
Then my ubuntu problem detector pops up a stack trace in qmanager that I can't cut and past (grr).  Let me see if I can post a screen shot.
![Screenshot from 2021-09-30 10-18-30](https://user-images.githubusercontent.com/169947/135501580-230f55aa-0f

[2021-09-30 17:26] dongahn commented on #866
@garlick: is this w/ https://github.com/flux-framework/flux-core/pull/3885?

[2021-09-30 17:30] dongahn commented on #866
Also is this https://github.com/flux-framework/flux-sched/blob/master/t/t1017-rv1-bootstrap.t#L42 test?

[2021-09-30 17:39] garlick commented on #866
Yes with  flux-framework/flux-core#3885

Yes it is that test - sorry.  Last out was `rv1-bootstrap: creating a nested batch script` before the hang.

[2021-09-30 17:41] dongahn commented on #866
Trying to make sense out of the stack trace -- a lot have been optimized out... :-(

[2021-09-30 17:43] dongahn commented on #866
I think it is a test that
1. top level flux instance bootstrap using hwloc
2. use rv1 writer so that each allocate job will have the full `.scheduling` key in its `R`
3. Running flux mini batch on the "full" size to test whether that nest flux instance can bootstrap out of the `.scheduling' key.

So at least it's related to the change being made.

[2021-10-04 23:29] garlick opened #868 "need RV1 reader"
I'm having a bit of trouble locating the pertinent part of the discussion, but to solve #866, we implemented a short term workaround to fail the `resource.get-xml` RPC if it the broker is configured like a system instance.  This ensures that a non-augmented R configured by sys admins manifests as a useful error when starting flux rather than a deadlock.

We discussed the fact that the `resource.ge

[2021-10-12 16:47] dongahn opened #873 "Intermitten hang in `t1017-rv1-bootstrap.t`"
From PR #872, @garlick reported: I'm often (but not always) getting a hang in `t1017-rv1-bootstrap.t` here:
[code]

[2021-10-12 16:48] dongahn commented on #873
https://github.com/flux-framework/flux-sched/issues/799 could be related as well.

[2021-10-19 23:27] cmoussa1 commented on #839
Good call. 👍 I'll be happy to meet and discuss this more.

[2021-10-20 23:43] dongahn commented on #833
It looks like with `min : 1`, Fluxion only match and emit one core.

[code]

[code]

[2021-10-20 23:46] dongahn commented on #833
Given the RFC 14 says the following, this is non-compliant.

[code]

[2021-10-21 00:11] dongahn commented on #833
Ah... there seems to be a bug with the `first` match policy. With other 'global' policies like `low id first` and `high id first`, the fluxion is compliant.

[code]

[2021-10-21 00:13] dongahn opened #875 "First match policy doesn't comply with RFC14 on min/max"
See
- https://github.com/flux-framework/flux-sched/issues/833#issuecomment-948116340
- https://github.com/flux-framework/flux-sched/issues/833#issuecomment-948127112

[2021-10-21 01:41] dongahn opened #876 "Fluxion's Jobspec library cannot handle partially specified min/max"
[code]

[code]

[2021-10-21 01:44] dongahn commented on #876
It also doesn't support `min: 0` spec:

[code]

[2021-10-22 22:42] grondo opened #877 "flux-sched: minor changes required for clang-12 and gcc-11"
From my PR to update spack packages I got the following feedback: See https://github.com/spack/spack/pull/26840#issuecomment-949995031

as reported by @bernhardkaindl

[2021-11-04 12:59] andre-merzky opened #880 "configure fails to accept Python 3.10.0"
I see flux deployment fail in a conda env with the Python 3.10.0:

[code]

[code]

It seems like `configure` has an incorrect lexical check in one place:

[code]

which presumably comes from  `config/ax_python_devel.m4`:

[code]

FWIW, `aclocal.m4` defines an `AM_PYTHON_CHECK_VERSION` macro which does the right thing (comparing hexversion instead of version string).

Happy to prepare a PR but am n

[2021-11-04 14:03] garlick commented on #880
Ah thanks for running this down!  A PR with your proposed change would be welcome.

[2021-11-04 16:42] andre-merzky commented on #880
@dongahn - thank you, that's appreciated! :-)

[2021-11-04 17:27] dongahn commented on #880
I think the patch used in ZFS can be reused:

https://cgit.freebsd.org/src/commit/?id=08cd0717359b1a18693e3c8e6d6e5a2819b35a48

This way we don't have to reinvent the wheel and by having a comment where the patch comes from, we can refer back to it if something else creeps up?

[2021-11-04 17:37] grondo commented on #880
I don't like the idea of adding more build requirements (e.g. the approach taken by zfs seems to require the `packaging` module? not sure how standard that is)

We should just try pulling the [latest version](https://git.savannah.gnu.org/gitweb/?p=autoconf-archive.git;a=blob_plain;f=m4/ax_python_devel.m4) of `ax_python_devel.m4` from autoconf-archive and see if that works?

[2021-11-04 17:41] dongahn commented on #880
Ah do we already have a fix from the upstream? That'd be the best.

[2021-11-04 17:42] dongahn commented on #880
And yes I was looking into `packaging` or `distlib` module used in the check and having the similar thought.

[2021-11-04 17:42] grondo commented on #880
Also, does flux-sched actually use `PYTHON_LIBS` and `PYTHON_CFLAGS`? This macro might not even be needed in projects which don't build python bindings...

I haven't checked yet. I'll have to find a system or container with Python 3.10.x to verify.

[2021-11-04 17:51] dongahn commented on #880
That's a great question. My guess is not. This probably came to flux-sched through flux-core and this could be an overkill. Perhaps solution is to just check the python version with `AM_PYTHON_CHECK_VERSION` since it correctly handles the version comparison. Let me try this.

[2021-11-04 21:23] grondo commented on #880
Thanks @jameshcorbett!

We've got a proposed fix over in flux-core as flux-framework/flux-core#3939. It would be great if you can comment on the solution (it is a little kludgy)

I think for flux-sched, we should proceed with an attempt to remove `ax_python_devel.m4`, assuming it isn't really required.

[2021-11-04 21:24] garlick commented on #880
@jameshcorbett - see the proposed solution over in flux-framework/flux-core#3939

As for what to do in flux-sched and flux-accounting.  Hmm, removing ax_python_devel.m4 and applying this diff _seems_ to work.  I'll propose something.
[code]

[2021-11-05 03:41] #880 closed

[2021-11-10 07:08] dongahn commented on #876
PR #879 resolves this.

[2021-11-10 07:08] #876 closed

[2021-11-10 07:08] dongahn commented on #875
PR #878 resolves this.

[2021-11-10 07:08] #875 closed

[2021-11-10 07:13] dongahn commented on #833
With PR #875 and PR #878, this can be tested. I will use an interim submit interface by working with @ryanday36.

We still need flux-core https://github.com/flux-framework/flux-core/pull/3944 and RFC https://github.com/flux-framework/rfc/pull/302 to be merged though.

[2021-11-10 07:13] #833 closed

[2021-11-11 17:03] grondo commented on #877
Not fixing this is causing issues getting spack packages accepted, we should try to get these simple changes into the next release perhaps.

[2021-11-11 17:04] dongahn commented on #877
Ah... I will put this into our Nov milestone target. Should be straightforward to fix (though I haven't looked into details just yet).

[2021-11-11 19:39] grondo opened #886 "`matcher_util_api_test_01` SIGABRT on `make check` in spack with gcc@11.2.0"
[code]

[code]

[2021-11-11 19:42] grondo commented on #886
In case it is helpful:
[code]

[2021-11-11 20:05] dongahn commented on #886
Thank. GCC 11 is giving trouble to the newly added unit test for moldable jobspec. I will try to repro this and fix.

[2021-11-12 01:33] grondo commented on #886
FYI - I was able to get tests to pass by forcing `yaml-cpp@0.6.3` instead of `yaml-cpp@0.7.0`. Maybe not GCC 11, or maybe a combination of GCC 11 with yaml-cpp v0.7.0?

[2021-11-12 01:34] grondo commented on #886
For now I will pin yaml-cpp to 0.6.3 in the flux-sched spack recipe (I'm not sure of a better way to handle it)

[2021-11-12 01:41] dongahn commented on #886
Thanks.

Ugg... if so, this might be the second case where a bug in our dependency causes us a headache through random permutation.

[2021-11-12 01:47] grondo commented on #886
Yeah, the non reproducible and ever changing environment of spack builds make maintaining a spack package that works for everyone a real challenge! This is what spawned OS distributions in the first place :wink:

[2021-11-18 07:30] milroy opened #889 "Implementing reapi_cli_t::initialize induces dependency on libresource.la in sched-fluxion-qmanager"
PR #888 adds `reapi_cli_t::initialize` which constructs a Fluxion `resource_context_t` and uses `resource_model::create_match_cb` and other such functions.  Unfortunately, this has the side effect of making sched-fluxion-qmanager dependent on libresource.la.  This is because, e.g., `queue_policy_bf_base_t<reapi_type>::allocate_orelse_reserve` calls `reapi_type::match_allocate` which uses functions

[2021-11-27 19:37] dongahn commented on #877
Hmmmm. This doesn't seem to make sense since `planner.h` should be C.

[2021-11-27 23:50] bernhardkaindl commented on #877
No, it should be C++:

It's a header file, only included from C++.

Just in case: The extension `.h` doesn't make the C++ to become a C compiler magically.
(BTW, there is only one .c file in flux-sched.)

Therefore it should be named `planner.hpp` and it should `#include <stdef>`, see below.

I'm guessing that you might have one or two computers around which will happily confirm it when you give t

[2021-11-28 00:57] bernhardkaindl commented on #877
This installs gcc-11 and LLVM/Clang-13 on Ubuntu:
[code]
See: https://apt.llvm.org/

[2021-11-28 20:04] dongahn commented on #877
Thanks @bernhardkaindl for your explanation and suggestions!

The planner is C API with an C++ implementation. I just tested with GCC 11 on ubuntu 20.04 and found it misses `#include <stddef.h>`. Adding this should fix the issue and I am putting together a PR.

[2021-11-29 06:07] dongahn commented on #877
This was needed because

This happens because member `const std::string m_default_queue_name` has no copy or move constructor per `const`.

The proper fix should be just drop `const` from this member.

[2021-11-29 16:51] #877 closed

[2021-11-29 16:51] #860 closed

[2021-11-29 23:47] grondo opened #893 "Fluxion encodes execution.nodelist in different order than flux-core expects"
On fluke, when a job is distributed such that a different number of cores are allocated on different nodes, we sometimes see an error such as this:
[code]

Even though R ostensibly allocated `core[0-2]` on `fluke94`.

Running the problem down, it looks like a difference in how Fluxion encodes `execution.nodelist` in R compared to what flux-core expects. E.g. for this particular job we have R:
[cod

[2021-11-30 19:55] dongahn commented on #893
Thank you for the report. It seems like this is a straight-out bug. I will take a look.

[2021-12-02 16:58] dongahn opened #894 "A configurable multilevel ID match policy plugin."
We currently have no match policy that can apply higher level resource locality constraints for a Jobspec without corresponding higher level resource constraints specified, for example, `slot[4]->core[2]` as opposed to `node[2]->slot[2]->core[2]`.

- Issue #720 is one problem where this capability is required.

- Upcoming node-exclusive scheduling will require this for the same reason discussed [h

[2021-12-02 17:41] dongahn commented on #720
I am evaluating this issue using my WIP solution for Issue #894. It seems the new policies work well for this.

Jobspec 1: `slot[37]->core[1]` (e.g., `flux min run -n37`)
Jobspec 2: `node[2]->slot[19]->core[1]` (e.g., `flux min run -N 2 -n37`)
Cluster 1: `cluster->node[32]->core[36]`

#### New match policy called: 'lonode'
Configuring the multilevel id policy to enforce node-level locality constra

[2021-12-13 22:25] jameshcorbett opened #896 "Integer overflow in jobspec parsing"
@dongahn and I found that when a jobspec has an integer field with a value too large, it causes an error:

[code]

I ran into the error by specifying Rabbit storage sizes in bytes. An easy-enough workaround is to specify storage sizes in some larger unit instead.

[2021-12-14 04:34] dongahn commented on #896
Thanks. We should add an range check into our jobspec parser

[2022-01-06 07:15] #720 closed

[2022-01-07 15:39] Treece-Burgess opened #897 "Job timeouts when submitting 10,000 jobs"
Upon submitting 10,000 short lived jobs to Flux, some of the jobs managed by Flux fail.
We also do see a relationship of how many jobs fail depending on the job length, with shorter jobs being more likely to fail.

For example:
For a job length of 0, we observe a median of **860** failed jobs
For a job length of 5, we observe a median of **214** failed jobs
For a job length of 10, we observe a med

[2022-01-07 16:02] garlick commented on #897
Thanks - would you be able to post any details of the failures you are seeing?

FWIW, I tried the repro script under `flux start --test-size=32` using the simple fifo scheduler included in flux-core and did not see any failures.  I'll try again with the fluxion scheduler and see if I can reproduce something in that environment.

[2022-01-07 17:31] garlick commented on #897
No luck reproducing any failures with fluxion in the standalone test environment, nor with the older versions of flux referenced above.

One thing I am seeing which is strange, is that with flux-core 0.29.0 (regardless of scheduler), the test script only submits (exactly) 1K jobs, but under current head, it runs all 10K.  Same test arguments, and no errors reported in either case.

[2022-01-07 21:59] grondo commented on #897
I was able to reproduce some failures by lowering the grace period to 5.0 from 20.0 in `reproducer.py`:

[code]

I then had 8 failures of two different types:

First a failure for a job to start before its resource expiration:

[code]

And then a few jobs failed after starting due to hitting their timeout. Likely due to a long delay between when resources were assigned and the job actually was abl

[2022-01-13 21:05] garlick opened #898 "R is pretty big"
Not a bug per se, but our sys admins have expressed concern that R is going to be _huge_ for a big cluster.  I guess it remains to be seen what problems, if any, this causes.

The one for fluke (128-ish nodes) is already pretty big
[code]

I couldn't remember whether we have a plan to relax the requirement for JGF in the scheduling key, such as when it adds no additional information.  Without it,

[2022-01-13 22:04] dongahn commented on #898
This can be a problem at some point but not immediately. We have tested this at the full scale of Summit with 4K nodes as well as emulated environment. Having said that, I mention this is an area to improve. Also by the time we will have rlite reader, the JGF in the system instance won't be required. (though this may not solve the problem with El Cap).

[2022-01-13 22:21] grondo commented on #898
I think the sysadmins are more concerned about maintaining such a large file in their configuration management software. However, we've proposed that perhaps the `R` can be amended at deployment with `flux ion-R`, though I'm sure they'll appreciate when JFG in system instance isn't required (maybe that is the main ask in this issue, when will Rlite reader be available for Fluxion?)

[2022-01-13 22:35] dongahn commented on #898
Subject to my  perennial lack of engineering time.

I will see if I can recruit someone else to do this -- should be pretty straightforward.

[2022-01-14 16:46] jameshcorbett opened #899 "Cray-Shasta (Perlmutter) rv1_bootstrap test failures"
I don't really know what's going on in these tests so I will just post the whole output. There are ``rv1_bootstrap2`` failures as well, will post them once they finish running (with all these timeouts, they take a while).

[code]

[2022-01-14 16:59] dongahn commented on #899
Thanks @jameshcorbett for reporting this.

This test starts up a 4N flux instance (emulation using flux start) and submit a nested batch job that request *all* of the resources in the 4N. In the nested script, you load fluxion service modules and once's that done you submit a sleep 0 job across a subset of allocated resources.

The failure is happening as the parent instance times out waiting for

[2022-01-14 17:52] jameshcorbett commented on #899
Not sure there is any additional information here:

[code]

[2022-01-14 18:04] dongahn commented on #899
I believe this is the same issue that affected `rv1-bootstrap.t`

[2022-01-14 18:47] grondo commented on #899
[code]

It kind of seems like the nested job didn't get started. Not sure if it is useful,  but some newer tools could aid a small amount in debugging here, e.g. try the following patch to see what is happening to the job before we wait for the `R` to be written from the nested job:

[code]

In my (working) environment, I see:

[code]

If the nested job is failing, you could ptentially redirect ou

[2022-01-14 19:08] jameshcorbett commented on #899
Thanks @grondo. There was one other test failure ``FAIL: t3301-system-latestart.t 12 - two node job can now run``. Looking at the output I discovered the source of the issue---interactions between flux-sched and flux-coral2. If I don't build flux-coral2, all the tests pass. I'll talk with Dong about it later today to see if we can do anything about it.

[2022-01-14 22:56] jameshcorbett commented on #899
Closing this as it is really a flux-coral2 problem.

[2022-01-14 22:56] #899 closed

[2022-01-23 08:16] #894 closed

[2022-01-29 18:17] dongahn opened #903 "Need a CI coverage for more recent versions GCC"
GCC11 would be a good target, for example, per https://github.com/flux-framework/flux-sched/pull/902#issuecomment-1024960275.

[2022-01-29 18:22] garlick commented on #903
The flux-core fedora34 builder runs with gcc11.  Maybe we can bring that over.

[2022-01-29 18:23] dongahn commented on #903
Oh great point!

[2022-02-17 17:36] grondo commented on #903
Fixed by #905

[2022-02-17 17:36] #903 closed

[2022-02-17 17:41] dongahn commented on #903
Thank you @grondo !

[2022-02-18 15:29] grondo opened #907 "hang in t1011-dynstate-change.t during job cleanup"
As reported in #906, the `t1011-dynstate-change.t` test appears to be hanging regularly in ci at the job cleanup step.

[2022-02-18 21:51] grondo commented on #907
Ok, the failure actually occurs much earlier:
[code]

The hang is because there is no scheduler loaded at the end of the test, so the final job can't exit CLEANUP state.

[2022-02-18 22:56] dongahn commented on #907
I can take a look more but `.scheduling` key could be missing if the R emitter didn't use the full `rv1` but `rv1_nosched`.

[2022-02-18 23:01] grondo opened #908 "t1006-qmanager-multiqueue.t fails"
Running in a local bionic container, I get consistent failures from `t1006-qmanager-multiqueue.t`. Since this test works in CI, it must be something environmental, but I'm not sure how to debug:

[code]

[2022-02-18 23:14] grondo commented on #907
That appears to be the default?

https://github.com/flux-framework/flux-sched/blob/4d7a4de50070333bd1f75671ca553477db227b7c/resource/modules/resource_match.cpp#L310-L320

If `rv1_nosched` is the default should Fluxion be able to read R from jobs without `.scheduling` key? For now, I will try forcing `match-format=rv1` for this particular test, since the Fluxion modules are explicitly reloaded and

[2022-02-18 23:19] grondo commented on #907
FYI - I haven't been able to reproduce the problem locally since adding `match-format=rv1` to all  invocations of `load_resource` in that test. I'll try in CI now.

[2022-02-18 23:29] grondo commented on #907
I wonder if the successful runs in the existing test are able to complete the `free` request to the scheduler before it is unloaded, while the failing cases the job is still in CLEANUP when the modules are loaded again, and therefore R is only in the hello response in this case. I'm assuming in the normal condition of the `free` request the `R` for the job is not used to free resources but instead

[2022-02-18 23:51] dongahn commented on #907
Yes, this is the default because our main users are workflow users and not having `scheduling` can help with throughput.

[2022-02-19 01:50] grondo commented on #907
Thanks, then this probably confirms my guess above. Should a Fluxion resource module loaded with `rv1_nosched` emitter also be able to ingest an _R_ without `scheduling` key? It seems the resource module emits _R_ that it cannot ingest.

In any case, the fix for this test is to either run with `rv1` emitter, or ensure the test waits for all active jobs to post a `clean` event before reloading the

[2022-02-19 15:31] grondo commented on #908
That fixed it! I'll put this change and the other test fix into a PR. Thanks!

[2022-02-20 16:36] #772 closed

[2022-02-24 06:54] #907 closed

[2022-02-24 06:54] #908 closed

[2022-03-02 18:08] ryanday36 opened #912 "incorrect core counts from 'flux ion-R encode' for heterogeneous cluster"
In some cases, a cluster may have, for example, login nodes with fewer cores than compute nodes. Consider a cluster 'foo' with a management node 'foo2' with 2 cores, a login node 'foo3' with 1 core, and two compute nodes foo[1,4] with 2 cores that is encoded as:

[code]

In this encoding, the 'flux R encode' has listed ranks 0,2-3 has having 2 cores and rank 1 as having 1 core, but 'flux ion-R enc

[2022-03-02 18:17] grondo opened #913 "update handling of duration=0 to match RFC 14 specification"
A pending PR against RFC 14 (flux-framework/rfc#315) updates the required behavior of schedulers when jobspec `duration` is unset (`duration=0.`).

This new specification requires that schedulers propagate the expiration set in _R_ upon resource acquisition into Rv1 fragments allocated to jobs when duration is not set. That is, if the jobspec does not indicate a duration, then at a minimum the cur

[2022-03-02 18:26] ryanday36 commented on #912
I should also note that one practical effect of this is errors / warnings at job allocation. e.g. on corona, we have three login nodes with 24 cores vs. compute nodes with 48 cores. If I list those login nodes before the compute nodes when generating R, I see things like:
[code]
Listing the login nodes last when generating R, so that they get the correct core counts from `flux ion-R encode` elimin

[2022-03-02 18:30] grondo commented on #912
Oh, you know there was also an existing issue that may be related: #893. I had thought this was fixed but the issue is still open, so now I'm uncertain...

[2022-03-02 18:55] ryanday36 commented on #912
So, maybe too many moving parts here. The error from `flux mini alloc` doesn't actually go away unless I also put the login nodes last in the `hosts` section of `bootstrap.toml` (so it matches the order in `R`). There's also some weirdness in the output of `flux resource list` that I think probably deserves its own issue. When I list the three login nodes before the compute nodes in `bootstrap.tom

[2022-03-02 18:57] grondo opened #914 "flux-sched-0.21.0.tar.gz is missing a file"
The file `doc/man5/flux-config-sched-fluxion-resource.rst` is missing from the `flux-sched-0.21.0.tar.gz` tarball because of a missing line continuation character in `doc/Makefile.am`.

We may need to generate a new tag to be able to build RPMs.

[2022-03-02 18:59] dongahn commented on #914
Ugg. Will work on that. Would 0.21.1 work?

[2022-03-02 18:59] grondo commented on #914
BTW, I'm not sure why `make distcheck` didn't catch this. (seems like it should  have?)

[2022-03-02 18:59] grondo commented on #914
I have a PR ready to go I'll push in a moment. Yeah a `0.21.1` will work fine

[2022-03-02 19:03] dongahn commented on #912
Could be the same bug as https://github.com/flux-framework/flux-sched/issues/893

[2022-03-02 19:10] grondo commented on #912
Yes, the `hostlist` in Rv1 is in strict rank order.

[2022-03-02 19:12] grondo commented on #912
@dongahn,  is #893 still open? If it is fixed in 0.21.0, then we should have a fix for @ryanday36 soon. If it is not fixed, then do you have an estimated time to land a fix? Perhaps we should wait on 0.21.1 until #893 is fixed.

[2022-03-02 19:17] grondo commented on #912
Just to clarify, the way to use the `hostlist` in R is to encode it as a `struct hostlist` or `Hostlist` in Python, and then to translate rank to hostname just do `hostlist_nth (hostlist, rank)` or `hostlist[rank]` in python.

[2022-03-02 19:27] grondo commented on #912
I could probably take a look at modification of `flux-ion R`, but unfortunately I fear I may not be familiar enough with Fluxion to help with the R reader.

[2022-03-02 19:30] dongahn commented on #912
I will take a quick look. Let me see if I can carve out some time tonight. Cannot be difficult (famous last word :-)

[2022-03-02 20:52] #914 closed

[2022-03-02 21:35] grondo commented on #912
Hi @dongahn, it wasn't clear to me if you wanted me to take a stab at fixing this issue, or were you going to work on both this and #893? Happy to help in any way.

[2022-03-03 04:25] dongahn commented on #912
OK. I have a patch for this `flux ion-R` issue along with some test cases. I will put together a PR for this shortly.

[code]

[2022-03-03 04:26] dongahn commented on #912
Sorry I wasn't clear. I was going to look at both of the issues.

[2022-03-03 04:33] grondo commented on #912
Great, thanks!

[2022-03-03 06:56] dongahn commented on #893
I believe I have a patch for this as well. I will throw this into the existing PR #916.

[code]

[2022-03-03 07:17] dongahn commented on #889
@milroy: is this still and issue?

[2022-03-03 15:46] dongahn commented on #873
`flux mini submit` could fail at https://github.com/flux-framework/flux-sched/blob/master/t/t1017-rv1-bootstrap.t#L34 because of the race between load complete time and scheduler ready time. This could possible lead to a hang at $WAITFILE line.

[2022-03-04 18:56] grondo commented on #868
An Rv1 reader will also be required when `rv1_nosched` emitter is configured as the default, and the system installed libhwloc is not configured to properly detect GPUs. Otherwise GPUs allocated to jobs by the system instance scheduler will presumably not be detected in Rv1 by the sub-scheduler, which has to fall back to an hwloc reader.

This will be an issue presently on our corona deployment, s

[2022-03-04 18:59] grondo commented on #868
BTW, in flux-core our near term solution will be to avoid verification of GPU resources in R, thus the flux-core `resource` module will simply pass these through to the scheduler as configured by sysadmins. The scheduler therefore must be able to use the resources thus configured...

[2022-03-04 19:12] dongahn commented on #868
Noted

[2022-03-05 01:08] #912 closed

[2022-03-05 01:08] #893 closed

[2022-03-10 17:28] dongahn commented on #815
@SteVwonder: I believe something like this can be achieved using the multi-level factor schemed used in https://github.com/flux-framework/flux-sched/blob/master/resource/policies/dfu_match_multilevel_id_impl.hpp. I reserve my right to reopen this in case we need even higher programmability :-) or you disagree.

[2022-03-10 17:31] dongahn commented on #627
PR #910 added this support.

[2022-03-10 17:31] #627 closed

[2022-03-10 17:33] dongahn commented on #756
This was recently hit by @grondo as well. I believe an error in hwloc reader in handling a malformed (?) storage object within hwloc in dealing with certain storage types.

[2022-03-10 17:35] dongahn commented on #756
https://github.com/flux-framework/flux-sched/pull/909.

But it would be best to fix at the hwloc reader level. Keeping it open.

[2022-03-10 17:36] dongahn commented on #889
@milroy: I will close this for now since I think this has been addressed. If you disagree, we can reopen.

[2022-03-10 17:37] dongahn commented on #248
We no longer use Travis.

[2022-03-10 17:37] #248 closed, assigned to nobody

[2022-03-10 17:38] dongahn commented on #486
Not relevant any longer.

[2022-03-10 17:38] #486 closed

[2022-03-10 17:39] dongahn commented on #532
This is too large at this point. When we find a need for memory optimization, we will open smaller issues.

[2022-03-10 17:39] #532 closed

[2022-03-10 17:40] dongahn commented on #534
This is good to have but not actionable for now. We can reopen this when we need this optimization.

[2022-03-10 17:43] dongahn commented on #550
@cmisale is adding memory scheduling as part of KubeFlux. If she sees issues with the current memory scheduling support, she either can use this ticket or create a new one.

[2022-03-10 17:45] dongahn commented on #624
I think flux-core also `core` as `core` not as `pu` so I will close it. If this needs to be reopened, please let me know.

[2022-03-10 17:45] #624 closed

[2022-03-14 16:15] jameshcorbett opened #919 "Resource discovery on El Cap systems"
On El Cap systems we will need a way to encode resource and scheduling information that also includes DWS rabbit information. From DWS we can get a list of compute nodes and rabbits, and their connectivity (which rabbits are on the same rack as which compute nodes). But we can't get CPU/GPU information about the compute nodes. So we will need to figure out how to reconcile the R from something lik

[2022-03-14 16:35] jameshcorbett commented on #919
Yeah, you're right. Moved.

[There is a Python script in flux-coral2](https://github.com/flux-framework/flux-coral2/blob/master/src/cmd/flux-dws2jgf.py) that will read DWS and produce R-lite+JGF, so it goes around both `R encode` and `ion-R encode`. But I think it does make sense to take basic R information (compute nodes, cores, gpus), let `ion-R` make its JGF, and then add the rabbit information

[2022-03-14 16:52] grondo opened #920 "allow a subset of ranks to be scheduled as node-exclusive"
As discussed in flux-framework/flux-core#3143 (and specifically [this comment](https://github.com/flux-framework/flux-core/discussions/3143#discussioncomment-1411124)), we'd like the ability to run clusters with some resources/queues scheduled node-exclusive, while others are scheduled at the individual resource level.

Currently (unless I'm mistaken) the match policy of the Fluxion resource modul

[2022-03-14 18:28] dongahn commented on #919
@grondo and @jameshcorbett:

A first step could be: see what it takes to merge the `flux R encode ...` configured RV1 (no sched) object with the JGF object from DW in the first place.

The info from RV1 nosched object and DW JGF object intersects but one is not a subset of another. The RV1 nosched object has flux rank info which the DW JGF does not have. The DW JGF has richer resource type (multi-

[2022-03-15 07:28] dongahn commented on #868
rv1exec reader support seems pretty straightforward. Although I haven't hooked my current work into `sched-fluxion-resource` module. At least, I implemented a new reader into `resource/readers/resource_reader_rv1exec.hpp|cpp` and integrated this into `resource-query` to build up my tests.

Just to confirm, `resource_reader_rv1exec_t` class inherits from `resource_reader_base_t` class and implement

[2022-03-16 02:33] dongahn commented on #868
I checked in the current revision: https://github.com/dongahn/flux-sched/tree/rv1-reader. I will revise that slightly before posting a PR.

[2022-03-16 02:33] dongahn commented on #898
Once the PR mentioned in https://github.com/flux-framework/flux-sched/issues/868#issuecomment-1068669617 lands, this problem will be solved.

[2022-03-16 02:45] garlick commented on #898
Thanks for making time for this work @dongahn - I know you are very busy.  I think it means we can get rid of the XML "reduction" in flux-core too, which has always bugged me since we already convert hwloc to Rv1 on each node and reduce that at much lower cost when dynamically discovering resources.

[2022-03-16 03:49] dongahn commented on #898
This is a good feature to have and I have meant to tackle that since Nov last year. Thank you for being patient with me!

[2022-03-16 07:02] dongahn commented on #920
Thanks.

At first glance, it seems to require a multi-step investigation. It is hard to scope how much work will be needed when we don't even have a simple multiqueue support within sched-fluxion-resource. It seems what we will need:

1. Add simple multi-queue support into `sched-fluxion-resource`. The initial level of support can be 1) being able to apply different queuing/back-filling policies a

[2022-03-16 14:38] grondo commented on #920
Just for my own curiosity, If you allowed a property, say `exclusive`, to be attached to each resources, could the traverser use this property to emit shadowed resources? This would get the required functionality without all the work on multi-queue support. (Though perhaps there is an argument that this approach isn't very useful,  because it could allow a job to be scheduled on both exclusive and

[2022-03-16 15:52] dongahn commented on #920
`exclusive` is already a key of a resource so that this can be done through that key. I think that's what you meant but I wanted to make sure. IOW, I don't think we don't need the property support similar to https://github.com/flux-framework/rfc/pull/314 for this purpose.

Yes, this can be done. We attach "node" as the globally exclusive at the matcher class that express match policies to the trav

[2022-03-16 16:03] grondo commented on #920
Ah, great!

Sounds good, thanks.

[2022-03-31 17:00] dongahn opened #923 "Use a tab instead of 4 whitespaces when cat <<-EOF is used"
As noted at https://github.com/flux-framework/flux-sched/pull/921#discussion_r839756041, this pattern is pervasive within flux-sched and we want to fix them in a single PR.

[2022-03-31 17:01] #898 closed

[2022-03-31 17:03] #799 closed

[2022-04-01 22:28] dongahn commented on #828
During manual testing for https://github.com/flux-framework/flux-sched,  I spent way too much time to debug a problem which ends up being caused by this deficiency. I will see if I can fix this as a separate PR.

Two possibilities:
1. Change code to live without assuming a path be always unique
2. Make a path be unique by augmenting the hostname component of the path with uniq_id.

[2022-04-03 00:26] garlick opened #925 "hwloc reader uses resource.get-xml RPC which is scheduled for removal"
flux-framework/flux-core#4263 removes the `resource.get-xml` RPC since fluxion now has the rv1 reader, but this causes some tests to fail:
[code]

@dongahn could you advise what should happen with those tests?  I think it is exercising the hwloc reader, which depends on the removed RPC [here](https://github.com/flux-framework/flux-sched/blob/d4118327916d146e7b3b4111b9b7ca7de9e73901/resource/module

[2022-04-04 15:25] garlick commented on #925
We've decided to push flux-framework/flux-core#4263 off to next month's release but it would be good to get at least this stopgap PR into this month's fluxion release so that we won't have a lock-step upgrade requirement next month.

[2022-04-06 16:33] garlick opened #927 "ensure test cases are still covered after hwloc deprecation in flux-core"
Problem: flux-core is deprecating the `resource.get-xml` RPC but it is still used by the hwloc reader in fluxion.

PR #926 disabled a few tests that used the hwloc reader.  Those tests should be audited to ensure the cases they cover are also checked with the rv1 reader.

Perhaps the hwloc reader should be removed.

One  side note: the flux-core resource module can still use hwloc xml to set up te

[2022-04-06 20:44] grondo opened #928 "add test case for `flux mini --exclusive` flag"
Jobspec V1 ([RFC 25](https://flux-framework.readthedocs.io/projects/flux-rfc/en/latest/spec_25.html)), now specifically allows an `exclusive` key to be set on a `node` resource vertex in order to request a exclusive node access. Also, the `flux mini` commands now include an `--exclusive` flag which the user may supply (with `-N`) to set this key. The `--exclusive` flag is also implied when `-N` is

[2022-04-13 18:52] wkharold opened #931 "flux mini run fails on Spack built flux-sched"
Built flux-sched on CentOS 7 with Spack 0.17.1

running ```flux mini run -n4 --label-io hostname``` failed with

    2022-04-13T16:46:43.100676Z job-ingest.err[0]: validator[0]: exited with rc=1
    flux-mini: ERROR: [Errno 71] Unrecoverable error: validator unexpectedly exited

It failed after a Slurm `salloc` and after `flux start --test-size=4`

[2022-04-13 20:45] grondo commented on #931
can you paste the output of `flux dmesg` after a failure? That should show the output of the failing validator (my guess is some Python issue)

[2022-04-14 13:54] wkharold commented on #931
sure. here's a [gist of the output](https://gist.github.com/wkharold/68aa609a92da152667f7af0af6cd772b)

TL;DR it appears to be complaining about not finding the 'jobspec' validator plugin

I'm pretty sure this worked without a problem when I manually installed on Rocky Linux. This installation was automated, using spack, as part of a Slurm cluster install.

[2022-04-16 02:38] milroy opened #932 "Successful match is policy dependent"
During KubeFlux testing, I discovered that for a given jobspec `lonode` and `hinode` policies do not return a successful match, while `low` and `high` do.  Furthermore, `hinode` and `lonode` match behavior is inconsistent with expectation.

Here's the zipped JGF from a 16 `hpc6a` node AWS EKS cluster: [cluster.json.zip](https://github.com/flux-framework/flux-sched/files/8499108/cluster.json.zip),

[2022-04-16 17:17] dongahn commented on #932
@milroy: thank you for reporting. Will take a look. At first glance,

Given that, `lonode` and `low` policies only differ by the fact that we add "node" as the primary high level resource scoring factor: https://github.com/flux-framework/flux-sched/blob/master/resource/policies/dfu_match_policy_factory.cpp#L48.

This problem would have something to do with applying node-level scoring factor or tie

[2022-04-16 22:03] dongahn commented on #932
@milroy: this is clearly a bug. I test this with on $1 testing as below and things start to work correctly. I think this has to do with some nodes have high value and the default node-level score multiplier of 10000 is leading to some error. (Need some more testing if this is an overflow or some other things. But this should be robustified def.) Thank you for catching and reporting this and sorry

[2022-04-16 22:05] dongahn commented on #932
Test script:

[code]

Outputs:
[code]

[2022-04-16 22:16] dongahn commented on #932
FYI -- On the other hand, "first" policy still show some issues so that need to be looked at well.

[2022-04-17 07:11] milroy commented on #932
Yes, I saw problems with the `first` policy as well.  I thought the behavior was different so planned to create a separate issue.

I'll see if it's fixed by your change above and if so will post details here as part of the same bug.

[2022-04-19 02:44] dongahn commented on #932
@milroy: the following seems to fix my case with `first` as well. When I post a PR, it would be good to test it w/ your reproducers as well.

[code]

[2022-04-19 04:35] dongahn commented on #932
@milroy: I determined that this is a classical integer overflow bug due to the use of a 32-bit integer in place of a 64bit integer.

[code]

I will create a PR with this and some test cases when I can circle back to this.

[2022-04-27 17:07] #932 closed

[2022-05-05 14:44] grondo opened #936 "spack user reports compiler error due to invalid integer comparison in reapi_cli_impl.hpp on gcc 9.4.x"
See https://github.com/spack/spack/issues/30480 for details.

The explicitly offending comparison is here:

https://github.com/flux-framework/flux-sched/blob/6935cd092cec2503fe03b498bef1ec818b78497e/resource/hlapi/bindings/c%2B%2B/reapi_cli_impl.hpp#L597-L599

where `jobid` is a `uint64_t` being compared to an `int64_t`. I actually don't understand this test. Since `flux_jobid_t` is defined as `ui

[2022-05-05 20:56] grondo commented on #936
I did verify that this patch works too

[code]

[2022-05-09 16:39] #936 closed

[2022-05-09 17:07] dongahn opened #938 "Use of signed 64bit integer for jobid"
From https://github.com/flux-framework/flux-sched/pull/937#issuecomment-1121351522:

There are a few places in the fluxion code that return -1 or jobid to check error conditions and we have assumed jobid won't exceed the max of int64_t. The ticket is opened in case this can be a problem.

First action: find the place where the max of int64_t is assumed.

[2022-05-09 17:30] grondo commented on #938
This might not be a practical problem, though it requires more study. I _think_ a `flux_jobid_t` will not overflow `INT64_MAX` until after ~17 years, since the highest 40 bits of a FLUID is the time in milliseconds since the FLUID generator epoch. (See [RFC 19 - Flux Locally Unique ID](https://flux-framework.readthedocs.io/projects/flux-rfc/en/latest/spec_19.html#implementation)).

[2022-05-09 18:34] dongahn commented on #938
:-) Uptime of 17 years .... Sounds good on more studies

[2022-05-16 22:16] garlick opened #939 "resources are not scheduled fairly among competing queues of job requests"
Problem: when multiple queues are defined, fluxion schedules all jobs in the first queue before looking at the next queue.  The queues are thus implicitly prioritized according to the order defined, with no available mechanisms to prevent starvation or ensure progress for all queues.

So if for example we define a debug queue and a batch queue, all jobs from the debug queue would be assigned resou

[2022-05-16 23:47] dongahn commented on #939
Thanks @garlick. This captures our coffee discussion very well and thank you for opening up the issue to capture our discussion.

For the case we have multiple queues with overlapping resources, we will need more sophisticated cross-queue priority/fairness schemes.

1. It could be as simple as fixed queue priority scheme -- https://www.geeksforgeeks.org/multilevel-queue-mlq-cpu-scheduling/ (Althou

[2022-05-16 23:51] dongahn commented on #939
Maybe we could still do this through some per-queue limit as well: Schedule debug unless the resources it job uses go above 10% of resources etc.

[2022-05-19 03:32] dongahn opened #940 "Changes needed to support disjoint resource partitions using property constraints"
Per https://github.com/flux-framework/flux-sched/pull/922#issuecomment-1131135688

[2022-05-19 03:35] dongahn commented on #789
Hobbs plans to take a look at this per our today discussion with him and @jameshcorbett and @JaeseungYeom.

[2022-05-19 03:39] dongahn commented on #652
This is being addressed by PR #922

[2022-05-19 03:40] dongahn commented on #828
This has been addressed by PR #924

[2022-05-19 03:40] #828 closed

[2022-05-19 03:41] dongahn commented on #896
At least how `qmanager` handles the parse error from Jobspec has been improved by PR #652

[2022-05-19 03:53] dongahn opened #941 "Match support for a jobspec that contains same resource type siblings"
As documented in https://github.com/flux-framework/flux-sched/blob/master/resource/utilities/README.md and https://github.com/flux-framework/flux-sched/blob/master/resource/traversers/dfu_impl.cpp#L232, our resource graph infrastructure cannot handle a jobspec with same resource type siblings: e.g.,

[code]

But the class of jobspec has lots of use cases including support for upcoming rabbit multi

[2022-05-19 05:49] dongahn opened #942 "add operator support for RFC 31"
From https://github.com/flux-framework/flux-sched/pull/922#issuecomment-1131135688

This would involve three steps:

1. Add operator-aware property parsing into libjobspec at: https://github.com/flux-framework/flux-sched/blob/master/resource/libjobspec/jobspec.cpp#L332
2. Build what akins to an JsonLogic object in job metadata builder at:  https://github.com/flux-framework/flux-sched/blob/master/r

[2022-05-19 17:03] grondo commented on #913
@dongahn - this is another issue we may want to address near-term, so any pointers on where to start an implementation would be much appreciated.

Given that flux-core now has a jobspec duration validator, the only thing left to implement in Fluxion is for the rv1 emitter to propagate any `expiration` in `resource.R` into emitted Rv1 when the jobspec has specified `duration = 0`.

[2022-05-19 17:18] dongahn commented on #913
Yup. I will take a look and add some thoughts.

[2022-05-19 19:07] dongahn commented on #913
I will look at this more carefully later but per our discussion today. This is the configuration header that I used as a stand-in:  https://github.com/flux-framework/flux-sched/blob/master/resource/config/system_defaults.hpp#L18

[2022-05-20 05:36] dongahn commented on #941
@jameshcorbett: Hmmm it looks to me like quite involved. One path forward would be actually to combine both ideas: on-the-fly jobspec splitting and subtree loop traversal. I was trying to get a very simple case working but the code change needed just to get to that point was too much for a short period of time.

The idea would be to split the jobspec on the fly when you have same resource typed si

[2022-05-20 05:58] dongahn commented on #913
R will be acquired by these points within sched-fluxion-resource:
https://github.com/flux-framework/flux-sched/blob/master/resource/modules/resource_match.cpp#L1230
https://github.com/flux-framework/flux-sched/blob/master/resource/modules/resource_match.cpp#L1202

Then, the duration in R should be propagated to the resource infrastructure and get to
https://github.com/flux-framework/flux-sched/blo

[2022-05-20 16:19] dongahn commented on #941
Another potentially easier viable path would be still use one-path traversal with some match test tweaks which should require many architectural changes...

Currently the main reason that same resource-typed sibling requests cannot be supported is mainly because each can match with a visiting vertex and esp. with the globally best matching policies (all but "first"), the traverse will exhaustively

[2022-05-20 16:24] grondo commented on #913
￼An instance may have unlimited duration in at least the following cases:
 * system instance
 * instance started as a job under Flux or a foreign RM where the job has unlimited runtime
 * test instance started locally with flux-start

[2022-05-20 16:36] dongahn commented on #913
Thanks -- these sound all compatible. Maybe this sounds like a reasonable first task for @JaeseungYeom to get his feet wet.

[2022-05-23 18:22] wihobbs commented on #789
@jameshcorbett and I are discussing which subfolders should be included in the RTD documentation and plan to bring this up at coffee hour today. Currently, I plan to use the Doxyfile in `/resource` and add breathe/exhale under the `conf.py` file in `/doc`.

[2022-06-23 00:48] jameshcorbett opened #946 "Dynamic restrictions on job resource placement"
Following up on a coffee hour discussion with @grondo and @milroy , when users request persistent rabbit allocations which are independent of compute node jobs, users will need to be able to submit jobs which can use the rabbit allocation. For Lustre allocations, which communicate with compute nodes over the network, this introduces no issues. But when persistent rabbit allocations are for one of

[2022-07-11 18:33] jameshcorbett opened #947 "`--exclusive` nodes do not have their full resources emitted in R"
When match policy is *not* `lonodex` or `hinodex` and nodes are requested exclusively with `--exclusive`, only the minimum matching resource set is included in the generated R, though the node is still allocated exclusively. See e.g. this output on Fluxion, where the system instance uses `lonodex` but single-user instances do not.

[code]

I think as long as a node is being allocated exclusively,

[2022-07-14 20:26] grondo opened #948 "compilation failure in Fedora 36 (GCC 12)"
This was reported by a user on Fedora 36:

[code]

[2022-07-21 18:29] jameshcorbett opened #949 "Support for partial, exclusive allocation of pool resources"
Fluxion has a limitation when it comes to pool resources.  From the `resource-query` docs:

    Please note that the granularity of exclusive allocation/reservation is the whole resource pool vertex, not anything less. Thus, if you want a more fined-grained exclusive memory allocation, for instance, you should first model your memory pool vertices with smaller memory unit (e.g., 256MB).

So our re

[2022-07-21 22:20] jameshcorbett commented on #919
Closing this as I think we have a working solution.

[2022-07-21 22:20] #919 closed

[2022-07-25 23:43] milroy commented on #947
I can reproduce the same behavior in `resource-query`.

After experimenting with the code, it looks like the issue is caused by the traverser. Unfortunately, the only way I can see so far to emit the "shadow" node resources along with those matched exclusively with the `--exclusive` option is to call  [`add_exclusive_resource_type ("node");`](https://github.com/flux-framework/flux-sched/blob/1f0a1

[2022-07-26 00:22] grondo commented on #947
Technically [yes](https://flux-framework.readthedocs.io/projects/flux-rfc/en/latest/spec_14.html#resources). Can the traverser check to see which resource type is marked as `exclusive` and set `add_exclusive_resource_type (type)` for each exclusive type?

For practical purposes, only the `node` type will be marked exclusive by our current Flux submission tools.

[2022-07-26 05:07] milroy commented on #947
Yes, I'll have to consider where best to do this. In my test (which fixes the issue) I inserted it before this line: https://github.com/flux-framework/flux-sched/blob/1f0a19ffe734c641675248bc6191b985b5e818da/resource/traversers/dfu_impl.cpp#L1174
but I don't think pulling apart the jobspec within `dfu_impl` is a good design choice.

[2022-07-26 16:31] wihobbs commented on #789
As a note to anyone trying this: flux-framework/flux-docs#51 describes in more detail what is needed here.

[2022-07-26 23:17] garlick opened #950 "support TOML queue configuration described in RFC 33"
Problem: fluxion queues are currently configured on the `qmanager` command line as in `t1006-qmanager-multiqueue.t`, but a framework wide queue TOML configuration was proposed in [RFC 33](https://flux-framework.readthedocs.io/projects/flux-rfc/en/latest/spec_33.html).

The RFC 31 style configuration will need to be implemented in fluxion.

[2022-07-27 02:04] milroy commented on #947
Since the jobspec resources are iterated through in other functions of `dfu_impl` it's probably fine to add checks there.

Adding the checks and a corresponding `add_exclusive_resource_type (type)` call when the type is `exclusive` causes 41 testsuite tests to fail because of the different emitted resources. I'll need to make sure the fix isn't actually introducing traversal errors, though.

[2022-08-01 22:00] ofaaland commented on #913
Hi @dongahn I added flux_log() calls for debugging to the two code points you mentioned in sched-fluxion-resource, and those functions are called after I issue "flux start" but not when I submit a job via "flux mini alloc" or "flux mini run".

My set up process was: I built and installed flux-core and flux-sched with --prefix=$fubar, set PATH=$fubar/bin/:$PATH, ran flux start -s3, then "flux modul

[2022-08-01 22:17] grondo commented on #913
@ofaaland, your results might be expected if you only instrumented the resource acquire process mentioned above (`resource_match.cpp`). The process is roughly:

 1. flux-core `resource` module "discovers" resource from parent's _R_ assigned to job
 2. fluxion module(s) start up and the fluxion-resource module calls the scheduler `acquire` protocol.
 3. flux-core `resource` module responds to the a

[2022-08-02 21:42] ofaaland commented on #913
OK, I improved my instrumentation a bit using ```flux_log_error```. The expiration received in the response to resource.acquire is reported on stdout.

| invoked | see expiration | see rsmi_init() error |
| ---------- | ------------------  | -------------------------- |
| flux start |  yes                |        yes                   |
| flux mini alloc |  yes        |        yes

[2022-08-02 21:50] grondo commented on #913
Resources only need to be discovered when starting a new instance. Since `flux mini run` is only running a parallel job _within_ an existing instance, not created a new instance, resource discovery is not done. Note that even if an existing R is found for a job that is running a new instance (`flux mini alloc`, `flux mini batch`), the flux-core `resource` module still calls into libhwloc to verify

[2022-08-02 21:53] ofaaland commented on #913
That makes sense, thanks

[2022-08-03 17:53] milroy commented on #947
I'm closing this issue since the fix in PR #951 is merged.

[2022-08-03 17:53] #947 closed

[2022-08-04 19:54] garlick opened #953 "flux-sched configure fails on TOSS 4 tce"
Problem: configure fails here in the default TOSS 4 tce environment
[code]
The compile command line appears to be truncated, e.g. this is the failing command:
[code]
This is what it looks like when it succeeds
[code]
So actually it's just invoking the preprocessor not the compiler.  Ah here's a clue, in the good config.log, CXXCPP='g++ -E' but in the bad one, CXXCPP=''.

See also: https://lc.llnl.

[2022-08-09 19:13] garlick opened #955 "job with unknown queue fails with no message explaining why"
Problem: if a job requests a non-existent queue, qmanager fails the allocation and logs a message that is only visible to `flux dmesg`.  Meanwhile, the person who submitted tjhe job gets an empty fatal exception:

[code]

dmesg says
[code]

Instead of logging, qmanager should fill in the third argument to `schedutil_alloc_respond_deny()`
[code]

Edit: there is another occurrence of respond_deny wi

[2022-08-10 17:42] #955 closed

[2022-08-15 18:36] garlick commented on #950
For a workaround, the qmanager module command line options also work from TOML, e.g.

[code]

If we initially require queues to be configured both here and in flux-core, we can get queues working without modifying fluxion.

[2022-08-15 19:01] garlick opened #960 "fluxion assigns queues to jobs"
Problem: if queues are configured, qmanager  assigns a default queue to jobs that don't specify one, but the default queue should be configured (and assigned) in flux-core not in fluxion.

If a queue is not specified, qmanager's configured `default-queue` is assigned, or if undefined, the first queue (lexicographically) is assigned.

To avodi confusion, fluxion should simply raise a fatal exceptio

[2022-08-16 01:01] garlick commented on #960
Also, the annotation of the queue in the alloc response should be dropped, as this is not information that the scheduler needs to provide.  Tools should instead be using the system.queue attribute in the jobspec.

[2022-08-18 19:13] garlick commented on #960
The test script `t/t1006-qmanager-multiqueue.t` will need to be changed as a result of this change.  That script might be a good place to start to understand how the current queue support is implemented in fluxion.

[2022-08-18 19:43] jameshcorbett opened #961 "CI: add test run of flux-coral2"
Some changes to flux-sched break things over in flux-coral2, see e.g. https://github.com/flux-framework/flux-coral2/pull/23 . Would be nice if there was a way to be alerted that this was going to happen by running the flux-coral2 testsuite on every flux-sched PR.

[2022-08-23 20:21] jameshcorbett opened #962 "Handle allocating fixed storage slices across unbounded number of rabbits"
For the OST part of Lustre FS's on Rabbits, Fluxion needs to satisfy the requested aggregate amount of storage slices, but we want to be able to do so without pre-specifying the number of Rabbits.  Currently, the flux jobspec can support an unbounded number of parent resources (e.g., rabbits), but the number of child resources per parent is still fix (e.g., storage slices per parent).

There is an

[2022-08-23 20:33] jameshcorbett opened #963 "Advanced reservation support"
Need to be able to make a reservation for resources at a fixed time in the future.  Useful for many things, one example of which is a planned downtime of a specific Rabbit in order to replace a failed drive.

Also useful in a more general context than El Cap for things like DATs.

See also https://github.com/flux-framework/flux-core/discussions/3271#discussioncomment-101280

[2022-08-23 20:43] jameshcorbett opened #964 "Support optimizations of Rabbit allocations based on HPE co-design heuristics"
Rabbit Load Balancing

-         Ensure that allocations are spread as broadly across the rabbits as possible (no rabbit "hotspots")
-         Ensure that MDTs from different jobs are distributed as much as possible (MDT is very CPU intensive)

DragonFly Topology

-         Start with allowing scheduling within just a single pod versus free-form across the entire cluster
-         Move towards min

[2022-09-01 00:00] grondo opened #965 "Implement `hostlist` operator for RFC 31 constraints"
A `hostlist` operator for RFC 31 job constraints is required to force inclusion or exclusion of nodes by hostname. E.g.:

[code]

would force the inclusion of the listed nodes, while hosts could be excluded by
[code]

[2022-09-15 17:08] milroy commented on #913
@grondo: I've made progress on this issue and think I'm close to posting a PR. I have a few questions before I can put it all together.

1. Does a jobspec `duration` get converted to RV1 `starttime` and `expiration`? If so, where does that happen in flux-core?
2. This `resource.acquire` line: https://github.com/flux-framework/flux-sched/blob/69d4061cee71915f08093430dd823115d22b96e2/resource/module

[2022-09-15 17:27] grondo commented on #913
The scheduler is responsible for adding RV1 starttime and expiration. This is done by `sched-simple` in flux-core [here](https://github.com/flux-framework/flux-core/blob/53808751873a728bba546aef976e1c91e18d397f/src/modules/sched-simple/sched.c#L181-L188):
[code]

Yes, updated expiration is not supported in [RFC 28/Resource Acquisition Protocol](https://flux-framework.readthedocs.io/projects/flux-r

[2022-09-16 13:53] garlick opened #967 "matcher_util_api_test01: yaml-cpp: error at line 1, column 93: bad conversion (and segfault)"
Problem: `resource/policies/base/test/matcher_util_api_test01` fails reliably after  test system upgraded to Ubuntu 22.04 (and libyaml-cpp 0.7.0).

[code]
The test right after the last "ok" one is this one
https://github.com/flux-framework/flux-sched/blob/69d4061cee71915f08093430dd823115d22b96e2/resource/policies/base/test/matcher_util_api_test01.cpp#L255

[2022-09-16 18:08] garlick opened #970 "qmanager looks for wrong key in hello response"
Problem: when qmanager re-acquires an active job on a restart, it looks for the job's queue in `attributes.system.scheduler.queue` but it should be `attributes.system.queue`.

I'm not sure what's going on here, but fixing it breaks `t1009-recovery-multiqueue`
[code]

[code]

[2022-09-16 20:56] garlick commented on #970
My bad, this is _R_, not jobspec, and the scheduler is storing the queue name in its private attribute area in R as described [here](https://flux-framework.readthedocs.io/projects/flux-rfc/en/latest/spec_20.html#attributes)

[2022-09-16 20:56] #970 closed

[2022-09-17 01:49] garlick commented on #960
@JaeseungYeom - FYI I've made some progress on this today and will get a PR posted shortly.

[2022-09-17 19:47] garlick opened #972 "qmanager annotates jobs sched.t_estimate = json null"
Problem: RFC 27 requires `sched.t_estimate` to be a double but in some cases, qmanager can write a value of JSON null.

[2022-09-17 22:34] garlick commented on #972
Sorry, this is incorrect.  I missed this in RFC 27:

Not a bug, closing.

[2022-09-17 22:34] #972 closed

[2022-09-20 01:32] #960 closed

[2022-09-22 19:28] garlick commented on #950
In the meeting today we discussed whether we should try to do this in the context of the `qmanager_opts_t` class or use the C approach used throughout flux-core, the gist of which is
- call `flux_get_conf (h)` to get the broker "config object", a `flux_conf_t`
- unpack what you need, for example the "queues" table as a jansson json object, with `flux_conf_unpack()`
- continue to parse using regula

[2022-09-25 23:06] garlick opened #975 "anonymous queue still allowed when queues are configured"
Problem: if [queues] are configured but no default queue, jobs submitted without a queue pass through to the scheduler where they get an exception
[code]
This should probably be caught by the `defaults` frobnicator plugin and rejected immedaitely.

[2022-09-26 16:55] garlick commented on #950
Just noticed that there are a couple more "per-queue" configuration variables in fluxion e.g.
[code]
Presumably we will need to map these into `policy.scheduler` as well.  And in addition, the "global" policy should work as described for these parameters.

This is getting a bit complicated.  I propose that we allow this issue to be closed by simply transitioning fluxion's `queues =` parameter to R

[2022-09-26 22:29] tpatki opened #977 "Rename HLAPI to REAPI throughout resource"
(After discussion with @milroy and @JaeseungYeom).

Currently, there is a `resource/hlapi` folder which probably should be renamed to `resource/reapi`.

Not sure what the initial motivation of HLAPI vs REAPI was, but in the current codebase, everything seems to be called `reapi`, except the aforementioned directory which is named `hlapi`. @grondo @trws do you recall why the naming scheme was such?

[2022-09-27 15:36] ryanday36 opened #986 "-o gpu-affinity=per-task choosing 'wrong' gpus on tioga"

[2022-09-27 19:25] trws commented on #977
I do not, but that sounds like a worthwhile refactor, mind making the move and popping up a PR?

[2022-09-27 20:11] tpatki commented on #977
Yes, certainly -- wanted to check if there was anything I may have missed here before I make the relevant changes.

[2022-10-02 22:47] #913 closed

[2022-10-02 22:54] trws opened #979 "Pull in newer date header, add some helpers"
These should work directly as arguments to the constructor of a time_point or duration defined using a double as its storage, then let you do the conversion safely.  Something like `std::chrono::time_point<system_clock, duration<double>>(duration<double>(start))` should create the appropriate time_point.  Sadly a lot of the convenience stuff is in a newer header version, we should probably pull in

[2022-10-04 20:53] #950 closed

[2022-10-05 21:12] garlick commented on #940
Closing this one as I think we've got it.

[2022-10-05 21:12] #940 closed

[2022-10-06 15:16] garlick commented on #638
This issue is more broad than the topic implies, but now that we have nailed down
- rfc33 static limits configuration (global and per-queue) and enforcement at job ingest
- urgency (aka submit priority) is not treated as a priority class by the job manager (hopefully not different in fluxion?), but instead is a factor used by `mf_priority` to determine the priority, which directly determines the q

[2022-10-06 15:16] #638 closed

[2022-10-06 15:22] garlick commented on #642
Now that we have configurable limits defined in RFC 33 and enforcement at ingest by flux-core, I'll rename this issue to indicate the gap that remains, which I *think* is for the scheduler feasibility check to use its knowledge of configured resources to enforce static node/core limits when the jobspec does not specify one or the other, e.g. this note in [flux-config-policy(5)](https://flux-framew

[2022-10-06 15:27] garlick commented on #839
Closing this one,  as I think the main fluxion issue is covered in #642.

@cmoussa1 if this was tracking work to be done in flux-accounting, please open an issue there.

[2022-10-06 16:16] garlick opened #984 "feasibility check: reject jobs that exceed time of day dependent limits"
Problem: a job should fail the feasibility check if it could never run within any time of day dependent limits.

See also #642 and #840.

[2022-10-08 00:02] tpatki commented on #977
Closed with #983

[2022-10-08 00:02] #977 closed

[2022-10-26 20:45] grondo commented on #986
Transferred this issue to flux-sched since it is the thing assigning GPUs in this case.

[2022-11-04 01:59] JaeseungYeom opened #987 "Deferred allocation"
Problem: support a scheduling request for an allocation to occur at a specific time in the future.

Currently, a reservation of resources occurs as early as possible. However, for supporting workflows that benefit from running tasks across heterogeneous platforms, it is desired to synchronize multiple allocations across different child instances. Such that task 1-10 run on corona while task 11-20

[2022-11-07 19:37] JaeseungYeom opened #988 "Creating a parent Fluxion from multiple existing fluxion instances"
Suppose there are two Flux instances on two different remote systems. How can we create a Flux instance controlling these two?

[2022-11-28 19:37] garlick opened #990 "sched-fluxion-resource.warning[0]: create_reader: allowlist unsupported"
Problem: fluxion emits the following warning:
[code]
I see this on fluke also.  It seems like it either indicates a problem, or it's a message we should not be logging at "warn" level.