[2014-10-27 23:23] grondo opened #1 "RDL: assertion failure in librdl"
Hitting an assertion failure in `list.c` whenever using the rdl implementation in flux-sched:
(This is probably in rdl_destroy() or similar)
Example:

[code]

[2014-10-28 13:10] grondo opened #3 "flux-sched needs testsuite and CI support"
The flux-sched framework project (and other framework projects) should get tests and travis-ci integration like flux-core. In fact, we should have some scheme to easily add this support to all framework projects.

[2014-10-28 22:18] #1 closed, assigned to nobody

[2014-11-04 16:08] lipari opened #8 "config changes for sched module"
Many flux path variables need to be extended in order to run flux outside of flux-core.  The "start" and "load" Makefile targets in the flux-sched/sched directory automate path extensions so that the resulting "flux start" and "flux module load" commands work as expected.
Running straight flux commands out of flux-sched/sched require a mechanism similar to what is done with the makefile to augment

[2014-11-14 23:30] dongahn opened #13 "Failure "flux module load" does not return an error code."
The reproducer is the 4th test case of `t/t0001-basic.t`

[code]

[2014-11-14 23:41] dongahn opened #14 "How to make cmdb quiet for make check?"
As part of the new sharness testing rig, I found that `cmbd` prints out messages to the terminal for `flux module load` and `flux module remove` tests.

[code]

From `test_under_flux()@sharness.d/flux-sharness`, it seems `-o -q` option is being passed to `flux start` and I did check `-q` has been passed to `cmbd` so I don't understand why these messages still show up.

[code]

[2015-02-24 00:54] lipari commented on #3
I just committed for review a unit test suite for the sched/resrc API:
https://github.com/lipari/flux-sched/tree/resrc_replacement
The tests themselves are not new.  They were taken from resrc/test/trescr.c and re-written to use TAP.
The mods to the resrc/Makefile to integrate the TAP framework are not very elegant.  Perhaps it is time to revisit the proposal to add autotools support to the sched

[2015-04-24 22:21] grondo opened #17 "Need a fast rdl_find"
Current prototype `rdl_find` is slow due to use of accumulator presumably.

For the short term, attempt to hack together a faster or lightweight `rdl_find` as proposed by @SteVwonder

[2015-04-28 15:03] lipari opened #18 "Update RDL Lua to 5.2"
Minimally, just support load, access and serialize.

[2015-04-28 16:05] grondo commented on #18
Thanks!
So we can pare down the API to something like?
[code]

[2015-04-28 16:25] lipari commented on #18
Yes, and...
void rdl_destroy (struct rdl *rdl);
I don't currently use rdl_serialize (struct rdl *rdl), but it may be nice to keep just in case - assuming it does not have that 5.2 compatibility issue.

[2015-05-08 18:25] grondo opened #23 "Errors in travis testing with clang"
I'm now seeing some errors during build in travis. Not sure why I didn't see these before:

[code]

Will try to propose a fix today.

[2015-05-08 18:27] grondo commented on #23
Also:
[code]

[2015-05-11 18:35] dongahn opened #25 "Add support necessary to time-based scheduling schemes"
We discussed this at today's flux meeting (5/11/2015). Soon flux-sched will need support so that time-based scheduling algorithms/policies including EASY and conservative backfills can easily be implemented as a scheduler plugin. We discussed at least two possibilities: 1) we do this by building time-range querys as part of RDL abstraction and/or 2) by supporting data structures (e.g., gap_list) t

[2015-05-11 20:33] trws commented on #25
It seems there's no good way to reference a milestone across repositories, so this is referenced in a tracking ticket for S2 from the flux core repository.  See the link above this comment.

[2015-05-11 20:35] dongahn commented on #25
Got it. Thanks!

[2015-06-05 00:21] dongahn opened #33 "Add generic RDL support"
The scheduler framework service should be written to the general RDL interface so that its users (e.g., scheduler plugins) can choose an RDL implementation of choice while the framework service remains unchanged.

This support *may* be needed for @SteVwonder's summer investigation: understanding the attributes of the envisioned hierarchical scheduling scheme. He may want to flip back and forth bet

[2015-06-05 00:35] dongahn opened #34 "Need an ability to (re)construct an in-memory RDL from a serialized RDL subset"
To study multilevel hierarchical scheduling schemes (by @SteVwonder), we need this capability.

Specifically, the scheduler of a Flux instance will select an RDL subset and serialize it and send it to a child Flux instance. The child will then deserialize this RDL subset into its own full RDL.

Though we don't have hierarchical launching yet, we can easily emulate the parent-children relationship

[2015-07-24 21:19] garlick opened #43 "[schedsrv] convert to argc, argv style argument parsing"
In PR flux-framework/flux-core#289 the module main function prototype changed to pass arguments in argc, argv format rather than a zhash_t. This was to eliminate another CZMQ exposure in the public API, and also to conform with RFC 5.

In my haste to get this fixed throughout the code base I avoided doing the right thing in flux-sched/sched/schedsrv.c, and just converted the args to a hash and let

[2015-08-18 19:59] dongahn opened #48 "Merging the emulator to the current scheduler framework service and new RDL"
Stephen, Suraj and I have just discussed this. To facilitate future scheduling development and research (e.g., dynamic scheduling), we will make it a priority to merge the emulator codes into the latest flux-sched. I am creating this issue to capture the communications needed for this effort.

[2015-08-20 20:33] SteVwonder commented on #48
My current plan is to do this in two steps.  Merge the latest emulator code into the master with one PR, then do another PR that makes the scheduler framework service compatible with the emulator and EASY backfilling (through the introduction of extra schedule_jobs functions).

The 1st PR should be pretty straight forward.  It is just taking sometime to squash down 9 months of commits (where each

[2015-08-20 20:35] SteVwonder commented on #48
For the 2nd PR, does it make sense to keep most of the shared emulator code in the `simulator` directory and just have the scheduler framework `#include "simulator.h"`?

Also, I plan to change the `simulator` directory name to `emulator` to correct the misnomer.

[2015-08-20 21:27] dongahn commented on #48
The plan makes sense to me.

Ideally, it would be best if the scheduler framework doesn't know it does its operation for a real environment or an emulated environment. At first glance, it feels the scheduler framework doesn't need to use any functions that belong to the emulator... or if it does the emulator can help faking it.

Perhaps, we can make it such that one passes "emulation-mode" as an a

[2015-08-20 21:38] dongahn commented on #48
BTW, if JSC and things need to be adjusted for this (which I suspect we will have to), let's work together to make this happen.

[2015-08-20 22:45] SteVwonder commented on #48
I agree on the `emulation-mode` flag, but I believe that the scheduler framework does need to "call out" to shared emulator code.  Particularly to register new events with the emulator manager.

As far as modifications that don't require calling out to shared emulator code:
* As you mentioned, it would also need to communicate with the emulated rexec rather than the real rexec
  * This is easy to

[2015-08-20 22:53] SteVwonder commented on #48
I am leaning towards this approach because this simple header/library could be used by every module that wanted to be "emulator-compatible".  So the `submit` module, `emu_rexec` module, etc could all link against this.  That way there is one standard way to interface with the emulator manager.  But I also understand your concern about intertwining the scheduler framework with the emulator too much

[2015-08-21 00:02] dongahn commented on #48
Sorry -- have been helping users to fight data races with my tools. Will get back to you.

[2015-08-21 05:05] dongahn commented on #48
@SteVwonder: I think your approach makes sense -- I had to page in a bit on this topic.

Since the emulation manager would actually on top of scheduler framework service and drive it, it is not entire possible to make the framework service completely agonistic to emulation vs. real environment.

One thing that we will have to think about is though how we can make JSC play nicely with `emu_rexec` b

[2015-08-21 05:09] dongahn commented on #48
Also once flux-core issue #338 is addressed, we want to see if it makes sense to latch onto the new submission protocol for both real scheduling and emulation.

[2015-08-21 15:42] lipari commented on #43
This issue was addressed with the merge of https://github.com/flux-framework/flux-sched/pull/45

[2015-08-21 15:42] #43 closed

[2015-08-25 23:56] trws opened #52 "Floating point exception"
There is now a version of capacitor with a flag to select the flux-sched backend on demand.  The first run of that with flux-sched loaded and populated with a 4-node cab RDL produced this result:

[code]

It seems to happen consistently.  To reproduce, build and install flux-core (my cap_support branch is required for python fixes) and flux-sched in the same prefix, start flux with four ranks on o

[2015-08-26 00:28] dongahn commented on #52
FPE is such an odd signal for scheduler :-) I see from the output

[code]

Perhaps divide-by-zero kind is happening. Is there a way you can specify the number of nodes to `flux-capacitor` as well? Does it make a difference?

[2015-08-26 14:29] lipari commented on #52
@trws, did you find the urwid module on cab?

[2015-08-26 15:33] trws commented on #52
Ah, sorry about that, I thought I had removed that import.  It's for what's meant to be an optional interface module.  I'll do so shortly, though for later I think the best way to get it for now is to use `pip install --local urwid`.

@dongahn, you can specify the number of nodes, but I didn't try that specific case.  If you want to, you can give the `-N` flag with a number, though it treats each

[2015-08-26 16:10] trws commented on #52
The urwid import has been removed, apologies again for that.

[2015-08-26 16:59] lipari commented on #52
I have been able to recreate the problem.  I'll look into it now...

[2015-08-26 17:01] dongahn commented on #52
Thanks @lipari

[2015-08-26 17:03] lipari commented on #52
I see the cause.  Fix forthcoming...

[2015-08-26 17:07] trws commented on #52
That was quick, thanks Don!

On 26 Aug 2015, at 10:03, Don Lipari wrote:

[2015-08-26 17:48] lipari commented on #52
https://github.com/flux-framework/flux-sched/pull/53 fixes this problem, but it looks like there might be more issues to address...

[2015-08-26 17:50] trws commented on #52
Interesting. Will this mean that a job requesting 200 tasks but no nodes
will run them all on one node? I can change the job spec to always
specify a sane number of nodes if I need to, but then the tool will have
to hold rather more knowledge about the instance shape than I was hoping
to need for this version.

On 26 Aug 2015, at 10:48, Don Lipari wrote:

[2015-08-26 18:05] lipari commented on #52
Assuming a minimum of one node is a low risk fix.  Applying deeper reasoning to decide how to accommodate a request for n tasks and no nodes is not as simple.  The job submission logic would have to not only assume one task per core, but look over all its nodes to factor in the number of cores on each node.  Then there is the question of how many threads are available on each core and whether the

[2015-08-26 18:12] trws commented on #52
While I agree it's best to keep things simple, doing it that way is incompatible with the notion of specifying resources for a job in terms of tasks with associated individual resources, and also with the goal of being able to fit an N task job that takes cores on any N cores that happen to be free.  I can, and will, work around this for however long flux-sched is set up this way, but the result i

[2015-08-26 18:17] lipari commented on #52
So, to be clear, you would like to only ask for tasks and have the scheduler find the necessary cores available across however many nodes to launch those tasks.  And, in the absence of any task-per-core or cores-per-task specification, you would expect one task per core.  Does that capture it?

[2015-08-26 20:47] trws commented on #52
What I really want is to be able to provide the number of task slots and what the shape of that is.  Given these, the scheduler has the complete specification for the resources required by the job.  As it is now, I'm not explicitly asking for cores, but I can if that makes things work easier.  Maybe just put something like `task-slots = 4, task-slot-shape = core
What came to mind is that, unless I

[2015-08-26 20:55] trws commented on #52
Actually, the number of tasks, and their mapping to slots, is orthogonal to that whole thing too come to think of it.  Does the scheduler care how many entities will actually run on the requested resources?

[2015-08-26 21:11] lipari commented on #52
The scheduler receives a request for resources and looks to provide those resources at some time.  That request could be derived at submit time as the product of the number of tasks times a resource slot where the slot definition is specified.
That being said, the flux-sched scheduler should support a request for n cores w/o any node count specified and find idle cores across all of its resident n

[2015-08-31 20:55] SteVwonder commented on #14
I believe this is fixed now.  At least for the emulator tests, the broker output is being redirected to a log file.

[2015-08-31 21:35] grondo commented on #14
Good catch @SteVwonder, I missed checking in on this but sharness `test_under_flux` should redirect cmdb logs to a file unless `--debug --verbose` is passed to the test.

[2015-09-01 21:11] lipari opened #56 "Eliminate from flux-sched products the dependency on libflux-internal"
This is the beginning step toward streamlining flux-sched's build system.  This leaves a dependence on the flux-core library only.

[2015-09-02 17:44] trws opened #58 "sched gets a "complete" event, but leaves state==submitted"
I'm not sure how this is happening, but when using sched with cap, I'm noticing it work great for the first 15 or so, and then I stop getting update events from the system.  The funny thing about this is that sched seems to get the events, because it marks completed-time in the kvs, but doesn't change the state somehow.  The contents of the kvs directory of a task where this has happened looks lik

[2015-09-02 17:45] trws commented on #58
I should note, once a number of these pile up, sched stops accepting new submissions and jobs cease getting run, sitting at their initial submitted state indefinitely.

[2015-09-02 17:49] grondo commented on #58
I think `wrexecd` sets those silly `<state>-time` entries:

 https://github.com/flux-framework/flux-core/blob/master/src/modules/wreck/wrexecd.c#L866

Perhaps the complete state is being set but then the job gets switched back to `submitted` by something?

[2015-09-02 17:55] dongahn commented on #58
We should look at this. Could you set up a repro?

[2015-09-02 17:57] dongahn commented on #58
BTW, it will be GREAT if we also discover and resolve all the problems within flux-sched when being stressed with cap as well! One of my worries about sched is that, not having such test cases. And this really seems an opportune time. Off to a meeting for now :-(

[2015-09-02 18:37] SteVwonder commented on #56
What is our plan for shortjson.h?
I know copying the version in flux-core into flux-sched has been discussed.
Did we ever agree on a solution?

[2015-09-02 18:42] lipari commented on #56
https://github.com/flux-framework/flux-sched/pull/57 indeed copies shortjson.h into flux-sched/common to make things simple.  Long term, we can ferret out all the places that rely on the shortjson.h defs and replace them with the json-c equivalents, if such a cleansing is desired.

[2015-09-02 18:42] SteVwonder commented on #56
I now see the discussions happening in #57 and flux-framework/flux-core#336

[2015-09-02 18:43] SteVwonder commented on #56
Ok. Thanks @lipari!

[2015-09-02 19:33] grondo commented on #58
Heh, using `cap` to run the (or a) testsuite is a neat idea...

[2015-09-02 20:20] dongahn commented on #58
This is as if two submits get the same jobid. What submit method is used?

Probably some race. Once we have a repro it seems worthwhile trying the new reliable jsc.

[2015-09-02 22:10] trws commented on #58
Maybe with ats. :P

I really agree though. Once it gets more stable that's a good use case for it.

For this issue, it looks to me like what @grondo pointed out is spot on. I had noticed states oscillating at one point between submitted and reserved without settling down. I was wondering if this was related, maybe a sched state change that only gets committed after wreck is already done, so it ove

[2015-09-02 22:18] grondo commented on #58
Yes, the idea of appending states to a log would really help to see what is going on here....

[2015-09-02 22:22] lipari commented on #58
Is there any chance this problem will go away once https://github.com/flux-framework/flux-core/pull/386 is merged?

[2015-09-02 22:22] trws commented on #58
I've been trying to avoid it to not step on any toes, well and to get direct milestone features done, but I'm about to where I want to just implement initial support for that in the KVS. It's popping up in enough places that it keeps bumping up my priority list.

Sent with Good (www.good.com)

________________________________
From: Mark Grondona
Sent: Wednesday, September 02, 2015 3:18:10 PM
To: f

[2015-09-02 22:26] trws commented on #58
That's a really good point. It might.

Question though, does sched directly modify the state entry at any point, or does it let wreck handle it? If sched does and it's depending on JSC updates this might all make sense.

Sent with Good (www.good.com)

________________________________
From: Don Lipari
Sent: Wednesday, September 02, 2015 3:22:28 PM
To: flux-framework/flux-sched
Cc: Scogland, Thomas

[2015-09-02 22:27] dongahn commented on #58
Before moving on to a new solution, I would love to understand this problem better w/ reproducer. LIke @lipari said, reliable jsc might help. And there could be a legitimate race that cause two consecutive submits to get the same jobid.

[2015-09-02 22:30] dongahn commented on #58
Sched no longer modifies the kvs state directly but does it through JSC. `flux-submit` does update the state directly, but that's synchronized with the rest of the system because this is done in a lock step fashion: `schedsrv` won't issue runrequest until `submitted` event is delivered to it through JSC.

[2015-09-02 22:35] dongahn commented on #58
@trws: my guess is you don't use `flux-submit` in `cap` to submit the jobs, but you have your own command to submit the ats jobs rapidly, right? This is okay; I just want to understand the testing environment as to how you hook `cap` to sched a bit better.

[2015-09-03 01:00] dongahn commented on #58
I think I found one problem. Since `wreckrun` is used in `cap` and it can emit "pending" state, this can confuse `schedsrv`. `schedsrv` is using "pending" (J_PENDING) as an internal state of job, which it never emits back to kvs, so observing the same "pending" coming from outside definitely will confuse its finite state machine.

Since flux-sched never used wreckrun to launch a job, this is a new

[2015-09-03 01:27] trws commented on #58
I'm not sure quite what you mean Dong.  Cap uses the wreck service to launch jobs only if it is using its own scheduler.  When using the sched backend it uses the job module to create the job, then sets it to the submitted state, just like flux-submit does.  Well, unless I messed something up, which is also possible.  It relies on flux-sched to invoke the job once it finds available resources.
___

[2015-09-03 01:39] dongahn commented on #58
Oh well, sorry. I need to understand how `cap` works with `sched` backend better then. I do think it is very useful at this point to understand who emits job states. So far, I see this in

flux-sched: `flux-submit`
flux-core: `flux-wreckrun`
flux-core: wrexec
flux-core: job
flux-capacitor

Anything else?

We probably want to make sure we use job state events consistently across these users and the

[2015-09-03 05:00] dongahn commented on #58
Also, if I'm not mistaken, it seems `schedsrv` doesn't map an allocated hostname to the specific broker rank so it will simply use the first k ranks to satisfy -N k... This should also be looked at and have a automatic test case.

I'm still lost as to why the state has been overwritten to submitted (if this is indeed a case). `schedsrv` doesn't write this particular state for a job... Once the rel

[2015-09-03 07:15] dongahn commented on #58
Probably, related. On the latest branch (reliable jsc), I created a simple stress test case:

#!/bin/sh

[code]

At the exactly 100th job, the scheduler stops running the program:

[code]

[code]

Several interesting observations:

- This is deterministically fails at 100th job submission with
'''
lt-flux-broker: [1441263018.642890] lwj.100.emerg[0] Failed to get resources for this node
lt-flux-br

[2015-09-03 12:07] trws commented on #58
To go back a couple of comments, at least as I understand it, this is the exact set of mappings of state sets:

Create job in KVS, initially set pending:
flux-core: job

Set job state to each stage in the running order:
flux-core: wrexec

Submit the job to wreck or sched, currently done by setting state to "submitted" in the kvs, because we don't have a proper job submission API:
flux-sched: flux-

[2015-09-03 16:21] dongahn commented on #58
@trws great!

Create job in KVS, initially set pending:
flux-core: job

You didn't mean to say job module set "pending," right? If it were, this will confuse the FSM of sched.

[2015-09-03 16:36] trws commented on #58
I thought that's what it set it to, but I was wrong, it's set to reserved.  That's interesting to me, @lipari, am I reading the code right that when the job is created sched immediately picks it up rather than waiting for the state to be set to submitted?  At least in terms of attempting `fill_resource_req` I mean?  Actually... There's also no break between those switch cases, so if I'm reading th

[2015-09-03 16:51] lipari commented on #58
@trws, that's probably wrong.  I'd have to search back through the code to discover how `fill_resource_req` wound up under the "reserved" case.  In any case, there really should be no action on the part of the scheduler until the "submitted" state is reached.  The "reserved" state should probably be a no-op and have a break, not fall through.  Let me test this theory...

[2015-09-03 18:20] dongahn commented on #58
I suspect, the fall-throughs are ok. When the scheduler sees `submitted` when the job's current state is "reserved", then this will call `fill_resource_req` as an action and then fall through a set of internal state changes. Until the scheduler plugin ends up selecting matching RDL resources, the FSM will move the state between J_PENDING and J_SCHEDREQ. (All internal scheduler job states which are

[2015-09-03 18:29] trws commented on #58
Yeah, I think I was reading that wrong, it's going based on oldstate rather than newstate.  That still begs the question of how wreck could run the job and still have the status set to submitted however. =/

[2015-09-03 18:32] lipari commented on #58
Apologies to you both.  I read the code too quickly.  There does appear to be a problem with the latest mods.  My tests are failing.  I am currently looking into why...

[2015-09-03 18:34] lipari commented on #58
My running theory is that with the new changes, flux-submit is bypassing the jsc and setting the submitted state directly in the kvs.  This flies under the radar and the sched never gets the state change to submitted.

[2015-09-03 20:18] dongahn commented on #58
@lipari: Could you please look at the new PR, which should remove all the concerns? It would be nice to do this investigation at that revision level (with reliable jsc). The test results up there was done at that level.

[2015-09-03 20:21] dongahn commented on #58
If this PR solves this inconsistent state change issue, then the next thing to look at will be,  `Error reading status from rexecd: Success` issue.

[code]

[2015-09-03 20:56] lipari commented on #58
@dongahn, Looks like my theory was correct and you have a fix already in place.  So, now I will review the remaining commits to https://github.com/flux-framework/flux-sched/pull/59 and then return to this issue.

[2015-09-03 20:57] grondo commented on #58
"Error reading status from rexecd" is directly due to no resources being assigned to the rank or ranks, and fatal termination of wrexecd.

[2015-09-03 21:18] dongahn commented on #58
@grondo Great info! Then I understand this problem completely! It is a buffer overflow in jsc, using too short of a buffer size to hold lwj.99.rank.0.cores. Look at one last character (s) missing at job # 100.

'''
lwj.100.rank.0.core = 1
lwj.100.rank.1.core = 1
lwj.100.rank.2.core = 1
'''

I will create a patch shortly and run this stress test more time. Assuming this will fix this particular iss

[2015-09-03 21:19] dongahn commented on #58
Meant to say sorry.

[2015-09-03 21:27] dongahn commented on #58
BTW, do we have PATH_MAX macro equivalent for KVS PATH? (e.g., KVS_PATH_MAX?)

[2015-09-03 21:33] garlick commented on #58
There are no limits on KVS key or value sizes.  Well, not hardwired anyway.

[2015-09-03 22:59] dongahn commented on #58
OK, I issue a PR (#391) to flux-core for this. If @lipari wants to try this patch before that's merged, it's available in my [jsc_keylen_fix](https://github.com/dongahn/flux-core/tree/jsc_keylen_fix) branch. My brief testing shows this seems to fix the "failure at 100th job" issue above. (Now need to move onto a different project unfortunately.)

[2015-09-03 23:00] lipari commented on #58
Thanks, @dongahn.  I'll take a look.

[2015-09-03 23:09] trws commented on #58
@dongahn, so you know, we have the hostname and interface information
for every rank, so we can disambiguate them when/if we want, but for now
it seemed reasonable to leave it be.  At some point we may want to have
that be an option, but I could see cases where users would want two
brokers, each in a different container, on the same node, in which case
they actually should be separate.  (this is p

[2015-09-04 01:07] dongahn commented on #58
@trws thank you for the info and i think i understand. The issue is however that even if you launch 4 brokers and then submit each job with 2 nodes back ti bakc, the sched as is will always map these 2-node jobs only to the first two ranks not using the other two ranks.

For testing purpose  i think we may need to generate an RDL where node name is simply rank and then modify the sched to construc

[2015-09-04 01:46] trws commented on #58
Ah, I didn't realize it was leaving nodes unused... that's clearly broken.  Does this happen even if you specify the RDL as having one "node" for each rank? That's what I was doing, but I didn't think to check if sched was actually using all of the resources.

[2015-09-04 02:26] dongahn commented on #58
I think so. I think the general problem may be sched doesn't use rdl for lauching/execution, which is understandable because we have developed each sched component separately without too many test cases to do integration testing. But i think this is the right time.

What would be ideal is to generate a rdl from resource hwloc for the bootstrap case and then make a correction to sched to actually u

[2015-09-04 02:32] trws commented on #58
I agree it's time, but it feels unfortunate to generate it like that.  Generating lua code from kvs values to load them feels... off.  As a temporary fix I suppose it can't hurt, and it wouldn't be that hard to generate, but I would say lets have it be an external script or something we use until either we get a real resource query interface or at least pick a long-term resource/spec file format.

[2015-09-04 02:40] dongahn commented on #58
An external script as a temporary solution sounds great. Much of this is very needed experience to be anle to design and reactor SW for the production versions any way...

[2015-09-04 05:52] surajpkn opened #60 "Invoke scheduler automatically when launching flux from flux"
Until now, scheduler service is invoked through the 2 step commands:
`~/flux-core/src/cmd/flux -M ~/flux-sched/sched -C ~/flux-sched/rdl/\?.so -L ~/flux-sched/rdl/\?.lua start -s 3`
`~/flux-core/src/cmd/flux -M ~/flux-sched/sched -C ~/flux-sched/rdl/\?.so -L ~/flux-sched/rdl/\?.lua module load sched rdl-conf=../conf/hype.lua`

When flux launches flux, this needs to be automated. The most simplest

[2015-09-04 06:20] garlick commented on #60
It may be easier to load and initialize the sched module from the initial program of an instance.  Things are a bit primitive right now, so a shell script that does that then starts work?  Practically speaking we don't want to hardwire a dependency on flux-sched in flux-core.

On becoming less primitive: one plan was to provide a tool to run as the initial program which has characteristics of sysV

[2015-09-04 08:41] surajpkn commented on #60
@garlick shell script to start the scheduler and RDL in parent-uri is possible. The handshake is required for the parent to store routing information about the child so that it can later contact the child by itself (e.g., to offer some resources).

[2015-09-04 14:16] grondo commented on #58
In the current design, at least, when associating resources with a program there must be a bit of rdl config written to the job's kvs, so that the child instance can pick up that bit of config for its own instance. Only the bootstrap-type instances should read config directly from a file.

The "rdl config" could be any form of serialized rdl -- certainly not the RDL.lua config language, but any ki

[2015-09-04 14:17] grondo commented on #60
This is almost necessary, at least in current design (see comment in #58). The parent has to place a subset of resources into kvs of all child programs describing the "container" anyway. Perhaps an issue should be open to have the ability for sched to read this as config in a child instance?

[2015-09-04 15:06] trws commented on #58
I agree with all of that @grondo.  Being pretty out of it last night I didn't put it well, but all I meant was that taking something we already had in the KVS and turning it into lua code that the current RDL loader could injest felt like a step backward rather than forward.

I was going to bring the serialization format up at some point also.  After the discussions on resource/job-specs, I've bee

[2015-09-04 15:56] lipari commented on #58
The need for multiple config readers was identified and entered as https://github.com/flux-framework/flux-sched/issues/33.  The scheduler currently serializes the allocated resources in the json format.  It looks like this in the KVS:
[code]

[2015-09-04 16:02] grondo commented on #60
I think I see what you're saying, however the wreck replacement "shell" will have to read the same data to possibly do containment etc so as long as we don't make things any more difficult for that case.
It does help the simple bootstrap case if sched always reads config from the same spot, but I kind of feel like real-world configs may be too heavy to put the entire thing into kvs (maybe not thou

[2015-09-04 16:06] grondo commented on #58
@trws, yeah the references feature of yaml would be *great* for rdl, especially if we serialize multiple hierarchies/graphs of the same resources. (or resources could always be referenced by uuid)

[2015-09-04 16:09] grondo commented on #58
@lipari: That looks pretty good. It could be a starting point for configuration language for a new sched instance? (Seems like parent information up to root is missing, but easily added?)

[2015-09-04 16:12] grondo commented on #60
Oh, what if the config had *either* a file or a string of serialized rdl, sched loader could determine this at runtime? In general I do like that config for an instance including all modules could go in a common place, so I'd definitely be interested in exploring this idea. (I'd like to have @garlick's input as well)

[2015-09-04 16:30] lipari commented on #58
From the discussion so far, how about three options for the `flux module load sched rdl-conf=`?
* The existing rdl config file if provided
* resource.hwloc from the kvs (if specified somehow)
* or, if no option is provided, the lwj.<jobid>.rdl from the confining instance.
With one of these three options available, I'm not sure about the need for supporting a serialized option to the rdl-conf= opti

[2015-09-04 16:37] lipari commented on #58
Further thought... Is it safe to assume that the contents of the second and third options above *should* be the same?  I.e., will (should?) the resource.hwloc eventually be pared down to just those resources the instance is running in.

[2015-09-04 16:41] grondo commented on #58
I think in the case containers then naturally resource-hwloc will only reflect hardware in the container.

[2015-09-04 16:45] grondo commented on #58
@lipari, I think @trws suggestion is that we drop the module option for sched and it instead use a key in flux config keyspace `config.sched.rld-conf` perhaps?

Then anytime before loading sched module the config could be set with
[code]
or
[code]

if this config key is missing then use a default (hwloc?)

[2015-09-04 17:06] dongahn commented on #58
@grondo: Multiple reader options sound even better.

I also vaguely remember we used to have an rdl allocation do contain the full hierarchy information (supported by the copy method of the old rdl library)... But I agree with @grondo, we need full hierarchy information encoded in the rdl allocation object lest the hierarchical scheduling will fail.

Since this issue is growing large, perhaps we s

[2015-09-04 17:10] trws commented on #60
Either a file, a reference to a kvs location, or a string of RDL would be three that make sense to me. Maybe a flag for which loader to use also? I agree that there should be indirection for that too, it will save us headaches both now and later.

Sent with Good (www.good.com)

________________________________
From: Mark Grondona
Sent: Friday, September 04, 2015 9:12:27 AM
To: flux-framework/flux-

[2015-09-04 17:11] grondo commented on #58
@dongahn, great idea to create new issues. I forgot to pay attention to
what issue I'm replying to ;-)

On Fri, Sep 4, 2015 at 10:06 AM, Dong H. Ahn <notifications@github.com>
wrote:

[2015-09-04 17:17] trws commented on #58
@grondo stated my point better than I did. :)

I actually like having the RDL-conf option on the module as an override though, in case we want to be able to load fake data in a child without polluting the parent, for testing or simulation for example.

As to resource_hwloc, it should (not tested well enough to assert that this is the case yet, and can't be until we start setting up our containment

[2015-09-04 18:45] surajpkn commented on #60
Thanks for your comments! I also spoke to @SteVwonder and what I missed was that the scheduler seems to serialize the rdl and store it in the KVS. All that the child flux instance will have to do therefore, is lookup the kvs for the rdl using the parent handle and get that into its context. So no file needed!
@lipari: @SteVwonder mentioned that you are working on a deserializer of the rdl? is this

[2015-09-04 19:41] lipari opened #61 "Provide expanded resource input options"
This issue resulted from the discussion in flux-sched Issues https://github.com/flux-framework/flux-sched/issues/33, https://github.com/flux-framework/flux-sched/issues/58,  and https://github.com/flux-framework/flux-sched/issues/60.  Currently the scheduler discovers the resources it can schedule based on the rdl-conf= argument at module load time.  And Lua is the only format of the RDL configura

[2015-09-04 19:44] lipari commented on #58
To the reader... The discussion of the issues above has spilled over into https://github.com/flux-framework/flux-sched/issues/60.  As the present issues started as bug report of the scheduler's behavior (which seems to be fixed), for discussion on this topic shall move to a new issue:  https://github.com/flux-framework/flux-sched/issues/61

[2015-09-04 20:27] dongahn commented on #60
This all makes sense to me. FWIW, the serialized rdl is placed by sched via jsc into `lwj.jobid.rdl`. You can update/fetch this field using [JSC_RDL macro](https://github.com/flux-framework/flux-core/tree/master/src/modules/libjsc).

@garlick, @surajpkn: I think the main reason that Suraj proposed a handshake is so that the parent sched can get the routing information by storing the message head t

[2015-09-04 21:41] dongahn commented on #58
BTW, we understand there are these problems we will ultimately have to address. But as is (including the pending flux core PR 391), where are we with the original issue @trws is having?

FWIW, to use the reliable jsc, `cap` will need a patch similar to what I made to [`flux-submit`](https://github.com/flux-framework/flux-sched/commit/89df88f7a69568ec6b583515c50050f64c2eb6da)

[2015-09-07 22:45] SteVwonder commented on #34
Looking at the current implementation of resrc's (de-)serialization, it looks like the foundation is there.  Although it does need to be expanded some.  Specifically:
*  Serialize every node in resrc_tree during walk
  * Currently only the leaves are fully serialized.  Internal nodes just get their name serialized.
  * Should just require removing 1 `else` statement in the recursive function call

[2015-09-07 22:49] lipari commented on #34
@SteVwonder, I should have some time to devote to this starting tomorrow.  I wouldn't waste any of your time on this.  Give me a couple days.

[2015-09-07 22:58] SteVwonder opened #62 "Need temporal allocations in resrc"
@lipari, already has the idea sketched out (which he shared with @surajpkn and I).
My summary from our short meeting is:
*  Expand the `resrc_allocate` and `resrc_release` functions to include a start and end time
  * Either (or both) of these times could be -1, meaning infinity
* Include a function that allows you to determine if a resource is allocated at a particular time
  * This would perform

[2015-09-07 22:59] SteVwonder commented on #34
:+1:
Thanks!

[2015-09-08 21:30] surajpkn commented on #62
@lipari please feel free to delegate any part of the implementation to me. Since I cannot really proceed to implement the dynamic scheduling without the above, I can work on parts myself too (if it wouldn't really require too much of background knowledge on what you already did or is easy to catch up on).

[2015-09-08 23:11] SteVwonder commented on #62
I would also offer my help, but I will be unavailable next week.  So if this still needs work after next week, I can jump in and help too.

[2015-09-08 23:45] garlick opened #63 "not ok 5 - jobs scheduled in correct order"
I'm finding that `test 5 - jobs scheduled in correct order` is consistently failing for me in the following tests

**t2000-fcfs**

Expected:  `1 2 3 4 5 6 7 8 9 10 11 12`
Actual: `1 2 4 10 11 12`

**t2001-fcfs-aware**

Expected: `1 2 3 4 5 6 7 8 9 10 11 12`
Actual: `1 2 4 10 11 12`

**t2002-easy**

Expected: `1 2 3 6 7 8 9 10 11 4 5 12`
Actual: `1 2 4 5 6 7 9 11 10 8 12 3`

This occured on current

[2015-09-08 23:49] dongahn commented on #63
@garlick: I reported this to @SteVwonder last week and he plans to address these as part of his next PR.

[2015-09-09 03:13] SteVwonder commented on #63
If you want, we can remove those tests from the HEAD of flux-sched while we are waiting on my next PR.  I am not sure why they are failing all of a sudden given that @dongahn's changes shouldn't have affected the simulator.  Either way, I will make sure they work again in the "new and improved" scheduler framework service.

[2015-09-09 03:18] dongahn commented on #63
@SteVwonder: I think @garlick is saying these tests are failing on a desktop, not on Travis. This aggrees with my experience: they fail on cab while passing on Travis.

[2015-09-09 03:25] garlick commented on #63
I am fine either way - just wanted to make sure I reported the failure in case it was new.

[2015-09-16 03:10] dongahn opened #67 "flux-sched travis fails because of no hostlist.h"
Travis CI for flux-sched master fails with

[code]
This was mentioned in #400 of flux-core and we need a resolution to get Travis going again.

[2015-09-16 04:06] grondo commented on #67
I have a workaround to propose for now [here](https://github.com/grondo/flux-sched/commit/45d24c56a1c864e087d49e6bccb45bf33214a469) but when tests run in travis on my branch they hang just after the RDL test completes (I think jsc tests are next).

See:
https://travis-ci.org/grondo/flux-sched/jobs/80564135

If you have any ideas let me know

[2015-09-16 04:11] grondo commented on #67
nevermind, I see @lipari proposed a better fix

[2015-09-17 21:16] dongahn opened #69 "Need better mapping/scheduling between tasks and nodes/cores"
This was discussed a bit as part of #58, but I wasn't sure if a new issue has been created for this. As is, even if you launch 4 brokers, and then submit each job requiring 2 nodes back to back to back (e.g., my stress case), sched maps these 2-node jobs only to the first two ranks, never using the other two ranks.

This is just to discuss if there are some better mapping/scheduling that sched can

[2015-09-17 21:48] grondo commented on #69
`flux-wreckrun` itself currently ignores actual resources and distributes tasks evenly across *ranks* when running without `sched` (see `alloc_tasks_hack`). This code was only meant as a stand in for actual resources assignment when run with `--immediate`, but when `sched` was removed from core it became the default.

`wrexecd` simply checks `lwj.<id>.rank.<rank>.cores` and launches that many task

[2015-09-17 23:43] dongahn commented on #69
Thanks @grondo. Yeah we need scheduling and sched is supposed to do that, filling the right information into  '...rank.cores'

I think a part o the problem is that I often use a rdl file that doesnt acrurately describe the resources under the bootstrap environment.

I think we should reinvested this after we have the multiple RDL reader option implemented, which is captured in #33 and #58.

I don'

[2015-09-18 15:05] lipari commented on #69
@dongahn, just to complete the picture on the sched side, the code will earmark allocated resources and find/select resources that are not allocated for subsequent jobs.  There is currently no task awareness in flux-sched.  What it searches for and selects are the aggregate resources, i.e., the product of task count and shard definition.  At this point, it expects wreck to launch the tasks across

[2015-09-18 15:28] lipari commented on #52
@trws , can we close this issue as the reported bug has been fixed?  As to the larger issue of task support, [Issue 69](https://github.com/flux-framework/flux-sched/issues/69) will track that progress.

[2015-09-18 15:51] dongahn commented on #69
@lipari, thank. This sounds all good. I agree the task mapping is a future enhancement. But the issue I hit in #58 is a bit different.

Say, you have a 2-node flux instance. Say, you schedule two jobs each with 1 node back to back and our plugin selects and assigns 1 district node through RDL to each job. But these jobs are currently launched only into the first node. So in a sense, the RDL select

[2015-09-18 16:44] lipari commented on #69
Understood.  The existing logic for what you describe is implemented very crudely in schedsrv.c's 'build_contain_req()' and 'build_contain_1node_req()'.  As you can see the 'n' index always starts out at 0.  This will have to be fixed/enhanced at some point.

[2015-09-18 20:38] trws commented on #52
Yup. Thanks for triaging this @lipari, I didn't mean to leave it open.

[2015-09-18 20:38] #52 closed

[2015-09-22 19:28] lipari commented on #62
First off, this issue seems to reflect the needs first described in [Issue 25](https://github.com/flux-framework/flux-sched/issues/25).

Adding time to the resource model has a potential of becoming complicated unless we can think of a means to restrict the requirements or simplify the design.

Starting with the basics as laid out in [RFC 4](https://github.com/flux-framework/rfc/blob/master/spec_4

[2015-09-22 22:25] lipari commented on #69
Here is a summary of the scheduler, JSC, and wrexecd processing:
* sched reads its schedule-able resources from its rdl-conf= option which specifies the file that contains a description of the resources using the Lua format.  These resources no longer have to reflect the actual resources of the enclosing instance (i.e., those identified by resource-hwloc module).
* sched reads in jobs submitted by

[2015-09-22 22:44] grondo commented on #69
It should perhaps be an error if the resources known to sched are not a subset of the resources on which the instance is running, applied to a subset of *types* of resources (configurable, but starting with at least Nodes and Cores). This could be disabled for simulation and testing.

Given that all our near-term milestones deal with launching flux instances under other RMs, I would say that a sol

[2015-09-23 02:59] dongahn commented on #69
@lipari: thank you for the analysis. This agrees with what I found as well.

If the rdl Lua file is not consistent with the resources of the enclosing instance, this should be an error. We need to define the right semantics when this happens. One option is, sched perhaps  posts a warning message about this inconsistency and go with the next source, ignoring the Lua description... We can define the

[2015-09-23 05:04] dongahn commented on #69
On a second thought, the rank-based resource description won't work for the hierarchical case. It seems  a resource-to-rank mapping service would be a better one.

[2015-09-23 19:41] SteVwonder commented on #62
Thanks Don.  These are good points.

If you could insert both "exclusive" and "shared" allocations into the interval tree, that would seem to solve the hierarchical issue.  For example, when a core is exclusively allocated for 1 hour, insert an "exclusive" allocation (of size 1 for 1 hour) in the core resource, and then a "shared" allocation (of size 1 for 1 hour) in all ancestors of that core.  T

[2015-09-23 19:42] SteVwonder commented on #62
Also, should we close this issue and move the discussion to #25?

[2015-09-23 19:49] lipari commented on #25
Further discussion has moved to [Issue 62](https://github.com/flux-framework/flux-sched/issues/62)

[2015-09-23 19:49] #25 closed

[2015-09-23 19:49] lipari commented on #62
I preferred the opposite.  I just closed Issue 25, directing the reader to this Issue.

[2015-09-23 23:35] lipari commented on #67
This problem was fixed with commit f016072366121939ecd808799facfd1b811a0bf9

[2015-09-23 23:35] #67 closed

[2015-09-25 04:40] dongahn opened #72 "The latest msg watcher rework broke flux-sched"
This is just to see if anyone is working on a PR. If not, I can fix this part of the current jsc test case bug fixing work.

[2015-09-25 04:41] dongahn commented on #72
[code]

This is the error message.

[2015-09-25 05:02] garlick commented on #72
Oh I'm sorry!  I knew I needed to submit a PR to flux-sched and completely dropped the ball.  I will do it first thing tomorrow morning.

[2015-09-25 05:04] dongahn commented on #72
Don't worry about it, @garlick. Thank you for the fix in advance.

[2015-09-25 05:28] garlick commented on #72
After fixing the compliation problems, I am seeing a segfault in the sched tests that look like a problem introduced to flux-core in the latest reactor changes, though I can't seem to trigger it by loading and unloading other modules.  This needs further investigation.
[code]
It looks like the module teardown that is closing the handle is destroying the handle watcher belonging to the dispatcher a

[2015-09-25 05:43] garlick commented on #72
Ah possibly why this is only now seen in sched is that the message handlers are not all unregistered when the sched module main returns.  That's a memory leak in sched, but core shouldn't segfault.  Probably in core I need to add a usecount for the reactor to defer its destruction until all watchers are stopped.

[2015-09-25 19:56] #72 closed

[2015-09-25 23:43] surajpkn opened #74 "Deserialized id and name not consistent."
There seems to two not-so-important issues with serialize/deserialize RDL.

1. Serialization does not include any of the job's ids. - Easily solved by adding one line to include an id to `resrc_to_json()`. Where this is important is when resources are passed down to child instances, they need to have consistent ids.

2. The resource name is wrong after deserialization.
Example:  resrc->name = hype

[2015-09-28 15:47] lipari commented on #74
I need to understand item 1 better.  Currently the serialized resources are stored in the kvs under the job's id.  It seems redundant to add the job ids to the items serialized.  If you are needing to attach the allocated job ids to the serialized resources, can you just adding them to the json object:
[code]
I will fix item 2.

[2015-09-28 16:03] surajpkn commented on #74
@lipari I am so sorry I messed up item 1. What I actually meant was node's ids and not job's ids.

[2015-09-28 16:20] lipari commented on #74
The node id is listed under the "name" key:
[code]
Where else should the node id be?

[2015-09-28 16:39] surajpkn commented on #74
Sure. But I just assumed concatenating id to non-number name was only to create the hostnames right in these configs we use. If thats the very design, it suffices of course.
Nevertheless, I include the id key in serialization to just ease its extraction.

[2015-09-28 21:44] lipari commented on #74
@surajpkn, take a look at the changes present in the PR I just created.  I not only separated the name into the separate name and id components (which fixed the de-serialization), I added the path and uuid components to the items serialized.

[2015-09-29 01:45] dongahn opened #76 "Travis fails with hostlist"
I'm getting Travis CI build failures. I initially thought this was because of my changes in the waitjob_fix branch of my fork. But then when I sync'ed the master of my fork with the upstream sched master, I notice I'm still getting the same failure. Travis CI  didn't complained about @lipari's latest PR so I'm kind of baffled.

[code]

[2015-09-29 01:56] grondo commented on #76
Ah, this is another case where I failed to change a `require 'hostlist'` to `require 'flux.hostlist'`, but things continued to work because the travis cache still had lua-hostlist installed. When you build on a new branch you get fresh caches which is why this was only caught now. Sorry!

You can fix by replacing occurrences of `require 'hostlist'` with `require 'flux.hostlist'` -- or I could do i

[2015-09-29 03:18] dongahn commented on #76
Thanks. I will take care.

[2015-09-29 03:57] grondo commented on #76
Ok, thanks. Before I saw your comment I pushed up to my branch at least part of fix, you can check it out [here](https://github.com/grondo/flux-sched/commit/c7cd2040662d049cc078f15822a92dbcd189db5a)

Thanks!

[2015-09-30 23:26] dongahn commented on #74
@lipari and @surajpkn, should this be closed with merging of #74?

[2015-09-30 23:30] lipari commented on #74
yes, if @surajpkn agrees.

[2015-10-01 00:24] dongahn commented on #76
This is fixed with commit 07552b6 from PR#77.

[2015-10-01 00:24] #76 closed

[2015-10-01 00:33] dongahn commented on #3
This is a long standing issue.

@SteVwonder plans to issue a PR shortly which captures most of what we discussed in this issue.

Once that is mergrd, I think all of what we required are addressed except for autotools support. We still have to keep populating tests etc but that can now be done as a matter of course (i.e., without having add much infrastructure support). I propose we close this issu

[2015-10-01 00:35] dongahn commented on #14
So close this?

[2015-10-01 00:36] dongahn commented on #23
This is an old issue that has been fixed right? @grondo or @lipari could you ack?

[2015-10-01 00:37] dongahn commented on #48
This should also be closed once @SteVwonder's next PR is merged in.

[2015-10-01 00:40] dongahn commented on #60
@surajpkn several enhancements have been merged in related to this. Where does this issue stand?

[2015-10-01 00:47] grondo commented on #23
Yes, must be fixed now. Thanks!

[2015-10-01 00:47] #23 closed

[2015-10-01 17:32] surajpkn commented on #74
Yes I agree.

[2015-10-01 17:35] surajpkn commented on #60
I have taken the initial program approach to handle this and works fine. I think this issue can be closed.

[2015-10-01 18:01] #74 closed

[2015-10-01 18:01] #60 closed

[2015-10-05 18:35] garlick commented on #63
This just came up in our meeting and I _thought_ the we decided that the failing tests had been fixed.  However I just pulled master and noted that the tests are still disabled from commit 22250a2ddc3b58cb3f1aa75077e4f2d56c9368b7

When I uncommented the fcfs test, it failed on my RHEL6 based desktop.

Maybe the discussion was referring to a branch that hasn't been committed yet?

[2015-10-05 18:59] dongahn commented on #63
Ah, I misspoke then. I mistakenly thought that getting

# passed all 4 test(s)

are all that we need to get the pass and didn't realized this test case was disabled that way.

@SteVwonder: please take a look at this issue as soon as *Practical*. I know you have your IPDPS deadline coming so I trust your sense of priority. Please note that I can reproduce this on Cab as well.

[2015-10-05 19:08] SteVwonder commented on #63
The sim tests in my [branch/fork](https://github.com/SteVwonder/flux-sched/tree/sched_sim_merge/t) are uncommented (actually running and testing output) and pass on my VM.  The problem now is that the waitjob and jsc tests fail.  If we can get those working on the recently merged sim/schedsrv, then this issue should fix itself.

[2015-10-05 20:55] dongahn commented on #63
@SteVwonder: Ok, as I promised, I will take a look at your branch this afternoon.

[2015-10-05 21:42] dongahn commented on #63
OK. I confirmed this branch passes on Cab as well. On to the jsc integration issues.

[2015-10-05 21:50] dongahn commented on #63
I will use #48 for the rest of integration issues.

[2015-10-05 21:53] dongahn commented on #48
@SteVwonder: I tested with your branch a bit on Cab and found that `t0002-waitjob.t' and `t2000-fcfs` fail with one broker dumping its core. Is your failure mode the same?

[code]

[2015-10-05 22:13] dongahn commented on #48
@SteVwonder: Ok. Restoring this the original `req_tpexec_exec` function allowed both of these test cases to pass. This leads me to believe the issue is a very simple integration error. I will look further to see if I can create a simple patch so that you can move on.

[2015-10-05 23:15] dongahn commented on #48
OK. I've fixed the issues and added some minor cleanup. As I suspected, the issue was caused by a simple integration error. @SteVwonder: I've issue a PR to your fork, please review it and take them in.

[2015-10-08 21:57] garlick opened #81 "sched module should set errno when exiting mod_main()"
If the sched module is loaded without an rdl-conf option, it returns -1 from mod_main.  The broker code then does this
[code]
the `err()` function tries to decode errno and print it, but since it's not ever set by the sched module a residual one is picked up, e.g.
[code]
I would just set errno = EINVAL in the !path case of `load_rdl()` so users don't see an error that throws them off course.

[2015-10-09 17:20] dongahn commented on #63
Hi @garlick: With the latest PR merged, this problem doesn't occur in my environments (on Cab and Travis.) When you have a moment, could you do a quick check on your environment for us? If this doesn't occur there, I would say we close this issue.  Thanks in advance!

[2015-10-09 23:04] garlick commented on #63
Sorry for the delay - just tried current master 33e82b0d935ceec0d641294bd1cd5a216f72cf25 four times, and all three "jobs scheduled in correct order"  tests seem to be passing.

[2015-10-11 03:26] #63 closed

[2015-10-11 03:26] #48 closed

[2015-10-11 03:28] #3 closed

[2015-10-11 03:29] dongahn opened #83 "Add autotools support"

[2015-10-11 03:33] dongahn commented on #83
Create a new issue for autotools support as I closed #3. There we have addressed all issues except for autotools support.

[2015-10-13 00:08] lipari opened #84 "Resource reading enhancements"
This issue captures residual enhancements to the resource reader that were proposed in comments to [PR 79](https://github.com/flux-framework/flux-sched/pull/79) and [Issue 58](https://github.com/flux-framework/flux-sched/issues/58), but have yet to be implemented.
- read resources from a file specified in the kvs config directory (config.sched.rld-conf) instead of arguments to the sched module loa

[2015-10-13 00:16] lipari opened #85 "Provide flexible options to traverse the resrc hierarchy"
This issue captures the request to design a level of abstraction in resrc that provides the same flexibility and functionality that the hwloc API provides.  This would include task mapping options.
https://github.com/flux-framework/flux-sched/pull/79#issuecomment-147103629

[2015-10-13 15:47] lipari commented on #84
The fourth bullet above has been addressed with an update to https://github.com/flux-framework/flux-sched/pull/79.  https://github.com/flux-framework/flux-core/issues/442 was also closed.

[2015-10-14 22:44] lipari commented on #81
This advice was adopted in commit:  https://github.com/flux-framework/flux-sched/commit/93cbec8e95295b199182e8258b4a36dfa7ec6970

[2015-10-14 22:44] #81 closed

[2015-10-15 20:58] lipari opened #88 "Migrate backfill scheduling support from the sched framework module to its own plugin."
The latest enhancements that added backfill scheduling were helpful and carefully done so as to not impact the existing FCFS operation.  However, the vision for the schedsrv framework service was to provide the foundation for a variety scheduling algorithms.  Backfill is the first such alternative algorithm to be developed.  This issue is to move backfill scheduling out of the sched framework and

[2015-10-15 22:09] dongahn commented on #88
This sounds good, @lipari! I look forward to pushing this ideas forward, along with  @SteVwonder and @surajpkn who actually have hands-on experiences of implementing the backfill algorithms.

[2015-10-20 19:37] surajpkn opened #89 "Scheduling multiple jobs on the same node and resource states"
At the moment, a node cannot be shared between jobs because as soon as a job is scheduled on a node, the state of the node resource is ALLOCATED. the match function looks only for IDLE resources and therefore, the node parent and its children (cores) of the resource tree will not be considered for scheduling. A simple fix would be to keep the state of the node resource as IDLE until all of its cor

[2015-10-20 22:02] dongahn commented on #89
@surajpkn: You are right. `resrc` currently supports only exclusive scheduling at the node level. However, RFC 4 requires that our resource model should ultimately support both shared and exclusive scheduling at any level. So this probably is a good time to think about right mechanisms.

I am curious about types of optimization that PARTIALLY_ALLOCATED can provide for dynamic scheduling? What woul

[2015-10-20 23:17] surajpkn commented on #89
Basically, if space-shared scheduling is NOT enabled, then the problem and the logic becomes absolutely simple. If a node is ALLOCATED, at least one of its cores are ALLOCATED. If it is IDLE, then all of the cores are available. Therefore, to move the resources around, it is sufficient to only check the state of the node and move the whole branch when it is IDLE.
If space-shared scheduling is enab

[2015-10-20 23:53] dongahn commented on #89
@surajpkn: Sorry about not having a solution for #85 in time and having you implement the hash table...

Though you have already implemented your own solution, could you please make an effort to capture the ideal query abstraction for you in #85 at your convenience? Would an ability to iterate through the flat list of `resrc` objects be giving you satisfying performance? Are there better performan

[2015-10-21 00:09] lipari commented on #89
The problem stems from the early decision to track the resource's state and use that state to steer the code.  With the enhancements we have made along the way, a single state is no longer adequate to capture a resource's state of allocation.  In the changes I'm working on to extract the backfill scheduling from the sched framework, I'm playing with different alternatives to the using the resource

[2015-10-22 16:50] dongahn commented on #69
FYI -- so that you know, I will be working on resource-to-rank mapping techniques etc to tackle the issues described in this ticket. If I need some discussion, I will create a new issue or issues.

[2015-10-22 19:21] surajpkn commented on #89
@lipari It just came to my mind that as soon as we enable space-shared scheduling, nodes/sockets can have overlapping reservations, while cores cannot. So the walltime_match() needs to be called in only when considering a core resource. I wanted to mention that just in case you had not thought of it yet.

[2015-10-28 06:35] dongahn commented on #85
Since we wanted to collect any many use cases as possible, here is one case I've encountered.

Using hwloc resource data, I've created a data structure that can map a resource signature <hostname, SHA of the per-rank hwloc xml export> to a broker rank (or ranks). This logic (`res2ranks` class ) will allow sched to target the correct rank in assigning the core count, but I'd also like to use the sa

[2015-10-28 16:36] lipari commented on #89
I'd like to strive for the goal of having the resrc code not have any type-specific conditions.  The current checks for "node" and "core" types are training wheels in my opinion.  I'd like to see them eliminated once an elegant, generic solution can be designed.

In the end, we may always need to have special treatment for nodes and cores, but at this point, I'm not will to concede that requiremen

[2015-10-30 18:55] lipari commented on #88
Closed with the merge of [PR 91](https://github.com/flux-framework/flux-sched/pull/91)

[2015-10-30 18:55] #88 closed

[2015-11-03 00:21] dongahn opened #92 "Support for checking consistency between resrc and hwloc data"
Some of the problems are mentioned in #58 as well as [flux-core#469](https://github.com/flux-framework/flux-core/issues/469). We need a way to perform a consistency check between "self-discovered" hwloc resource data and `resrc` data in resrc reader mode. When the manually specified resrc/rdl configuration is inconsistent with the hwloc resource data, we need `flux-sched` to print out an error mes

[2015-11-04 01:53] surajpkn opened #93 "flux-sched does not compile when ENABLE_TIMER_EVENT is switched on"
When ENABLE_TIMER_EVENT is 1, the code doesn't compile because:

It can't find SCHED_INTERVAL macro which is actually defined in simulator/scheduler.h. Including this file in schedsrv.c or .h introduces too many errors (I guess this is the alternate scheduler implementation of @SteVwonder which must not be mixed with the original scheduler).

After moving SCHED_INTERVAL to simulator/simulator.h, i

[2015-11-04 03:08] dongahn commented on #93
@surajpkn: Just as a warning, ENABLE_TIMER_EVENT was a placeholder to enable timer-based scheduler loop in addition to job/resource event-based scheduling.  Now, it seems this particular error can be addressed by using schedule_loops? @SteVwonder can weigh in.

[2015-11-04 04:17] dongahn commented on #93
Looking at the code, yes it does seem like `handle_timer_queue ()` needs to be ported.

[2015-11-04 04:37] surajpkn commented on #93
I use the timer event for the detecting the slack state. If the could also comment out the simulation-related code and use it only for my purposes for the moment.

[2015-11-10 23:34] grondo opened #94 "Q: use of lwj.next-id by flux-sched/simulator"
It doesn't appear that anything in flux-sched still depends on `lwj.next-id` as it is currently used by wreck's job module as storage for the next identifier to use for a job. I was considering removing this key for a builtin sequence number in job module, but I do notice the simluator at least installs a watch on this key. Since we have wrexec events working now, does any part of sched still depe

[2015-11-11 01:32] dongahn commented on #94
I believe we migrated to the eventing by incorporating that into JSC. If the simulator installs a watch, that should be replaced with JSC.

[2015-11-25 18:31] dongahn opened #97 "Please update README.md for testing under SLURM"
The description on how to test `flux-sched` under SLURM is not accurate. This is a reminder that we need to update it.

[2015-11-30 16:15] lipari commented on #97
Closing this now that [PR 99](https://github.com/flux-framework/flux-sched/pull/99) was merged.

[2015-11-30 16:15] #97 closed

[2015-12-02 21:17] lipari commented on #94
Closed with the merging of [PR 95](https://github.com/flux-framework/flux-sched/pull/95)

[2015-12-02 21:17] #94 closed

[2015-12-02 21:23] lipari commented on #14
Looks like this is ripe for closing.

[2015-12-02 21:23] #14 closed

[2015-12-03 16:30] lipari opened #101 "Add support for exclusive and shared allocations to the resource model"
This issue grew out of a request to add the time dimension to the resource model [Issue 62](https://github.com/flux-framework/flux-sched/issues/62).  Within that discussion, a need for shared and exclusive allocation was presented.

We want to be able to support multiple job allocations per resource.  In a simple example, one job runs on one core while another job runs on a different core from the

[2015-12-03 16:37] lipari commented on #62
[PR 66](https://github.com/flux-framework/flux-sched/pull/66) added the time dimension to the resource model.  Hence, I am closing this issue.  The secondary request for shared and exclusive access has been opened as a separate [Issue 101](https://github.com/flux-framework/flux-sched/issues/101)

[2015-12-03 16:37] #62 closed

[2015-12-03 16:43] lipari commented on #101
BTW, this is an expanded restatement of the needs first discussed in [Issue 89](https://github.com/flux-framework/flux-sched/issues/89).

[2015-12-03 16:48] lipari commented on #89
I have expanded on the requirements stated in this PR and created a new [Issue 101](https://github.com/flux-framework/flux-sched/issues/101) which includes the partial allocation requirements discussed above as well as the need to support requests for shared or exclusive access.  Closing this Issue.

[2015-12-03 16:48] #89 closed

[2015-12-18 00:22] dongahn opened #105 "Resource hoarding support"
This is to propose resource hoarding support into `flux-sched`.

I want to create automatic tests where 1-node job requests are submitted back to back until the entire node resources within the Flux instance is filled up.

Given how resrc walks the resource tree, scheduling will be deterministic and thus easy to verify automatically. In addition, how quickly `schedsrv` can fill up all of the node

[2015-12-18 00:38] lipari commented on #105
That seems ok to me - as a test-only option.  You might want to call it the `sched-once` option.  In any case, it would be easy to implement in schedsrv.c:

[code]

[2015-12-18 01:49] dongahn commented on #105
OK. Thanks. I agree that `sched-once` sounds better.

I think your code is on the right spot although I will have to test it to make sure nothing's broken with this option. Also, I will probably want to just not do `resrc_tree_list_release`under this option while still moving the job to the complete queue and generate resource event so that I to-be-added performance metric can measure all of the l

[2016-01-05 21:31] lipari commented on #56
While we discussed this a while ago, I thought I would bring it up again as a way to embed the flux-core code base into flux-sched.  This would allow us to build flux-sched using the latest commits to flux-core.  There are three similar git tools to do this:

* https://git-scm.com/book/tr/v2/Git-Tools-Submodules#_git_submodules
* https://git-scm.com/book/tr/v2/Git-Tools-Advanced-Merging#_subtree_m

[2016-01-08 20:16] lipari commented on #56
Copying in the contents of an email thread that discussed a different approach where flux-sched would not contain flux-core and instead pull in flux-core sources...

@garlick said:
On the build farm, the flux-core RPM would be installed into the mock root that is being used to build flux-sched's RPM.

In travis-ci, an RPM would not be used.  flux-core would be "side installed" (make install prefix

[2016-01-19 21:01] dongahn opened #111 "scheduling throughput degrades linearly and needs further investigation"
This is just to have a placeholder to further investigate job scheduling and launching performance. Using a variant of one of the new test cases I've added (`t/t1003-stress.t`), it seems the job scheduling and launching throughput performance degrades linearly:

The testing configuration was with 4 brokers, each reloading a fake full cab xml file. Then, the script submit/schedule/launch 16-way `sl

[2016-01-19 21:40] grondo commented on #111
I have also seen slowdown in time to launch and run jobs without any scheduling, so this may be a problem solely with the wreck prototype. I kind of assumed the slowdown was due to increased time for kvs_commit and other kvs operations with lots of directories under `lwj.`. However, I never really tried to pin it down so I could be mistaken. (but anyway, problem has been noted in flux-core without

[2016-01-19 23:04] dongahn commented on #111
Thanks @grondo. I think a critical path analysis should show what are the performance dominant factors as we vary different things (e.g., job geometry and scales, job counts etc). I have some idea and experiences in this area and try to make some progress.

[2016-01-23 01:11] #69 closed

[2016-01-23 01:11] #105 closed

[2016-01-23 01:15] dongahn commented on #92
PR #109 resolved this. Closing.

[2016-01-23 01:15] #92 closed

[2016-01-23 01:16] dongahn commented on #58
PR #109 should fix this. If there are remaining issues, we should open a new issue ticket. Closing.

[2016-01-23 01:16] #58 closed

[2016-01-23 01:20] dongahn commented on #33
I believe we decided to use resrc as the RDL abstraction schedsrv should use and @SteVwonder finished porting his emulator to this. Closing.

[2016-01-23 01:20] #33 closed

[2016-01-23 01:20] dongahn commented on #93
@surajpkn and @SteVwonder: from the last concall, this shouldn't be a problem any longer. Should we close this?

[2016-01-23 01:44] surajpkn commented on #93
It is not a problem for me anymore since I comment out the whole code there anyway (since I use a separate timer module). If I recall right, I think others don't see it because no one really uses this macro. and the code under it still needs to be ported correctly. But @SteVwonder should confirm this.

[2016-01-26 23:34] garlick opened #112 "move off of deprecated flux-core functions"
Since we're looking to be able to build flux-sched against a packaged and installed version of flux-core, flux-sched should stop using internal-only deprecated functions:
[code]

[2016-01-27 14:36] garlick commented on #112
Thanks for working on this @lipari.  If possible I would like to remove the deprecated functions that use json_object from the headers that flux-core installs.  That way flux core doesn't have to tell you via its pkg-config file how to find json.h when you build with its installed header files.  I have this cooking in PR flux-framework/flux-core#523.

[2016-01-27 16:03] lipari commented on #112
@garlick, ok by me.  I will target my flux-sched Autotools work to [PR 523](https://github.com/flux-framework/flux-core/pull/523) once it is merged.

[2016-01-28 20:28] lipari opened #114 "vpath functionality under automake"
In autoconfiscating flux-sched, I rely on automake and libtool.  The Makefiles that these two tools create do not elicit the vpath functionality that is present in the old, hand-written Makefiles.

For example, these are present in the flux-sched/Makefile.inc:

vpath %.c $(FLUX_SRCDIR)/src/bindings/lua
vpath %.c $(FLUX_SRCDIR)/src/common/liblsd
vpath %.c $(FLUX_SRCDIR)/src/common/libutil

And when

[2016-01-28 21:09] garlick commented on #114
I don't know of a way to do that from automake, but is it a good idea?  It seems better to be explicit about where sources are coming from especially when they are coming from outside the project, which is not an ordinary situation.

Maybe configure should do an AS_VAR_SET on some variable like `fluxcoresrcdir`, and then Makefile.am's should list the sources e.g
[code]

Although as of right now th

[2016-01-28 21:14] grondo commented on #114
I was going to say flux-core RHEL6 /opt based RPM places sources under `PREFIX/build`, however I just noticed there is an error in the current spec file which caused only libtap sources to be copied there. (That will be fixed though)

[2016-01-28 21:39] SteVwonder commented on #93
This might still be an issue, but the solution should be to just remove the code in the ifdef since the simulator doesn't really support timers right now (suraj's version does though).

[2016-02-01 16:06] lipari commented on #114
Thank you, @garlick.  I'll go with your approach.

[2016-02-01 16:06] #114 closed

[2016-02-01 19:54] garlick commented on #112
Closing since #113 was merged.

[2016-02-01 19:54] #112 closed

[2016-02-14 19:07] dongahn opened #120 "Short-term work in support of UQ workload with flux-sched"
This is just to summarize my take on a set of investigation points that can position `flux-sched` to cope better with uncertainty-quantification (UQ) workload, an emerging workload type that is becoming increasingly important for the DOE labs. These came from looking more closely into MiniUQPipeline (MiniUQP), talking to an UQPipeline (UQP) developer again, and doing some literature search on the

[2016-02-14 19:09] dongahn commented on #120
## Technical Challenges
### High job throughtput
We are all already familiar with this challenge. UQ users often want to run massive numbers of short-running jobs, and this can make the batch scheduler **become on the critical path to the overall job throughput, choked with resource thrashing, and even ceased to work due to resource exhaustion**. Perhaps more importantly, this can also lead to **g

[2016-02-14 19:09] dongahn commented on #120
## State of the Art: Job Array
The *de factor* support for UQ-type workloads, which is implemented in many of the production scheduler (e.g., PBS, PBS Pro, LSF, and SLURM), is job array.

Essentially, a user would describe many similar jobs using a *single* script using a job-array syntax and submit it to the scheduler. The scheduler then invokes many run instances by passing a slightly differnt p

[2016-02-15 18:41] dongahn commented on #120
## Short-term Investigation
There are a set of short-term investigation steps within `flux-sched` to position us better to deal with the UQ challenges. A majority of them are what needs to be done anyway as part of our next step (e.g., performance analysis and tuning for `flux-sched`). The effort is desired to result in quantifiable benefits against other approaches and should streamline other lon

[2016-02-23 23:17] garlick opened #122 "symbol leakage in sched libraries and modules"
`libflux-rdl.so` and `libflux-sim.so`, both installed libraries, don't have a symbol map or other mechanism in place to limit symbol exposure, so they are leaking internal stuff like xzmalloc, err_exit, etc..

Same for the sched plugins: `backfillplugin1.so` and `schedplugin1.so`.

`libflux-resrc.so` looks OK.

The comms modules: `schedsrv.so`, `sim_execsrv.so`, `submitsrv.so`,  `sim_sched_fcfs.so

[2016-02-24 00:02] garlick opened #123 "enhance travis testing"
As mentioned in #121, flux-sched could add
* coveralls support
* travis distcheck
* travis install sanity check

Not sure how convenient it is to do this, but would it make sense to have the "main" travis builds be against a tagged flux-core, and a one-off builder be against flux-core master?  That way it will be easy to distinguish problems with a PR under test from breakage due to flux-core chan

[2016-02-24 00:06] grondo commented on #123
That would be interesting and probably fairly doable with travis build matrix

[2016-02-24 00:07] grondo commented on #123
I'll try to take a poke at this when I attempt to add coverage and install check support.

[2016-02-24 00:25] garlick commented on #123
A downside is that it might be hard to make all the builders pass simultaneously.  Hmm.

[2016-02-24 00:29] grondo commented on #123
Are you thinking that because of intermittent test failures or the challenge of getting one version of flux-sched to build against both flux-core-x.y.z and flux-core master?

[2016-02-24 01:16] garlick commented on #123
The latter, but maybe it will force us to be nice.

On Tue, Feb 23, 2016 at 4:29 PM, Mark Grondona <notifications@github.com>
wrote:

[2016-02-24 18:06] lipari commented on #56
Close via #115 and #121

[2016-02-24 18:06] #56 closed

[2016-02-24 18:43] garlick opened #124 "sched use of hwloc data requires synchronization"
If the sched module is loaded too early, hwloc data won't be there yet e.g.
[code]

There needs to be some synchronization here, but I'm not sure what's appropriate.  Is it possible to use the `resource-hwloc.topo` query for aggregated xml?  That rpc at least will return EAGAIN so you can use a backoff-retry to obtain the data.

Also (minor) I think there's a memory leak in `build_hwloc_rs2rank()`

[2016-02-24 19:16] garlick opened #125 "make sched plugins conform to RFC 5"
There was a preliminary design expressed in [RFC 5](https://github.com/flux-framework/rfc/blob/master/spec_5.adoc)  which would allow `flux module load` to load modules that were plugins to comms modules, `flux module list` to list modules and their submodules, etc..  The design was prototyped in the test programs in  [flux-core/src/test/module](https://github.com/flux-framework/flux-core/tree/mas

[2016-02-24 19:24] dongahn commented on #124
In my sched sharness tests, I used

[code]
back to back. The assumption was they would be synchronized as far as `reload` succeeds and `reload` would succeed as far as `resource-hwloc` had been loaded.

It sounds like we need to build in such a sync directly into schedsrv module to use the real hwloc data. As a short-term, using some wrapper command like `topo` may work with retry. But I'm not sur

[2016-02-24 21:23] dongahn commented on #124
I feel I'm missing something.

Looking at (resource.c#474)[https://github.com/flux-framework/flux-core/blob/master/src/modules/resource-hwloc/resource.c#L474], HW info is loaded up at load time?

What is the semantics of `flux start -o,--module=sched`? Does it load all of the default modules first than sched? If that's the case, this issue might be something else.

If it instead loads sched in an

[2016-02-24 21:28] dongahn commented on #124
Or may be it is guaranteed that sched is loaded after all the default modules at the single broker level. But its load order doesn't guarantee synchronization (or order) against resource-hwloc module loaded into other brokers...

[2016-02-24 21:32] dongahn commented on #124
It seems having a way to express a module's dependency to another "distributed service" as a whole can ease sync issues like this. (Essentially going back to the first thought above). I'm not suggesting we should do this short term at all, though.

[2016-02-24 22:09] grondo commented on #124
resource-hwloc module *starts* to load hwloc data when it is loaded, it can take awhile before the module has *completed* loading the xml and other data into the kvs, esp if there is a lot else going on in the session during this time. So resource-hwloc module is loaded, but the service might not be ready to use by the time sched is loaded.

[2016-02-24 22:20] dongahn commented on #124
@grondo: Thank you. I see. How do we guarantee a sync between other dependent modules, say kvs module and wreck? Is there something that we can model our sync after?

[2016-02-24 23:40] garlick commented on #124
@dongahn's code in the scheduler iterates through each rank, reading `resource.hwloc.xml.$rank` from the KVS.  The problem is it doesn't know whether all the resource-hwloc ranks have completed writing to the KVS.  The code bails out if a `kvs_get()` fails.

So actually in this case the KVS can already be used for synchronization.  Just replace `kvs_get()` with `kvs_watch_once()` with initial valu

[2016-02-25 00:03] dongahn commented on #124
Ah, good idea. This should be an easiest way to get that sync in place (via blocking KVS like you said).

I don't know how to do this. But if we can add some generalized and scalable "group" concept into flux, I suspect it can have lots of utility beyond startup sync... (not short term, of course). This may include multi-rpc without having to be a wrapper on top of rpc. With a group concept, each

[2016-02-25 01:18] lipari commented on #122
Close via #127

[2016-02-25 01:18] #122 closed

[2016-02-25 05:46] #124 closed

[2016-02-26 04:09] grondo opened #131 "flux-cpuset.so not installed correctly"
I noticed that the Lua `cpuset.so` module was renamed to `flux-cpuset.so` (I'm assuming to differentiate it from any installed `cpuset` module), but it is still installed into `$(luaexecdir)/flux` so it will fail to load with : `require ("flux-cpuset")`.

Instead we should either install the `flux-cpuset.so` module directly to `$(luaexecdir)` or alternately follow what we did in flux-core and inst

[2016-02-26 15:44] grondo opened #132 "failed to load sched plugin backfill.plugin1"
With installed flux-sched, I'm seeing the following error loading `backfill.plugin1` -- maybe a problem with my environment, so I wonder if anyone else can reproduce.

(In the output below both flux-core and flux-sched are installed with `--prefix=/tmp/flux`)

[code]

[2016-02-26 16:06] dongahn commented on #132
Seems xzmalloc is not resolved. I'm not sure if @lipari is in today. If not I can try to reproduce it when I get into my office. I need to refresh my flux builds any way.

I suspect xzmalloc is not exported by schedsvr, which then fails backfill scheduler's dependency. I forget, did we decide to link in xzmalloc as a SO? Would a static link of these utility routines solve the issue?

_____________

[2016-02-26 16:26] garlick commented on #132
Well that's odd.  xzmalloc is in sched's libutil.la (a noinst_ so statically linked), and backfillplugtin1 is linked against it:
[code]

[2016-02-26 16:41] garlick commented on #132
I'm guessing you're picking up an old backfill.plugin that wasn't linked that way?  I was able to run against an installed flux-sched (both flux-core and flux-sched installed to `$HOME/local`:
[code]

[2016-02-26 17:23] grondo commented on #132
OK, thanks that could be. Let me verify then I'll close this issue.

[2016-02-26 17:44] grondo commented on #132
Ah, yes, an older plugin was sitting in the default FLUX_MODULE_PATH from a previous install before the sched-plugins were moved to their own directory.

I blew away all install directories and started fresh and no longer can reproduce the issue. Thanks!

[2016-02-26 17:44] #132 closed

[2016-02-26 18:35] dongahn commented on #132
FWIW, I built them on hype and the backfill plugin worked fine for me as well. I also confirmed it has the definition of those utility functions in the text.

It has dynamic function dependencies to resrc libraries etc, which of course will have to be addressed in the final round :-)

[2016-02-26 20:47] lipari commented on #131
@grondo, your plan is fine with me.

[2016-02-29 15:51] #131 closed

[2016-03-01 00:23] lipari opened #134 "Intermittent failure of t1001-rs2rank-basic.t"
The t1001-rs2rank-basic.t tests were bypassed in commit 39d2b26935c365c7da11a7bb2cbc670f1fd26682.  I think I see why they are intermittently failing, but I'm not sure how best to fix it.  The test invokes a similar sequence of commands for every test which include a variation on the following:
[code]
My tests appear to show that when a failure happens, it is because a job was submitted before the

[2016-03-01 00:42] garlick commented on #134
As luck would have it, this is exactly what I was just working on in flux-framework/flux-core#586, though that particular bit of code has not been pushed yet.  After I'm done, the insmod request sent by `flux module load` will not return until the sched module enters the reactor.  It will also return an error if sched exits its `mod_main()` before that happens, e.g. if it can't find its rdl file.

[2016-03-01 00:44] lipari commented on #134
Well, that was easy.

[2016-03-01 00:45] dongahn commented on #134
About to say a similar thing.

It's great `flux module load` will be blocking. I was thinking for a testing element to monitor the status bit...

[2016-03-01 14:52] garlick commented on #134
Just so we're on the same page, requests sent to sched will be queued, and unless sched is reading them from the handle during initialization, they should still be there when the reactor is started.

[2016-03-01 15:51] dongahn commented on #134
I think the issue is the sched module receives the job event via JSC which  uses "job and wreck event" subscription

So the rough sequence I sketch, based on @lipari's great detective work

1. Flux module load returns before sched initialization completes which includes JSC's event subscription and callback registration

2 start to submit jobs with flux submit

3 job module emits a job creation ev

[2016-03-01 18:01] garlick commented on #134
Thanks for the clarification - I had forgotten that events are the trigger here.

@dongahn, as long as the event subscription occurs before the reactor is started, I think this race will be addressed by the work in flux-framework/flux-core#586.

[2016-03-01 18:10] dongahn commented on #134
Sounds great!

________________________________
From: Jim Garlick
Sent: Tuesday, March 01, 2016 10:01:25 AM
To: flux-framework/flux-sched
Cc: Ahn, Dong H.
Subject: Re: [flux-sched] Intermittent failure of t1001-rs2rank-basic.t (#134)

Thanks for the clarification - I had forgotten that events are the trigger here.

@dongahn<https://github.com/dongahn>, as long as the event subscription occurs befo

[2016-03-03 20:35] garlick opened #136 "t/Makefile.am:17: if $(FLUX_SCHED_TEST_INSTALLED: non-POSIX variable name"
I'm getting this warning from autoreconf on current master 23ca224e5cbb2b809bbe59be71b8c5ffca3eea6e
[code]

[2016-03-03 20:36] garlick commented on #136
[code]

[2016-03-03 20:40] garlick commented on #13
This works now.  I'll submit a pr shortly to re-enable the test
[code]

[2016-03-03 21:27] grondo commented on #136
Hm, sorry for some reason I thought I had read that `$(if ..)` was POSIX, and it was the only sane way I could think of at the time to substitute properly in `TESTS_ENVIRONMENT` for the case where we want to run Lua tests against installed version of flux-sched.

I wonder if, since `TESTS_ENVIRONMENT` is perhaps passed on a command line if we could just do shell substitution there instead of tryin

[2016-03-03 21:31] garlick commented on #13
Also I verified that flux-framework/flux-core#593 gets the right errno to `flux module load` here:
[code]

[2016-03-03 21:34] garlick commented on #83
Fixed by #115.

[2016-03-03 21:34] #83 closed

[2016-03-07 16:57] lipari commented on #13
Closed via [PR 137](https://github.com/flux-framework/flux-sched/pull/137)

[2016-03-07 17:17] #13 closed

[2016-03-08 17:27] lipari commented on #136
@grondo, I agree that conditionally defining TESTS_ENVIRONMENT in the Makefile.am is a bit awkward unless we craft it to pass unaltered into the final Makefile.  My thought would be to leave the two LUA PATH variables unconditionally defined in the t/Makefile.am and then unset them somewhere in the lua tests if the FLUX_SCHED_TEST_INSTALLED environment variable is defined.  I just have yet to dete

[2016-03-08 17:56] grondo commented on #136
Stay tuned, I'm trying something with POSIX shell substitution that might work.

[2016-03-09 00:30] lipari commented on #134
Closed via [PR 138](https://github.com/flux-framework/flux-sched/pull/138)

[2016-03-10 18:37] #136 closed

[2016-03-10 18:49] lipari commented on #134
Intermittent failures of individual tests from the clang travis test of t1001-rs2rank-basic.t have returned:
https://travis-ci.org/flux-framework/flux-sched/jobs/115133298

not ok 4 - rs2rank: works with a matched RDL
not ok 5 - rs2rank: works with an inconsistent RDL (fewer cores)
not ok 6 - rs2rank: works with an inconsistent RDL (fewer nodes)

The gcc tests of the same PR succeeded.

[2016-03-14 16:44] lipari commented on #134
Sorry, I prematurely closed this issue.  It needed the merge of flux-core [PR 597](https://github.com/flux-framework/flux-core/pull/597) to be resolved.

[2016-03-14 18:45] garlick opened #140 "sched should provide rc1/rc3 scripts"
With flux-framework/flux-core#597 merged, sched can now provide startup/shutdown scripts that cause it to be loaded by default when Flux is started in the normal ways with `flux-start` or `srun flux-broker`.  Specifically something like this:

[code]
sched-start:
[code]
sched-stop:
[code]

[2016-03-14 18:55] garlick commented on #140
BTW, on systems where flux-core and flux-sched are configured to install into the default prefix, core would own the rc1.d, rc3.d directories, sched would install its scripts into them, and the broker will find them.

On systems where flux-core and flux-sched are configured with /opt/flux-core and /opt/flux-sched prefixes, each would have its own rc1.d, rc3.d directory, and the sched environment m

[2016-03-14 19:07] garlick commented on #125
RFC 5 is in a state of flux, but for starters, to work with current flux-core:
* install sched modules to $(libdir)/flux/modules/sched
* rename `sched.plugin1` to something more descriptive like `sched.fifo`?
* rename `backfill.plugin1` to something with `sched.prefix` like `sched.backfill`?

[2016-03-15 16:56] garlick commented on #134
Reopening again sorry.  I'm seeing failures intermittently on current master of flux-core (0.2.0-152-ga2c1c63, installed to `~/local`) and flux-sched (e5a8e4c).  It's not always the same tests that fail, and it may take a dozen runs to see one.  Here's a representative failure:
[code]

[2016-03-15 17:02] garlick opened #142 "Intermittent failure of t1000-jsc.t"
I'm seeing this test fail intermittently at about the same frequency as in #134.  This is with current master of flux-core (0.2.0-152-ga2c1c6, installed to `~/local`) and flux-sched (e5a8e4c).

[code]

[2016-03-15 17:33] garlick opened #143 "eliminate shortjson.h dependency from installed headers"
currently resrc.h includes `src/common/libutil/shortjson.h`, and resrc.h, resrc_reqst.h, resrc_tree.h, and simulator.h use the `JSON` typedef from shortjson.h

These headers won't be usable outside the flux-sched source tree in their current state.

They also depend on czmq and json-c, so it might be better to just not install them until they can be reworked.

[2016-03-15 18:02] garlick opened #144 "support dynamic sched plugin loading"
Just wanted to float this idea -

If sched implements the `lsmod` request handler as discussed in RFC 5, `flux module list sched` can be used to list its loaded plugins.

Similarly, if `rmmod` and `insmod` handlers are implemented, `flux module remove sched.fcfs` and `flux module load sched.backfill` (say) could work.   Of course then sched has to handle "plugin not loaded" sensibly  (like pausing

[2016-03-15 18:04] garlick commented on #125
Just opened #144 on dynamic plugin loading; I'd say let's close this one once #141 is merged.

[2016-03-15 18:15] lipari commented on #144
Sure.  That sounds like a nice enhancement.  I'll take you up on your offer to implement the stubbed out handlers.
Will we be able to preserve the automatic default loading behavior?  Right now, you get the sched_fcfs by default if you don't specify a plugin.

[2016-03-15 18:22] garlick commented on #144
OK, I'll get that started.  I'll just stub the handlers and you can decide what to do with the requests and the default behavior.  My suggestion would be to not wire a default into sched, but instead have a default dynamically loaded in the sched rc1 script.  (Seems like it would be as easy to support "no plugin at initialization" as "no plugin after rmmod")

[2016-03-15 18:29] garlick commented on #140
I have the `sched_install_improvements` branch installed to `~/local` and just tested the above, manually dropping them into `~/local/etc/flux/rc1.d/sclhed-start` and `~/local/etc/flux/rc3.d/sched-stop`.  I ran
[code]
and voila!
[code]

[2016-03-15 18:32] lipari commented on #144
Sounds good.

[2016-03-15 21:30] garlick commented on #125
Resolved by merge of #144

[2016-03-15 21:30] #125 closed

[2016-03-31 16:51] lipari commented on #134
Closing with the merge of e283376

[2016-03-31 16:51] #134 closed

[2016-03-31 16:51] lipari commented on #142
Closing with the merge of e283376

[2016-03-31 16:51] #142 closed

[2016-04-04 21:15] lipari opened #149 "Sporadic t1001-rs2rank-basic.t failure"
Still seeing an occasional failure of t1001-rs2rank-basic.t when run by travis.  Refer to [Issue 134](https://github.com/flux-framework/flux-sched/issues/134) for problems that were diagnosed and fixed.  There appears to be a third source of the intermittent failures.  It looks like this:
[code]

[2016-04-04 21:20] grondo commented on #149
Can you paste the test log and broker log from this test?
The test is actually passing but it appears the broker is killed instead of exiting cleanly. I'm not sure why that is happening. Unless `flux-start` itself will sometimes `kill -9` the brokers, this could be an OOM kill(?)

[2016-04-04 21:24] lipari commented on #149
I have not seen this happen on my local system - only in a travis build and test.  Here's the latest one:  https://travis-ci.org/flux-framework/flux-sched/jobs/120731239

[2016-04-04 21:26] grondo commented on #149
Arrgh. The broker log and test output file are empty or missing.

[2016-04-04 22:21] garlick opened #150 "gcc 5.2.1 compilation issue"
On ubuntu 15.10, gcc 5.2.1 found this:
[code]
It needs a fix like this:

[code]

[2016-04-04 23:00] garlick commented on #144
Looks like this is complete?  Closing.

[2016-04-04 23:00] #144 closed

[2016-04-05 22:37] lipari commented on #143
Close via #148

[2016-04-05 22:37] #143 closed

[2016-04-06 17:26] garlick commented on #150
Fixed with #151 merge

[2016-04-06 17:26] #150 closed

[2016-04-21 20:16] dongahn opened #153 "Change verbose level to INFO when RDL spec != hwloc"
Currently, when the hwloc resource info does not match with the specified RDL file, `sched` reports

[code]

But this is not a fatal failure because `sched` will tolerate it and rebuild the `resrc` tree based on the hwloc resource info instead. I think @tpatki was once confused about this before. And looking at this after a while doesn't seem right to me either.

What do folks think changing the v

[2016-04-21 20:19] dongahn opened #154 "Questions that may arise in creating the first sched RPM package"
I talked with Mark offline this morning. I thought his suggestion was good to create an issue and track questions/issues that I may come across as I will be creating the first sched RPM and a release for sched for /opt on our systems.

[2016-04-21 20:23] lipari commented on #153
INFO sounds good to me.  I would amend the message to state that (in addition to the RDL file not matching hwloc), that the resources discovered by hwloc would be used.

[2016-04-21 20:28] lipari commented on #153
In thinking about this more, is this message even needed.  If the tests will never run on hype, why bother trying to read a hype.lua file?

[2016-04-21 20:29] dongahn commented on #154
It doesn't look like the current `sched` master builds against the flux-core 0.2.0 rpm installed under /opt on our systems like cab...

[code]

[2016-04-21 20:32] dongahn commented on #153
I think the message is needed since the message can potentially help debug. But in terms of test cases, you have a good point. Perhaps, what we should do is not to pass an RDL file (e.g., hype.lua) to `sched` load line for all but a few tests that deliberately test if `sched` can tolerate RDL file != hwloc info?

[2016-04-21 20:35] grondo commented on #153
There should be at least one test that loads an example RDL file if we continue to support that. I think the `hype.lua` file was just an example meant to sanity check readers.

[2016-04-21 20:41] dongahn commented on #153
@grondo: good point. Yes, we do have some test coverage for these cases. So we can safely remove the RDL file from other subtests...

[code]

[2016-04-21 21:29] grondo commented on #154
Ah yes, that was added in  d3f1cd31f8745a67944b8bd916c6f6c736346231 which was applied after 0.2.0 tag. For build testing you might have to first install a copy of current flux-core master to you destdir. Sorry!

[2016-04-22 00:46] dongahn commented on #140
@garlick. This is pretty cool. I've just looked at this and will work on this. A few questions to make sure I understand this before implementing this.

1. I noticed that flux-core's install doesn't create rc1.d and rc3.d directories. Is this intended? I can always make it so that sched install will do `mkdir -p $(sysconfdir)/flux/rc1.d` for the non-rpm-case but I just wanted to make sure if this

[2016-04-22 02:28] grondo commented on #140
It might be useful if eventually `flux start` could pass options down to rc scripts. I imagine as the number of framework modules as separate projects grows, we'll have a combinatorial problem here...

For now, in flux-sched rc script could you have a special purpose environment variable?

[2016-04-22 02:45] dongahn commented on #140
Ok. Special env var should work for now.

________________________________
From: Mark Grondona
Sent: Thursday, April 21, 2016 7:28:54 PM
To: flux-framework/flux-sched
Cc: Ahn, Dong H.; Comment
Subject: Re: [flux-framework/flux-sched] sched should provide rc1/rc3 scripts (#140)

It might be useful if eventually flux start could pass options down to rc scripts. I imagine as the number of framework m

[2016-04-25 18:33] dongahn opened #157 "Best ways to provide consistent resrc in different reader modes"
We agreed to move the discussion into a separate issue ticket to capture the issues in a general sense.

Below is the copy and paste of the initial discussion on a specific problem (PR #155), which has led to a problem on match tests between the RDL spec file and hwloc info. In general,  inconsistency in the semantics of `resrc`'s fields under different reader modes can lead to undesirable side ef

[2016-04-25 19:48] lipari commented on #157
@dongahn, thank you for creating the issue and summarizing the issues.  I have a number of items that summarize my understanding of the details:

* (reiterating...) the model needs to apply to all resources, not just nodes
* The discussion starts with the terms defined in [RFC 4](https://github.com/flux-framework/rfc/blob/master/spec_4.adoc)
* the convention that the rdl code established is for th

[2016-04-25 20:04] dongahn commented on #157
@lipari: I think this is reasonable from the semantics point of view. But from the implementation point of view, what @grondo is saying is this can impede condensed international representation if name+id needs to be stored *and* RDL's json method is supposed to return this internal representation.

We need @grondo's take on it.

One other question is whether we will ever see other types of reader

[2016-04-25 20:12] lipari commented on #157
I'd like to remove the ambiguity in [RFC 4](https://github.com/flux-framework/rfc/blob/master/spec_4.adoc):

* Name or Basename

And clarify whether this particular field should be a name (core47) or basename (core).  Maybe that will render the "id" field irrelevant and unnecessary.

In any case, I don't think the fix should be made to the resrc code.  The resrc code should implement the conventio

[2016-04-25 20:54] grondo commented on #157
I agree the problem is in the ambiguity in RFC 4 with "name or basename".

The id field will certainly remain necessary (you still need to know the logical/physical id of a resource), but how about the following improvement by differentiating "name" and "basename"

 * Basename: a base name (prefix) of a resource. By default the resource type name.
 * ID: a logical numeric identifier differentiatin

[2016-04-25 21:14] lipari commented on #157
@grondo, that sounds good to me.  For the record, we may need to provide for multiple id's in the "name" attribute of a node for node.  For example, some sites like to name their nodes R12M2 to refer to the 2nd frame in the 12th rack.

I also think we ought to allow id's to be N/A.  This would be the case for the "cluster" resource for example where giving it an "id" if 0 could be misleading.  I s

[2016-04-25 21:26] grondo commented on #157
@lipari, "id" is already optional. If not set it is `nil` `NULL` "N/A" or whatever you want to call it.

Your first point argues for @trws's suggestion. For node resource objects at the site in your example, site-specific attributes "bladeid" and "rackid" could be set on the resource, and the name would be defined as `"R${rackid}B${bladeid}"`.

[2016-04-25 21:32] lipari commented on #157
@grondo and @dongahn, I'd be happy to submit a PR that implements the changes we've decided.  It will affect the rdl and resrc code and any tests that may be affected.

[2016-04-25 21:35] grondo commented on #157
@lipari, sounds great! Should we also set up a PR for RFC #4? We could enhance the RFC with changes above, plus an extension to register a per resource template to create resource name from instance parameters, but for now that functionality could be marked as "not yet implemented"

[2016-04-25 21:37] lipari commented on #157
Will do.

[2016-04-25 21:44] dongahn commented on #157
@lipari: this sounds good to me. I will wait until your PR is merged before adapting PR #155 to it.

@grondo: Putting the proposed change as a PR for RFC #4 with NYI placeholder makes sense to me unless someone wants to put more thoughts to it and pin down the spec/mechanism. At the very least, this PR should refer to this issue ticket for a future reference.

[2016-04-26 04:30] trws commented on #157
This all sounds good to me.  The only question that comes to mind after going over this in post, should we have a "hostname" default field that would represent the actual resolvable hostname, as possibly distinct from the "name" field? I'm not sure if we need it, but given the defaults it seems like "Node15" would be consistent naming, where the hostname might be entirely something else.  Perhaps

[2016-04-26 04:55] grondo commented on #157
Though I don't see it mentioned in rfc4, resources in the Flux model are allowed to have arbitrary attributes. A DNS hostname could be an arbitrary attribute that would be applied to specific resources of type "node". It probably doesn't make sense to require all resources to have a hostname.

Specific schedulers or other users of the resource model could specify in documentation and/or during ver

[2016-04-26 06:53] dongahn opened #158 "make distclean issue?"
So that I don't forget. After I did make distclean, git status says I still have some Makefile.in left...

[code]

[2016-04-26 13:24] garlick commented on #158
From [Automake manual](http://www.gnu.org/savannah-checkouts/gnu/automake/manual/html_node/Clean.html#Clean):

So I think that's normal.

[2016-04-26 15:15] dongahn commented on #158
Thank you for the reference. I had this question because the purpose of distclean is to return the state to the pristine source which is needed for rpm.

Are you guys distribute Makefile.in for the core release? (I can check this myself but I will have to be on road now...)

[2016-04-26 15:17] grondo commented on #158
Yes, you have to distribute Makefile.in files with a release, or `./configure` won't work. If you want to clean Makefile.in and other products of autotools, then use `make maintainer-clean`

[2016-04-26 15:42] dongahn commented on #158
got it.

[2016-04-26 15:52] #158 closed

[2016-04-26 23:12] dongahn opened #159 "Providing a runtime option to select conservative/hybrid backfill algorithms?"
This is just an idea.

As I was trying to package things up, I thought it might be useful to make not only EASY backfill, but also conservative backfill algorithms as a **runtime** option. This way, users can try most popular online scheduling algorithms: FCFS, EAST/Hybrid/Conservative backfill.

I have to believe all of the algorithms is already in the code, but it is currently statically determi

[2016-04-27 00:32] dongahn commented on #154
FYI -- I've made some progress here. I will probably need to take care of some stuff next few days and then resume this work towards the end of this week or early next week. If /opt flux-core 0.3.0 comes along, the first sched 0.1.0 rpm will be tested on that. The first sched /opt rpm should be considered as a rpm for rpm packaging testing sake.

Here are my current (completely untested) flux-sche

[2016-04-27 05:17] dongahn opened #160 "Need manpages similar to flux core"
For upcoming sched releases, it seems sched can benefit from having man pages that are consistent with flux core's.
- Sched has some utility commands flux-waitjob flux-jstat (although the latter is in core) which we have been using testing. But formating the existing docs into adoc should be useful for early users
- There are some sched module load options which seem also good to document for the

[2016-04-27 14:29] grondo commented on #160
Man pages for modules to document their function and options is a good idea. A section 7 man page (like `flux-broker-attributes(7)` might work for these pages, but like you say it would be great to have a convention for naming the pages. Perhaps `flux-module-sched(7)`?

Also, if you want any installed commands to appear in `flux help` output, sched can generate a `sched.json` help file (see `etc/f

[2016-04-27 20:29] dongahn commented on #160
flux-module-ached(7) should work for me. @lipari?

Thank you for the flux help tip!

[2016-04-27 20:39] lipari commented on #160
`flux-module-sched(7)` works for me as well.
Also, the new issue @grondo opened is [Issue 655](https://github.com/flux-framework/flux-core/issues/655)

[2016-05-02 19:51] garlick commented on #154
FYI flux-core-0.3.0 has been tagged and rpms built for TOSS2 and TOSS3.  Apparently we made the TOSS2 production deadline only because of a security update that came in at the last minute.  Anyway Trent says the new rpms should roll out on the test systems soon (he thought it might already be on hype though I don't see it.

[2016-05-02 20:16] dongahn commented on #154
Great. I will have to work on some other things for now, so this doesn't block me. I will check back on hype in a day or two.

[2016-05-05 15:09] lipari commented on #157
[PR 41](https://github.com/flux-framework/rfc/pull/41) to rfc has been merged.
[PR 161](https://github.com/flux-framework/flux-sched/pull/161) to flux-sched is ready for review.

[2016-05-09 20:04] dongahn commented on #154
FYI -- Trent has just pushed 0.3.0 to hype login node.

[2016-05-10 06:16] dongahn commented on #140
PR #156 added the runlevel support.

[2016-05-10 06:16] #140 closed

[2016-05-10 06:17] #157 closed

[2016-05-10 06:18] dongahn commented on #153
PR #157 ready for review.

[2016-05-10 23:40] #153 closed

[2016-05-10 23:46] dongahn commented on #154
I've been consumed by something else and I will be on an all-day meeting today. I will try to get to this Thu or Fri.

[2016-05-14 17:52] dongahn commented on #154
Ok. With minor modifications/fixes to the spec file, a spec rpm build on TOSS2 on flux-core/0.3.0 rpm. I will take this to TOSS2 BuildBot as the next step.

[code]

RPM file:
`/nfs/tmp2/dahn/rpm/RPMS/x86_64/flux-sched-0.1.0-1.ch5.4.x86_64.rpm`

[2016-05-14 17:57] garlick commented on #154
@dongahn - you can likely drop the zeromq4 BuildRequires as (I _believe_) no libzmq interfaces are used directly in sched.

[2016-05-14 18:02] garlick commented on #154
Also, I think `module load flux-core` brings in its dependencies so you shouldn't have to explicitly load them here.

Any BuildRequires needed to bring in the /opt module machinery?  (If you are using @grondo's flux-core toss2 spec file as a guide then you probably are already doing the right thing.)

[2016-05-14 18:42] dongahn commented on #154
Hmmmm that explict module load was needed to fix some early build error. i will check again.

[2016-05-14 20:29] dongahn commented on #154
@garlick. I misread your comment. I think you are right (i was watching a musical where my son had some role :)

[2016-05-16 19:13] dongahn commented on #154
FYI -- we talked about this a bit at the meeting. The current buildbot error:

DEBUG: ERROR: t0001-basic.t - exited with status

was because a key wasn't generated.

I also moved the `make check` into the `check` section from the `build` section. In addition, as `rpmbuild` evaluates one spec line at at time, the `cat t/*.out t/*.log` given at the next lines wasn't working. Instead,

[code]

With t

[2016-05-17 01:20] dongahn commented on #154
@grondo: I am having trouble in exporting `FLUX_LUA_PATH_PREPEND` and `FLUX_LUA_CPATH_PREPEND` from within the flux-sched module file, and this is mainly because of the LUA glob. (I might have fallen into an escape hell.)

So, I am wondering if you have been able to find a way to export LUA glob character (`?`) for TOSS 2 module.

Just to give you a context, Trent helped installed `flux-sched` rpm

[2016-05-17 02:12] grondo commented on #154
I will try to log in later and check on this. I'm afraid I usually forget to test `tcsh` and likely there are traps lurking in its idiosyncrasies. Have you tried with `bash` or `ksh`?

Also, If you are still using `prepend-path`  for the Lua paths you'll have to specify the delimiter as `;`, the default delimiter for for `prepend-path` is colon.

[2016-05-17 02:26] grondo commented on #154
@dongahn -- ok, I logged on to hype and the Lua paths work for me in `bash`:
[code]

The problem above is just a missing `FLUX_MODULE_PATH`

[code]

[2016-05-17 02:39] dongahn commented on #154
Yes I found I needed FLUX_MODULE_PATH. Were you able to repro tcsh issue?

[2016-05-17 02:39] grondo commented on #154
I did reproduce your problem with `tcsh`. However, `zsh` also works -- might I suggest you switch to that shell ;-)

Seriously, though I'm not sure why `modulecmd` output doesn't quote all `setenv` arguments it generates for tcsh. That seems like a bug, but when working with `tcsh` who knows? I wonder if you tried wrapping the Lua paths in quote characters if that would help.

[2016-05-17 02:44] dongahn commented on #154
Also, my latest module script uses setenv for these two LUA env variables instead of prepend-path, as I should.

[2016-05-17 02:46] grondo commented on #154
Won't setenv overwrite any existing LUA_PATH_PREPEND environment variables? Probably not an issue now, but what if we had two framework projects that each need to use LUA_PATH_PREPEND?

[2016-05-17 03:08] dongahn commented on #154
Ah, you arr right. Will stick witn prepend w/ delimiter.

[2016-05-17 03:12] dongahn commented on #154
The quote characters didnt work for me though i probably wasnt exhastive.

W/ Toss 2 going away soon, fixing this modulecmd bug isn't probably worth it... Perhaps I just make this work under other shells and move to toss 3?

[2016-05-17 03:17] garlick commented on #154
Yeah, I was thinking the same thing - maybe open a bug and get the release
out, and fix later if needed.
​

On Mon, May 16, 2016 at 8:12 PM, Dong H. Ahn <notifications@github.com>
wrote:

[2016-05-17 14:41] grondo commented on #154
I checked the source for environment-modules and here's where they attempt to escape csh strings:
[code]
Sadly, they seem to have forgotten literal `?`, and given that they escape single-quotes, it leaves us no way to actually quote the entire LUA_PATH string *or* `?` ourselves. (Why didn't they just give an option to quote the whole string??)

I share @dongahn's frustration with `environment-modu

[2016-05-17 14:59] dongahn commented on #154
@grondo: Thank you for getting to the bottom of the issue! This agrees with what I observed yesterday.

Given that the current module will be replaced with Lmod in TOSS3 for tce packaging, I'm not sure if we have someone who is willing to accept your patch. I will talk to Trent though. At least they claim the new Lmod-based module can work with an original module file as-is, we should try this cas

[2016-05-17 15:05] grondo commented on #154
We already run a patched version of environment-modules for TOSS2,  so I already have a new version ready to go if it makes sense.

[2016-05-17 15:06] grondo commented on #154
And agreed, we should make sure lmod doesn't have this issue.

[2016-05-17 16:32] grondo commented on #154
@dongahn, I've built a new environment-modules-3.2.10-1.2chaos package for TOSS2 with the above patch applied.

[2016-05-18 04:16] dongahn commented on #154
Great. Thanks!

[2016-05-21 14:25] dongahn commented on #154
FYI -- I have new rpm builds for TOSS2. I will test this once this and environment-modules-3.2.10-1.2chaos package  will be rolled out.

[code]

[2016-05-21 14:27] dongahn commented on #154
Moving on to koji, it seems `tosspkg` isn't really happy at the moment. Is it only me?

[code]
hangs.

@garlick: did you post your `flux-core.spec` somewhere. It would be good if I can compare my adjustments for koji w/ yours.

[2016-05-21 15:57] lee218llnl commented on #154
Dong, you may need to delete your cached credentials in ~/.gitconfig

________________________________
From: Dong H. Ahn
Sent: Saturday, May 21, 2016 7:27:12 AM
To: flux-framework/flux-sched
Cc: Lee, Greg; Mention
Subject: Re: [flux-framework/flux-sched] Questions that may arise in creating the first sched RPM package (#154)

Moving on to koji, it seems tosspkg isn't really happy at the moment. Is

[2016-05-21 20:09] garlick commented on #154
@dongahn maybe you can `tosspkg clone flux-core`?  If not, koji web has a list of packages and I think you can drill down to the spec file that way.  If neither of those work I will get it for you but it may be later today before I can get to vpn

[2016-05-21 20:12] garlick commented on #154
flux-framework/distribution#4 may have some useful info also, though I apparently didn't post spec there.

[2016-05-22 16:25] dongahn commented on #154
@lee218llnl: Great! This fixed the issue and now I can see the flux-core rpm!

[2016-05-22 21:10] dongahn commented on #154
It seem I hit a permission issue with koji packaging on opal. I've sent an email to @foraker on this:

[code]

I will be on travel next week. But since this should be simple enough, I will try to complete this next week. My new untested spec file and Makefile:

[code]
[code]

[2016-05-24 03:00] dongahn commented on #154
OK, now I also have a TOSS3 sched rpm to test:

[code]

[2016-05-24 03:05] dongahn commented on #154
Note as a future reference:

1. To add a new *system-level* package, Foraker told me the protocol is to submit a TOSS JIRA request (though he was kind enough to do this for me.)

2. The final problem I had to address was:

[code]

Apparently, ./configure in my spec file was installing scheds into /usr/local area, which is the default, for example,

[code]

I realized I had to change `./configure`

[2016-05-24 03:08] dongahn opened #164 "0.2.0 release"
The only thing left to do with 0.1.0 sched rpm package for both TOSS2 and TOSS3 are some testing once these RPMs are deployed, which will be done before closing #154.

Assuming that the testing will go smoothly, we need 0.2.0 sched release with at least a more comprehensive release note.

[2016-05-24 14:34] lipari commented on #154
Nice work!  And thanks for highlighting your battle scars.

[2016-05-25 20:54] tpatki opened #166 "Performance analysis for flux-sched"
Add instrumentation to the sched/resrc and analyze associated data in order to understand performance bottlenecks and scaling issues within flux-sched.

[2016-06-03 23:11] dongahn commented on #154
FYI -- I checked opal (TOSS3) just before it was powered down. `flux-sched` has been deployed and seems working now.

[code]

[2016-06-07 16:01] SteVwonder commented on #159
I like this idea.  It would avoid creating a different plugin for every minor variation of a particular scheduler.

To make this work, do we want to store the options as local to the plugin (some local struct), or store them in the sched and pass them into the plugin functions with every call?  It seems to me that allowing the options to be parsed and stored in the plugin is more flexible and clea

[2016-06-07 16:33] garlick commented on #159
see `plugin.c::insmod_cb()` - the sched modules can be loaded by `flux module load` and arguments are available in that function to do with what you like.

[2016-06-08 01:07] dongahn commented on #159
@SteVwonder, @garlick: I agree that passing this at `flux module load` time is a way to go. FYI -- With latest runlevel support, a scheduling plugin can be selected by setting that as a load time option to an environment variable: `FLUX_SCHED_OPTIONS` before `flux start`

@SteVwonder: if you can quickly implement this, this can be used as part of Phase III testing of our [CTS-1 test plan](https://

[2016-06-08 01:08] dongahn commented on #159
@SteVwonder: BTW, do you have an idea as to how we can test correctness of various scheduling algorithms for CTS-1 testing? Perhaps we can bring in some well-known workloads w/ known schedules?

[2016-06-09 17:59] SteVwonder opened #168 "Broader verification of scheduler correctness"
In #159, @dongahn mentioned:

Opening as a separate issue to isolate the discussion here.

[2016-06-09 18:04] SteVwonder commented on #168
We currently have a very simple test using the simulator that launches 10 jobs and verifies their schedule under FCFS and EASY.  So the framework is there to do the testing (assuming the simulator is still functioning under master, which is a separate issue that I'll be address this summer), but now we need some more extensive tests.  I will look into this to see what I can find.

At minimum, we s

[2016-06-09 20:08] dongahn commented on #159
Great! Thank you so much for being proactive on this Steven!

[2016-06-10 17:32] SteVwonder commented on #34
I believe this was solved by #64. Closing.

[2016-06-10 22:00] SteVwonder opened #171 "Flux-sched fails to build after removal of mrpc from flux-core"
flux-sched currently depends on flux-mrpc (uses -lflux-mrpc).
mrpc was removed in flux-framework/flux-core#689

travis build failure log: https://travis-ci.org/flux-framework/flux-sched/jobs/136811263

[2016-06-11 04:28] #171 closed

[2016-06-15 18:36] SteVwonder commented on #159
@garlick, it looks like `plugin.c::insmod_cb()` is never actually run (or at least I am unable to print from the function and gdb never breaks on it when I set a breakpoint).

What is supposed to send the `sched.insmod` request which triffers that cb? The broker? Sched?

[2016-06-15 21:34] grondo commented on #159
@SteVwonder, @garlick may be out for the afternoon.

I think flux-sched should be using standard module interface from libflux `module.h`. If so, then a call to `flux module load sched.*` should invoke this callback. That command would be issued by instance owner on command line, or perhaps from the flux-sched `rc1` script?

Sorry I'm not much more help.

[2016-06-15 22:24] garlick commented on #159
Right - you might also need to add an option to sched to pass a group of
options to the plugin it loads by default.
On Jun 15, 2016 2:34 PM, "Mark Grondona" <notifications@github.com> wrote:

[2016-06-16 00:57] SteVwonder commented on #159
The "sched.insmod" callback is being registered by `plugin.c::sched_plugin_loader_create` which is called by `sched.c::mod_main`.  As far as I can tell, this means that the cb is not registered until after sched has been loaded (thus I would suppose that the registration is happening after the request has occurred).

I have an rc1.d script that successfully loads the sched and starts the simulator

[2016-06-16 01:16] grondo commented on #159
The `t/t1004-module-load.t` sharness test exercises schedule component
module loading, so that is probably where that callback is being executed
during tests... I am not sure how sched loads it's initial plugin though
On Jun 15, 2016 17:57, "Stephen Herbein" <notifications@github.com> wrote:

[2016-06-16 01:30] grondo commented on #159
Quick peek at scheduler module shows that, by default, sched will load a
default or user supplied plugin on startup, thus bypassing the `plugin_cb`
message handler. A user supplied plugin can be passed with the `plugin=`
argument to the sched module.

Hope this helps!!
On Jun 15, 2016 18:16, "Mark Grondona" <mark.grondona@gmail.com> wrote:

[2016-06-16 01:42] SteVwonder commented on #159
Thanks @grondo.  You are right.  It looks as though the default or user supplied plugin doesn't trigger that insmod_cb, but if you unload then load a new sched plugin, the insmod_cb is trigger.

@garlick's previous comment about arguments to the default plugin is making more sense now.

I think I have grokked it and can get it working from here.  Thanks guys!

[2016-06-16 18:08] garlick commented on #159
Sorry for my brevity - I was in the doctor's office waiting room on my phone.

Looks like maybe `sched_plugin_load()` needs to accept arguments.   When it's called from sched.c, those arguments would come from sched's command line arguments (maybe allow a `--plugin-args=arg,arg,...` on sched's command line?).

When it's called from insmod_cb, they are already decoded there for you from the insmod

[2016-06-28 22:15] dongahn commented on #154
Hmmm on TOSS2, there seems to be an error in the new module script. Will revisit this.

-----
hype356{dahn}27: module load flux-sched
cmdPath.c(159):ERROR:11: Usage is 'prepend-path path-variable directory'
flux-sched/0.1.0(32):ERROR:102: Tcl command execution failed: prepend-path  --delim=; FLUX_LUA_PATH_PREPEND  ${prefix}/share/lua/5.1/?.lua
-----

[2016-06-28 22:18] dongahn commented on #168
Agreed.

[2016-06-28 22:27] grondo commented on #154
@dongahn: You may have to quote the `;` argument to `--delim`, i.e. try `--delim ";"`

[2016-06-30 22:18] #159 closed

[2016-07-01 12:37] dongahn commented on #154
Thanks @grondo. Yes the problem was along that line. It seems escaping `;` is the way to go. (Just as a future reference quoting it gave me the same error). I found a usage page at sourceforge, ... hopefully this is the right page :-(

[code]

I tested this by adding the local path where I have the module file to `MODULEPATH`:

[code]

Then,

[code]

Got back to that old state -- the environment m

[2016-07-08 19:56] lipari commented on #61
[PR 79](https://github.com/flux-framework/flux-sched/pull/79) addressed this.

[2016-07-08 19:56] #61 closed

[2016-07-24 18:17] dongahn opened #176 "Sched AddressSanitizer support needs ways to continue on error"
I took a first step at adding Sanitizer support to sched. But it is not so useful as is. AddressSanitizer finds a leak in a system routine within `flux` and exits right away:

[code]

Because of ASan's [exit-on-failure semantics](https://github.com/google/sanitizers/wiki/AddressSanitizer), I can't really do any meaningful memory analysis and it is not like we can patch this system leak point easil

[2016-08-12 05:06] dongahn opened #177 "sched reports errors when wreckrun launches a job"
[code]

[2016-08-12 17:57] SteVwonder commented on #168
@dongahn and I spoke on the phone today, and the idea of using SLURM's scheduler to verify Flux's scheduler came up.  We are unsure of the exact scheduling policies that SLURM supports.  @lipari's [slides](https://slurm.schedmd.com/slurm_ug_2012/SUG-2012-Scheduling.pdf) (specifically slide 34) make it seem that 4 years ago only EASY backfilling was supported by SLURM.   @lipari, do you know what s

[2016-08-12 18:10] dongahn commented on #168
Thanks @SteVwonder.

Context for @lipari:  an easy verification mechanism of our backfill policy implementations will significantly add to reaching our [CTS-1 scheduler milestone](https://github.com/flux-framework/distribution/issues/14).

Verifying FCFS is a no brainer -- we can look at each job's `starting-time` timestamp within `lwj.$jobid` and make sure they are ordered. But I have no idea how

[2016-08-12 19:06] lipari commented on #168
The Slurm settings to enable backfill behavior which will serve as a reference are:
* PriorityType=basic
* SchedulerType=sched/backfill
* SchedulerParameters=bf_...

The SchedulerParameters settings are where you will tune the backfill behavior from conservative to liberal.  Look at the slurm.conf man page to see all the options.  Also take a look at vulcan to see the bf_ settings we use in produc

[2016-08-12 19:27] lipari commented on #168
On further review, it looks like there is _not_ a setting to enable EASY backfill.  Even looking at the newer Slurm on vulcan, I don't see a setting which will violate the conservative rule of not scheduling a lower priority job if is will delay the start of any higher priority job.

[2016-08-12 20:13] SteVwonder commented on #168
Thanks @lipari for information.  So it seems that we can use the current version of SLURM to validate our Conservative backfilling algorithm.  But that we cannot use the current version to test Hybrid or EASY.

I wonder if there is another scheduler with a simulator that we can test with.

[2016-08-12 20:47] dongahn commented on #168
Do we have well-known large enough workloads (e.g., ESP) and expected schedules under different scheduling policies?

Perhaps we should de-couple  [CTS-1 scheduler milestone](https://github.com/flux-framework/distribution/issues/14) and correctness verification efforts.

In particular, I am using core-level scheduling (i.e., submitting jobs only with their requirements for cores not nodes) in whic

[2016-08-12 20:49] SteVwonder commented on #168
@dongahn, that approach sound reasonable to me.

I just found another scheduler simulator, Alea, that is built on top of GridSim that seems promising: http://www.fi.muni.cz/~xklusac/alea/

I will look for some workloads with "golden orders".

[2016-08-12 20:52] dongahn commented on #168
@SteVwonder: you might want to ping Suraj. I heard he was trying use a similar for grid computing for his dissertation and was pretty unhappy with their capabilities and software quality.

[2016-08-12 21:02] SteVwonder commented on #168
@dongahn: will do that now

Also, just another thought, if we can come up with some invariant that each scheduling algorithm must follow, we could perform a test that the invariant holds before/after each iteration.  For example, we could ensure that the start time of each reserved job only decreases (and never increases) after each iteration.  This is a more involved approach, but if we pick a st

[2016-08-12 21:05] dongahn commented on #168
Oh. This is an excellent idea!

[2016-08-12 21:41] garlick opened #178 "time to tag flux-sched?"
We're in the process of updating flux-core to 0.4.1 on TOSS3.   The first problem Trent ran into when checking the release was that the new flux-core deprecated libflux-mrpc.so but flux-sched-0.1.0-3  still required it.  I went ahead and kicked off a flux-sched rebuild (bumping the "release" number from 3 to 4).

This failed on the next problem (see [buildlog](http://tossbuild.llnl.gov/kojifiles/w

[2016-08-12 21:48] grondo commented on #178
If so, should we also convert `NEWS` to `NEWS.md` and adopt the travis based release upload on tag? I'd be happy to implement that for `flux-sched`

[2016-08-12 21:49] dongahn commented on #178
Thanks @garlick: yeah, seems like it. I will spend most of my time today to make the first cut for CTS scale testing and I have a couple of high priority items next week. It may take me some time to get this. Also, it would be good to follow the automatic release pattern @grondo's working on to further automate sched releases. If @lipari or other members want to get to this in the meantime, feel f

[2016-08-12 21:53] grondo commented on #178
I can push through a release of `flux-sched` if there are no objections. I'll attempt to get Travis auto-release working first.

[2016-08-12 21:56] dongahn commented on #178
@grondo: go for me and thank you very much!

[2016-08-12 22:18] garlick commented on #178
FYI I did just build and check sched master against an installed flux-core-0.4.1.

[2016-08-12 23:33] lipari commented on #178
@grondo, I appreciate the offer to work on a flux-sched release.  I'm not at work today, and only checking in when time permits.

[2016-08-13 00:19] dongahn commented on #178
@lipari: thank you for checking in on your off day and sorry, I didn't know this was your off friday.

[2016-08-13 00:57] SteVwonder commented on #168
One other thought: It would be useful for both the formal verification and debugging to dump the state of the resrc after every scheduler iteration.  Maybe we can add a flag to sched that would save out the resrc every iteration for later analysis?

[2016-08-13 01:02] dongahn commented on #168
@SteVwonder: there is already a debug routine that can print out the resrc state. All we need will be to add a sched load option to turn this on at an appropriate point. Note that this will dump lots of data -- in particular at large scale. Not sure how easily it is to do a formal verification using this data though...

[2016-08-13 01:04] dongahn commented on #168
FYI -- the function is [here](https://github.com/flux-framework/flux-sched/blob/master/sched/sched.c#L510)

[2016-08-13 01:10] SteVwonder commented on #168
That printing function is nice for human parsing, but not as nice for programmatic parsing.  If we serialize the resrc out to JSON (which there is already a function for), then it will be easy to work with in Python.  An invariant like "the reservation time of a job should be non-increasing over time" shouldn't be that hard to code up (I'm willing to do so).  I just don't know if that is a strong

[2016-08-13 01:23] dongahn commented on #168
@SteVwonder: agreed. Does this function help?

https://github.com/flux-framework/flux-sched/blob/master/resrc/resrc_tree.c#L147

Once a json object is built from the top resrc, one can use json stringfy function to dump it?

e.g., `json_object_to_json_string_ext (o, JSON_C_TO_STRING_PRETTY))`

[2016-08-13 18:29] dongahn commented on #168
@SteVwonder: BTW, unlike under an emulatuon/sumulaion, it just dawned on me that schedulung under a real system is  not necessarily deterministic. Even if we try to control a job's running time tightly (using sleep etc) , the system noise will make it pretty difficult to control the order of resource and job events.

Say job 1 using 2 nodes is supposed to end 10 seconds early than job 2, which the

[2016-08-13 18:45] dongahn commented on #168
Another Sat. morning idea while jogfing... hat's deterministic is:

given a totally ordered job and resource events, each changing the current resource state, schuduling must be determininstic. Then one addtional idea is not only gather the workload (jobs) but also collect these state changing evets. Then these can be fed into a validator for correctness check?

[2016-08-13 18:56] dongahn commented on #168
Final thoguht. If HOC doean't have paper or SW in this area, this can land a pretty nice publication. Essenntialy it is becoming increasing difficult to validate if an algoritm or an implenmentaion of this algorithm correctly enforce the target schedulig policy in particular in the midst of more constraints to consider. We can propose a conceptual model that can lead to a scheduler/rm agbostic val

[2016-08-14 00:24] grondo commented on #178
Ok, flux-sched [v0.2.0](https://github.com/flux-framework/flux-sched/releases/tag/v0.2.0) published!

[2016-08-16 23:55] SteVwonder opened #181 "Change error logging in resrc"
As @lipari, @dongahn, and I discussed a few weeks ago, the resrc error logging could be changed to avoid the use of printf.   Instead of printf, the resrc could provide a pointer to an error string that the user of resrc could then log as they wish (e.g. through flux_log).

The existing setup is hard to use when the flux broker has been set to redirect flux_log's to a file and then the resrc print

[2016-08-17 14:59] lipari commented on #181
Agreed.  The resrc_generate_hwloc_resources() provides a model for any work that is done to address this issue.

[2016-08-22 19:03] dongahn opened #182 "A linear job search performs poorly for HTC load"
We need an optimization for the linear job search scheme as captured in [flux-distribution#14](https://github.com/flux-framework/distribution/issues/14): specifically, [this code](https://github.com/flux-framework/flux-sched/blob/master/sched/sched.c#L389). Once an optimization is done, please rerun some tests.

[2016-08-22 19:08] dongahn opened #183 "Quantify the impact of and optimize the schedule loop's job iteration scheme"
We may need an optimization for [this code](https://github.com/flux-framework/flux-sched/blob/master/sched/sched.c#L1396)  as captured in flux-distribution#14: specifically, this code. Once an optimization is done, please rerun tests.

[2016-08-22 20:55] dongahn commented on #182
The scheduler currently has three job queues: pending, running and complete queues. And it only performs very basic operations on these queues: find a job across all three queues; append a job to a queue; and finally move a job from one queue to another (e.g., from the pending queue to running queue).

An obvious optimization is to add indexing based on job id.

Given the scheduler only needs limi

[2016-08-22 21:03] dongahn commented on #183
To avoid premature optimization, we will probably want to look at the performance impacts of this on conservative and hybrid backfill algorithms. In terms of peeling this onion in a right way, it would be good to add optimization for #182 first and see the impact of this issue on conservative and hybrid after that.

[2016-08-22 21:56] lipari commented on #183
As suggested in [distribution #14](https://github.com/flux-framework/distribution/issues/14#issuecomment-241521858), I recommend adding to the sched comms module a setting called "queue-depth" that will impose a limit on the number of jobs considered in each scheduling loop.  This would apply for both the FCFS and backfill plugins.

[2016-08-23 00:41] dongahn commented on #183
@lipari:

This is reasonable, but as you and I discussed (before I realized I had a meeting with Tapasya), my main question is how the queue depth should play with the reservation depth, which we currently use for hybrid backfill scheduling. If that makes sense.

Should queue-depth take precedence over reservation depth? Then, if queue-depth < reservation depth in hybrid backfill, we print out an

[2016-08-23 03:35] dongahn commented on #182
This optimization alone doesn't seem to help much:

- Jobs Executed Per Second (JEPS) at <2 nodes, 1 broker per node, unit sizing policy, non-mpi sleep, FCFS>: 1.77

I realized that `q_move_to_rqueue()` and `q_move_to_cqueue()` can also perform poorly as they use `zlist_remove()`, which also uses  a linear search as in [here](https://github.com/zeromq/czmq/blob/master/src/zlist.c#L282). This needs

[2016-08-23 04:17] dongahn commented on #183
OK. I did a quick test for this by just limiting the schedule requested jobs to 100 and this makes a pretty substantial difference (2x):

Jobs Executed Per Second (JEPS) at <2 nodes, 1 broker per node, unit sizing policy, non-mpi sleep, FCFS>: 3.5.

[2016-08-23 14:26] dongahn commented on #183
In order to reason about the performance in a more comprehensive way, I am pretty convinced that I will need a performance model for our scheduler. I will spend some time to come up w/ one.

[2016-08-23 14:37] lipari commented on #183
@dongahn , With regard to reservation and queue depths, any warning should come from the backfill plugin if the requested reservation depth exceeds the queue depth.  Queue depth will take precedence over reservation depth.  Given that reservation depth is only relevant to the backfill plugin, I am not in favor of creating a queue depth that is tied to reservation depth.

[2016-08-23 16:53] dongahn commented on #183
@lipari: OK. This makes sense to me. I will see what I can.

In terms of comparing our notes, here is my $.02 on the scheduling control parameters. I believe that it is not only "scheduler plugins" but also "scheduling control parameters set", that will represent choices a user can make to specialize the scheduling policy on his/her flux instance. E.g., if a user wants HTC UQ scheduling, he may wa

[2016-08-23 17:12] SteVwonder commented on #183
I was wondering how this discussion could lead to a performance improvement to FCFS.  Glancing again at the code, it seems that the FCFS scheduler loops over every job and schedules any jobs that can be scheduled at the current time.  If I'm reading the code correctly, this actually isn't FCFS, this is backfilling without a reservation.  (I think I am missing something though).

For FCFS, once the

[2016-08-23 18:12] dongahn commented on #183
@lipari can weigh in. If I understood him right yesterday, FCFS can do out of order scheduling if a high priority job requests nodes with specific constraints (e.g., bigger memory etc).

[2016-08-23 18:25] lipari commented on #183
If all of the resources being scheduled were identical, then the FCFS scheduler could be simplified to stop searching down the job queue once the first reservation had been made.  The current FCFS scheduler supports heterogeneous resources, nodes with more memory, different number of sockets, etc.  So using @dongahn 's example, all the big memory nodes could be reserved for the top priority pendin

[2016-08-23 20:15] dongahn opened #184 "Excessive resrc tree search can be a scalability bottleneck?"
Hi @lipari: I am more closely looking into the scheduler code that may be on the critical path of the job throughput as part of #183 and came across [this code](https://github.com/flux-framework/flux-sched/blob/master/sched/sched_backfill.c#L314).

I may have read the code wrong, but It seems our backfill plugin can perform a full resource tree search many times while trying to reserve those nodes

[2016-08-23 21:01] dongahn commented on #183
First thoughts on the performance model. Perhaps we can model the overall scheduling overheads as the combination of the following overhead terms:

`T  = T(queue) + T(schedule jobs) + T(program execution protocol) + T(sched framework)`

Then,
- `T(queue)` consists of `T(core submit/enqueue service)` and `T(sched queue op)`
- `T(schedule jobs)` consists of `T(resrc)` which can also further be broke

[2016-08-23 21:03] SteVwonder commented on #183
I see now.  We have different definition of FCFS. I have been operating under the assumption that FCFS means that jobs will be started in the exact order that they are submitted.  So if you produce two lists of the jobs, one sorted based on the jobs' start times and the other sorted based on the jobs' submit times, the two lists should exactly match.

I think we are getting away from the original

[2016-08-24 20:05] dongahn opened #185 "Faster submit-event handling for high throughput loads"
This problem was discovered as part of [distribution #14](https://github.com/flux-framework/distribution/issues/14#issuecomment-242176848). To avoid the head-of-line blocking issue caused by high throughput workloads, `sched` needs to optimize ways to handle job creation events: [code](https://github.com/flux-framework/flux-sched/blob/master/sched/sched.c#L1452).

[2016-08-24 21:10] garlick commented on #185
Just wanted to point out that the code in `src/modules/kvs/kvs.c` for rate limiting commits might be similar to what you need here.  Look for `min_commit_window` and `commit_timestamp`.

In a nutshell, the heavy weight commit operation is only performed in the message handler for the commit request if `min_commit_window` seconds have elapsed since the last one.  Otherwise the request is queued and

[2016-08-24 22:46] dongahn commented on #185
Thanks @garlick. Yes, this sounds exactly like what I need for this optimization.

[2016-08-31 14:39] SteVwonder opened #187 "zmq.h not found when installed in non-standard location"
I have flux-core compiled and installed on a Ubuntu system in a non-standard location (i.e., `/opt/zeromq-4.1.4`).  `/opt/zeromq-4.1.4/lib/pkgconfig` was added to `PKG_CONFIG_PATH`, so that `pkg-config` correctly finds the package and generates the correct cflags and libs.  flux-sched's configure picks all of this up correctly, but I still get a compilation error in `common/libutil`:

[code]

I wa

[2016-08-31 15:15] lipari commented on #187
My first thought was to replace the one, call to zmq_strerror() in log.c with strerror() and remove the #include <zmq.h> from log.c.  However, the flux-core's Makefile.am in its util directory does include the $(ZMQ_CFLAGS).  So, I would say the more conservative approach would be to add $(ZMQ_CFLAGS) to the AM_CFLAGS definition in src/common/libutil/Makefile.am and see it that works.

[2016-08-31 15:37] garlick commented on #187
You might want that to properly decode errnos from zeromq functions...

Yeah, or AM_CPPFLAGS like in flux-core

If that doesn't work, @SteVwonder - it might be helpful to run `make V=1` and capture the error above with expanded CC lines.

[2016-08-31 16:03] SteVwonder commented on #187
Ok, makes sense.  Some questions on the specifics:

- Why `AM_CPPFLAGS` over `AM_CFLAGS`?  I noticed this used in other Makefile.am files as well; it seems a little odd to me since we don't have any C++ code in the codebase.  I assume there is some other semantics besides C/C++.
- Is `$(CZMQ_CFLAGS)` alright to use?  `$(ZMQ_CFLAGS)` doesn't get defined in flux-sched, and the czmq flags include a p

[2016-08-31 16:07] garlick commented on #187
CPP = C preprocessor in this case.  The [Program Variables](https://www.gnu.org/software/automake/manual/html_node/Program-Variables.html) section of the automake manual explains the difference bewteen those two variables.

Yes, CZMQ_CFLAGS looks like the right choice here.

[2016-09-06 17:50] dongahn commented on #185
@garlick: We chatted about this a bit. A condition that I thought could lead to a deadlock situation with an event-based-only scheme is the following. I am probably too close to the problem so I will appreciate another pair of eyes here:

- a job submitted and the timer is installed
- other jobs are submitted before the timer callback is invoked, but the scheduling for these jobs is delayed
- When

[2016-09-06 18:58] garlick commented on #185
Note that flux-framework/flux-core#788 changed the commit aggregation algorithm described above.  Sorry, moving target!

I think under a high submit load, to avoid missing high priority messages like job state change events, you'll need to find a way to triage incoming messages very quickly, getting them out of the way of other messages in the message queue.  I would guess without invoking `schedu

[2016-09-06 19:01] garlick commented on #185
By the way if the above looks like a promising approach, see this commit to KVS: flux-framework/flux-core@b6524ea9ec1b2927ce464ae24f2ab9597da8e06f

[2016-09-06 22:42] dongahn commented on #185
Thanks. I will take a look.

Agreed.

Yes, deferred scheduling is an optimization technique we absolutely need one way or the other.

This is a good point @garlick! It will be difficult for a timer callback itself alone to decide if the pending job queue state has changed since it was invoked last time, but perhaps it is possible if we add a simple infrastructure into the scheduler's job queue imp

[2016-09-06 23:01] garlick commented on #185
Great!  No timer needed if you take the approach referenced above - the reactor does the work for you.  It sounds like the tricky part will be deciding if you need to run `schedule_jobs` or not.  Your prep and check callbacks would need to both be able to test for that, so ideally some flag is set during the "triage" period and cleared when `schedule_jobs` is finally run.

[2016-09-06 23:09] dongahn commented on #185
@garlick:

Oh. That'd be better. You make me want to look at your code now :-)

Yes, and do this in a future proof fashion -- there will be lots of code that will affect this algorithm (e.g., job shuffling through prioritization etc...) and I want to isolate this logic as much as possible.

[2016-09-12 15:05] #187 closed

[2016-09-13 18:58] lipari commented on #101
Closed via 1681c6ce2e5d76edf6d04c51615447f4d493d8f3

[2016-09-13 18:58] #101 closed

[2016-09-13 19:24] lipari opened #192 "Sched support for RFC 14"
The following is a rough plan for enhancing the flux-sched scheduler to handle job requests that conform to the Canonical Job Specification [RFC 14](https://github.com/flux-framework/rfc/blob/master/spec_14.adoc).  Please provide feedback to clarify, correct, or extend the planned sequence of steps outlined below.

The existing sequence for processing a job spec goes like this:

* Job requirements

[2016-09-13 21:43] garlick commented on #192
Could the scheduler's find and select calls eventually accept the canonical jobspec?  Just thinking we might have a similar situation to the one discussed in flux-framework/flux-core#801 WRT KVS treeobj objects.  If we've defined the jobspec in an RFC, should the end-goal be to use it ubiquitously?

[2016-09-13 21:57] lipari commented on #182
Closed via #190

[2016-09-13 21:58] lipari commented on #183
Close via #190

[2016-09-13 21:58] #183 closed

[2016-09-13 22:01] lipari commented on #182
Close via #190

[2016-09-13 22:01] #182 closed

[2016-09-13 22:07] dongahn commented on #192
@lipari: thank you for pointing all the changes we will ultimately have to make.

Some questions: Canonical job specs will be primarily used both by wreck (and its replacement) and sched? Maybe, an alternative process is to start an effort to separate resrc and its friend from `sched` and make it the public canonical job and resource API? This ways both can be married a bit more tightly.

Then, In

[2016-09-13 22:38] lipari commented on #192
Yes.  The current resrc search implementation works best using a resrc_reqst_t object.  So, for the short term, a canonical spec -> resrc_reqst_t translation is expedient.

If we replace the current resrc implementation with something different, then I could see the request object becoming the canonical job spec.

Yes, we bundled the resource representation into the sched project for convenience.

[2016-09-13 23:05] lipari opened #193 "Revise Sched's find() and select() operations to leverage visitor/matcher design patterns"
Spinning off the issue from the discussions in [PR 189](https://github.com/flux-framework/flux-sched/pull/189).

@dongahn said:

I believe providing matcher and visitor patterns from resrc and the friends can make resrc APIs more ease to use and robust, and make it be better adaptable when @trws's job spec design comes along, as mentioned in this [comment](https://github.com/flux-framework/rfc/pul

[2016-09-14 16:12] dongahn commented on #192
@lipari:

A related, but an off-topic.

As part of the new API, I think it would be helpful if we can expose a "transaction" pattern as the first class abstraction as well.

I think that a key to scheduler scalability would be an ability to prune unnecessary tree traversal. So, if this abstraction can allow a scheduler to easily "speculate" a resource allocation, update its aggregates  (e.g., avai

[2016-09-14 19:38] SteVwonder commented on #192
@dongahn: agreed!  My experience with IO-Aware scheduling aligns with suggestion.

A big performance win for IO-Aware scheduling is checking how much IO BW is available at the PFS and comparing that to (# nodes * IO BW per node).  It saves lots of tree traversing by allowing a quick bailout if the job requests more aggregate IO than the PFS can provide.

[2016-09-16 17:28] dongahn commented on #193
[Rough Idea]

Wondering if we can use an one-pass algorithm using matcher/visitor patterns to merge `find()` and `select()` (also related to Issue #184)... Looking at `find` and `select` from a scalability lens, roughy speaking we have to traverse the entire tree once with `find` and then again with `select`. I mean, there are cutoff tricks, but complexity looks to me that way. If we can design vi

[2016-09-16 17:35] lipari opened #194 "Make sched's resource code multi-threaded"
Based on a suggestion in [PR 189](https://github.com/flux-framework/flux-sched/pull/189#issuecomment-247657282), revisit flux-sched's resrc code to see whether it can support multi-threaded applications.

[2016-09-16 17:39] dongahn commented on #194
Do we need to make resrc multi-threaded, though? When resrc is used by sched, there will be no two threads accessing this library at the same time?

[2016-09-16 17:54] grondo commented on #194
Are you positive? sched is loaded as thread (module) in the broker. Will there never be any other module loaded by a broker that uses resrc library at the same time as sched? Perhaps you could argue this if resrc was itself a broker module providing a messaging interface to users like sched, but then it wouldn't need to be packaged as a reusable library?

In my other comment I didn't mean to requi

[2016-09-16 17:58] dongahn commented on #194
@grondo: I meant, as of now of course. If this is repackaged and used by multiple modules, this needs to be thread-safe.

[2016-09-16 18:07] dongahn commented on #194
@SteVwonder also argued for making resrc as a service before he returned back and it sounded that it has lots of merits. @SteVwonder can chime in.

If we take that route, we need to be very careful w/ interface design. I think it needs to stay pretty coarse grained. We probably don't want frequent operations needed by the schedulers suffer a RPC overhead (last thing you want to do is to go back an

[2016-09-16 18:15] trws commented on #193
That sounds good Dong, and is rather like what I meant to be getting at, though much more fleshed out.  The only nit I have is it would be more efficient to use a preorder rather than postorder walk because of the way exclusivity works in our resource model.  If it's preorder, you can look at the exclusive flag on a resource to determine whether it's worth looking at any of its children, while the

[2016-09-16 18:25] dongahn commented on #193
Yeah. It should have been preorder. That order has the pruning benefit from the perspective of both exclusivity and aggregate evaluation.

[2016-09-16 18:28] dongahn commented on #193
Also, `get_all_ancestors ("flow name")` exposed to the matcher would be helpful. In particular w/ flows, matcher can use that to quickly check the flow constraints of a node etc.

[2016-09-16 18:31] trws commented on #193
I agree that's useful, but would rather be able to traverse it by
vtx->hw_parent or similar than using a function like that.  Mainly this
is to avoid having to allocate a list or array to store the list of
ancestors, unless there's a reason to want to have that list at all
times, in which case perhaps it should just be stored in each vertex.

On 16 Sep 2016, at 11:28, Dong H. Ahn wrote:

[2016-09-16 18:38] dongahn commented on #193
I see your point about memory. This came from wanting to manage the potential complexities of checking ancestor vertices across potentially many hierarchies. Perhaps a matcher can create a sub-matcher to walk up various hierarchies and check the sub-constraints.

[2016-09-16 18:41] dongahn commented on #193
Like

[code]

[2016-09-16 19:48] dongahn commented on #193
I have to think some more about this but if the scheduler limits the interaction with the new Resource API at the matcher and submatchers level, which uses WalkerAPI set, then erhaps this is coarse grained enough that merits a message interface... Of course, the scheduler needs to push the matcher code into the Resource service, but this is already being demonstrated with @grondo's reduction work.

[2016-09-17 18:55] dongahn commented on #193
I thought about this some more. I am pretty positive that we can do this as a message interface and we can even also take care of reservations with an one-pass algorithm.

Essentially matchers can evaluate not only the current state but also the next availble windows upto k windows (this should be a function of the resevation depth).  The rsulting score of each match should reflect how early the r

[2016-09-19 15:02] SteVwonder commented on #194
My argument for resrc as a service was to allow dynamic scheduling to be a modular service.  Currently, dynamic scheduling is just a subroutine of the scheduler that runs when the scheduler has been idle for several heartbeats.  This makes the scheduler code larger, more complex, and harder to maintain.  If dynamic scheduling was a separate module, users could load and unload it at will.  It would

[2016-09-19 16:31] dongahn commented on #193
@SteVwonder: For locality-aware scheduling, I can think of two schemes:

- Allow the matcher on the visit on a upper level resource (e.g., switch) to  pass relevant information for the visits for its children. E.g., The matcher can pass the aggregates (e.g., edge switch has k number of available nodes) back into the walker as a opaque data upon exit, which then gets passed into invocation of the m

[2016-09-19 16:37] dongahn commented on #193
An interesting thing to think about is the main hierarchy vs. auxiliary hierarchies. I can see a scheme where the scheduler's main tree is the default hierarchy and then use `up_walk` to check other constraints. But like you said, some may not care about the physical tree in which case the main hierarchy can be like io hierarchy or power hierarchy. We want to be able to support all of these operat

[2016-09-19 16:47] trws commented on #193
A locality-aware scheduler would probably want to compute the densest clique that matches all other constraints, it could be done as a function of some pretty common graph algorithms, but now we're talking about a graph walking interface rather than just a tree walker.  We'll definitely want that, but it's a much more complicated animal than we're talking about here initially.  This is part of why

[2016-09-19 16:54] dongahn commented on #193
Did you happen to look at some of the already available frameworks we can possibly leverage?

[2016-09-19 17:00] trws commented on #193
Many, this is why I was having trouble with C as the language.  There's only one that offers a C interface, and [igraph](http://igraph.org/redirect.html) is not particularly suitable.  If we had to, we could make it work, but it's an O(n) operation on the size of the graph as a whole to add a node or edge.  Our local graph analysis experts suggested Boost::Graph for its flexibility and support for

[2016-09-20 16:49] dongahn commented on #193
FYI -- @lipari, @trws, @SteVwonder and I talked about this at yesterday's meeting. Making a long story short, we agreed that our short-term effort will be to add some walker and priority queue support around resrc and friends and to rewrite the scheduler plugins as matchers. The cleaner separation between resrc and scheduler will then be a basis for performing a later surgery when resrc becomes a

[2016-09-20 19:27] dongahn opened #195 "Prep/check/idle watcher-aware emulator"
As discussed in PR #191, this issue will track the discussion on building  prep/check/idle watcher awareness into our emulator, which will enhance overall code maintainability for sched code and make emulation code simpler.

[2016-09-22 17:08] #185 closed

[2016-09-22 17:09] #178 closed

[2016-09-22 17:09] #164 closed

[2016-09-27 05:49] dongahn commented on #193
FYI -- To do some minimal amount of work for this issue, I am first trying to abstract out various resource generator methods like these lines into a common factory/generator class.

- [resrc.h#L168](https://github.com/flux-framework/flux-sched/blob/master/resrc/resrc.h#L168)
- [resrc.h#L176](https://github.com/flux-framework/flux-sched/blob/master/resrc/resrc.h#L176)
- [resrc_flow.h#L65](https://

[2016-09-30 17:32] SteVwonder opened #197 "Scheduler Correctness: Reservations"
I believe I have found a correctness issue with the current scheduler (specifically in `sched.c`), that occurs when non-homogenous job requests are issued.

If the call to `find_resources` fails (nfound == 0), then nothing else is called and the scheduler moves onto the next job.  In order for hybrid and conservative backfill to work, the scheduler should call `reserve_resources` so that a reserva

[2016-09-30 17:34] dongahn commented on #197
@SteVwonder: thanks Stephen. Yes, it does sound like a bug. Do you already have a patch to throw in as a PR?

[2016-09-30 17:52] SteVwonder commented on #197
@dongahn: yes.  I can push now.

[2016-09-30 22:45] dongahn opened #199 "RDL cannot generate resrc for a large node-count spec"
I am trying to do some erformance studies in preparation for #193 and discovered that RDL fails with the following msg:

[code]

The smallest node count that hit this for me is ~33000. A conf file:

[code]

[2016-09-30 22:50] grondo commented on #199
uhoh. The RDL implementation makes an individual resource form each Node, each Socket within each node, and each Core within each socket, we may be overflowing the Lua stack by using `unpack`.

I may be able to change to iterate over whatever table is using `unpack`, but I'll have to peek at the code to remember...

[2016-09-30 22:53] dongahn commented on #199
@grondo: Thanks for the explanation. Just to be clear, I don't need this fix right away as I already have a reasonable sized csv file for my current DB testing. (Don't suffer your Friday night over this :-)

[2016-10-02 19:08] lipari commented on #199
@grondo, while the RDL Node class is open for surgery, would you mind modifying it to not require or instantiate a Socket by default?  I utilize the Node class with the power flow graph hierarchy and having socket and core children automatically populated is irrelevant to a node's power draw - unless it's specifically configured that way.

[2016-10-02 19:34] grondo commented on #199
Sure, I will take a look. Mind opening a separate issue on it if you have the chance?

[2016-10-02 19:44] lipari opened #200 "Modify RDL Node Class to Remove Socket/Core Requirements"
The 7bc281217cd9dc0d14274850de561be74d2b2f67 commit introduced the flow graph support to the resrc code base.  When a non-default hierarchy that includes a Node object is requested in an RDL conf file, the existing Node class construction requires the presence of at least one socket and core.  This is not needed or desired when the node is the leaf of a power distribution hierarchy.  This issue ca

[2016-10-02 19:44] lipari commented on #199
Done:  [Issue 200](https://github.com/flux-framework/flux-sched/issues/200)

[2016-10-03 14:53] dongahn commented on #200
Do we already have the base class of a resource in RDL? If so, a node resource can be a derived class of the base class and contains at least 1 core and 1 socket. And a flow resource is another derived class of the base or just an instantiation of the base.

BTW, I forgot, are the core and socket modeled as a resources of properties?

[2016-10-03 16:49] grondo commented on #200
Yes, Node, Socket, Core are all derived from base Resource class.

I was going to suggest something similar, like a PSU (or flow as you suggest) class, but I'm not sure how to best relate the PSU to a Node, there might not be support for that directly in current RDL config language. How it should work might depend on the underlying resrc implementation.

[2016-10-03 16:56] dongahn commented on #200
@grondo: completely agreed that would be the ideal implementation.

@lipari can chime in, but `resrc` introduces the power flow resource for each physical node . And this power flow resource has a pointer to the actual physical node to represent sort of a "resource_of" relation. (i.e., electric current flow is a resource of this physical node.)

And this power flow node and the physics node associ

[2016-10-03 17:04] lipari commented on #200
I think you're making this much more complicated than it needs to be.  I do not need a redesign of the RDL to accommodate a flow graph.  The hierarchy loading works just fine.  I just need to stop at the Node resource and not automatically require/populate sockets and cores.

[2016-10-03 17:09] grondo commented on #200
@lipari, I guess I'm lost, I would think when populating a power hierarchy you would want a different resource type than a `Node` which is a compute node with Sockets, Cores and Memory.

Creating a new type subclass of Resource is trivial, not much more difficult than removing the requirement that compute `Node` has at least one Socket with at least one Core.

Possibly I need to look at the curren

[2016-10-03 17:19] grondo commented on #200
Ok, looking at the example I understand a bit better. What you actually want is to be a create a list of references to Nodes that are already populated in the physical hierarchy. The current usage creates duplicate resources in the RDL for each separate instatiation of a `Node{ }` type. I think this is a case where the design the RDL fell short.

Can you remind me what the "size" parameter is for?

[2016-10-03 18:33] lipari commented on #200
As just discussed, @grondo's plan for the power and bandwidth node types is the way to go.

[2016-10-03 18:55] grondo commented on #200
Another idle thought comes to mind here. We *could* also create a `PDU` type that takes a list of hostlist, "size" pairs as one of its arguments (might come up with a better name than size if it is PDU specific argument). This could shorten declaration of the power flow graph to something like
[code]

The PDU initializer would add its own children based on the nodes hostlist, as the Node initializ

[2016-10-03 19:16] lipari commented on #200
First off, "amps" would be the appropriate term to express current flow.  We should probably use "amps" even though it's a "power" hierarchy, because power is simply current * voltage.  PDU could serve as the parent of node, but there could be cases where there's an intervening distribution device.  I can imagine a 8 nodes in a chassis enclosure with its own power supply and 4 chassis connected to

[2016-10-03 19:44] garlick commented on #200
I would be careful about using amps as a standin for power, since voltage is not constant in a real system, and power is not normally calculated as amps * volts in an AC circuit.

[2016-10-03 19:54] SteVwonder commented on #197
@lipari and I spoke over the phone.  @lipari said that `find_resources` should search into the future to find possible resources that the job can run on.  So it should only return 0 for resource requests that are permanently unsatisfiable.  Thus, if I truly am running into a bug, it is probably in `find_resources` of the backfill sched plugin not in `sched.c`.

I am running tests on turnaround tim

[2016-10-03 20:09] grondo commented on #200
In that case in typical OOP fashion we could have a base `PDU` class and derive a `simplePDU` (or insert better name here) that takes the nodelist argument. You could also get very specific and add a `hypePDU` directly to the config file, in which case the `nodes` list might be simplified. I'm just throwing these instructive ideas out there, as that was the purpose of choosing a class system for r

[2016-10-03 20:16] grondo commented on #200
Good points about the units for power. I'm not sure what the meaning of `size` in the current (sorry no pun intended) implementation is, so I can't suggest an alternative, but I think `size` will probably be confusing either way. Perhaps even something like `capacity` or `limit` would be be better?

Eventually admins may want to configure these resources "as they stand" in real life, so a PDU may

[2016-10-03 20:19] dongahn commented on #200
Yeah, I agree we should try to introduce some techniques that allows us to specify various hierarchy in a condensed form. @SteVwonder's IO hierarchy had very large entries, which looked prone to errors... One technique that might be helpful is to allow the id of a nested resource to be a function of the id of its nesting resource. Generally speaking, I like the @grondo's PDU specification...

[2016-10-03 20:21] dongahn commented on #200
We may also want to look at what quantify that CPU's Power capping technologies using. For physical PDUs and etc, it seems the quantities should match what operators are using... But for node power capping, the resource manager will have to set the limit, so it seems we may want to match it w/ current technologies... I will take a look.

[2016-10-03 20:34] lipari commented on #200
Yes, we have two units that we could use to model electrical flow.  If we are looking to model current flow across physical wiring at constant voltage, then `amps` is the right term.  But if we take a bigger picture and model power from the power coming into the center which could be at a higher voltage, then `watts` is better.  Also, modeling a "power envelope", `watts` is more appropriate.  @tpa

[2016-10-03 20:42] dongahn commented on #200
@tpatki can chime in.

My brief google search shows that changes are they use Watts. E.g., https://www.kernel.org/doc/Documentation/power/powercap/powercap.txt says they have parameters like `constraint_0_power_limit_uw` This probably reads "for some power domain of a microprocessor, the power is capped to k microwatts.

[2016-10-03 20:49] lipari commented on #200
Ok, I'm convinced.  Unless @tpatki has better insight, let's go with `watts`.  And given that our resrc model has integer `size` values, we should probably make `uwatts` the choice.

[2016-10-03 20:52] grondo commented on #200
@lipari, I was suggesting a new attribute other than `size` and there is no reason that value can't be a float or double.

[2016-10-03 21:00] lipari commented on #200
Alright.  The resrc code uses size_t size everywhere, so this would be a big change if propagated throughout all the resrc code.  I'll probably just scale up the float uwatt to a size_t value for the time being.

[2016-10-03 21:01] tpatki commented on #200
I think Watts is appropriate for power. We may also need to think of energy consumption. There is a notion of instantaneous and average power/energy as well.

[2016-10-03 21:03] tpatki commented on #200
That being said CPU frequency is an important concern too.

I believe for now we are assuming there will be a way to monitor power instantaneously? And that we can use a feedback loop to set power cap/CPU frequency given the scheduling policy. This will require some interfacing with low-level power management tools (such as libmsr/msr-safe on intel machines), which differ based on architecture.

[2016-10-03 21:19] lipari commented on #200
The simplest model we're looking to support with the power hierarchy is flow.  We want to schedule flow such that jobs can only be scheduled when there is adequate power available.  In this simple model, the job specifies a power requirement (or gets a default), and we stop scheduling more jobs when all the available power has been allocated.

Once that is done, we can consider another layer of co

[2016-10-03 21:19] dongahn commented on #200
Where are these different notions used?

I vaguely thought that a scheduler would schedule and allocate power and then the amount of the execution time a job runs on that allocation would determine energy consumption... Whether you want to optimized for energy saving or performance under a power cap would demand different scheduling policies...

A bit more details on where instantaneous vs average

[2016-10-03 21:19] grondo commented on #200
Ah, ok, I understand now. The resrc objects must use `size` to encode any amount/limit/level/etc.?

We could convert internally to strict integer size within the RDL configuration itself, or you could scale `watts` properties for these objects directly in the resrc RDL reader code, up to you.

[2016-10-03 21:29] lipari commented on #200
I guess, let's put the scaling to integer size in the RDL configuration for now.  This keeps the resrc reader code uniformly dealing with ints.

[2016-10-03 21:53] morrone commented on #200
Are you saying that the amps/watts/whatever value is literally stored in
a variable declared as a size_t?  size_t  is meant to be used for
representing the size of objects in memory in C/C++, I would not think
that it should be used for storing values that represent real-world
physical values.

Chris

On 10/03/2016 02:00 PM, Don Lipari wrote:

[2016-10-03 22:01] lipari commented on #200
Yes, the resrc code is consistent with the RDL library (rdl.h) that it uses to read the resource config.

[2016-10-03 22:29] grondo commented on #200
Yeah, that is my fault, I don't know what made me choose `size_t`. It was originally meant to represent a count for a pool of individually indistinct resources for accounting available/inuse/etc. It probably should have been `uint64_t` or even just 32 bit unsigned.

[2016-10-04 02:06] lipari opened #202 "Go through flux-sched code and check the return value of all kvs calls for error"
This came from a comment to [PR 201](https://github.com/flux-framework/flux-sched/pull/201)

[2016-10-04 22:37] lipari commented on #149
I haven't seen this problem in months and the code has changed quite a bit.  I'm closing.  If the problem reappears, it should probably get a fresh issue.

[2016-10-04 22:37] #149 closed

[2016-10-04 23:21] lipari commented on #123
@garlick, feel free to close this if you think the original need has been addressed by the following commits:
* 3f574e0b12e0ef5481836eec8c3d1f46ff7f4ca7
* bff1b7671d22fe94459f1e80ff21649355d337d5
* 3d6ec88dbe4424167f380f3a95b80249b7d78f82

[2016-10-04 23:39] garlick commented on #123
Yeah I think we can do that.

[2016-10-04 23:39] #123 closed

[2016-10-12 03:05] lipari opened #209 "flux-sched build broke"
Not sure what changed in flux-core yet, but the build which followed the [latest sched merge](https://github.com/flux-framework/flux-sched/commit/665c88030cf59ca02972665f1385cbc3e429a4be) failed:
https://travis-ci.org/flux-framework/flux-sched/builds/166892546
configure: error: flux-core package not installed

[2016-10-12 03:17] grondo commented on #209
Looks like Jansson wasn't found during flux-core build, I can't remember but was it added to flux-core .travis.yml as an apt package?

[2016-10-12 03:37] lipari commented on #209
This?  https://github.com/flux-framework/flux-core/commit/990c5fd7c965bf0e14bcdd53c327d88900d907ed

[2016-10-12 03:38] garlick commented on #209
Exactly.  Sorry about that!  I'll do a PR tomorrow AM if you don't beat me to it.

[2016-10-12 19:47] #209 closed

[2016-10-12 20:31] garlick opened #211 "travis-ci: t0001-basic.t fails"
The travis-ci builds from pr #209 were not working just before the pr was merged.  [This gcc build](https://travis-ci.org/flux-framework/flux-sched/jobs/167119632) is an example.

The first test that fails is this one:
[code]

[2016-10-12 21:07] grondo commented on #211
I can reproduce this on hype, trying to figure out what's going on now. From an instance I can certainly run `flux kvs get resource.hwloc.xml.0`. Is there a really easy way to snoop the messages between the sched module and kvs during this test?

[2016-10-12 21:13] garlick commented on #211
Not as easy as it should be,but you can either set `FLUX_HANDLE_TRACE=1` in the environment and try to find the trace you want in all the output, or modify the broker like this:
[code]

[2016-10-12 21:15] garlick commented on #211
Or maybe better, in the sched module, enclose the thing you want to trace with
[code]

[2016-10-12 21:19] grondo commented on #211
ok, thanks! Once thing I did notice is I don't think the error is not actually from `kvs_get`, it seems to be coming from `kvs_watch_once`. Not that it gets me too much closer...

[2016-10-12 21:21] lipari commented on #211
@grondo, I've already got a fix in progress.  Don't waste your time debugging the sched side.

[2016-10-12 21:22] garlick commented on #211
I've been operating under the assumption that I must have broken something.  What are you thinking is wrong @lipari?

[2016-10-12 21:25] lipari commented on #211
Sorry, I glanced too quickly at this thread.  I was thinking it related to sched [PR 210](https://github.com/flux-framework/flux-sched/pull/210).

[2016-10-12 21:26] garlick commented on #211
It is, but the segfault in the resrc code seems to be only a part of it, and I was assuming might even be fallout from this other problem.

[2016-10-12 21:27] lipari commented on #211
Well then, I'll share the fix that eliminated the core dump:
[code]

[2016-10-12 21:32] lipari commented on #211
Also FWIW, all for the resrc code including test/tresrc.c does not use anything from flux-core.  Only the sched code messages with JSC and wreck.

[2016-10-12 21:54] grondo commented on #211
kvs_watch_once() protocol is fine, the `EPROTO` is returned from this code block in `get_string_blocking()` in sched.c:

[code]

Some printf debugging shows that (I think) `json_tokener_parse()` is failing here.. which is strange because the result of `kvs_watch_once` is directly generated by `Jtostr()` !?

[2016-10-12 22:20] garlick commented on #211
@grondo just showed me that libjansson was at first being linked in with the sched.so but after removing the .la files from side-installed flux-core, it no longer was.  However, problem didn't go away.  In other words same result as in travis.

Looking at dlopen flags, I wonder if we should be using RTLD_DEEPBIND when dlopening comms modules like sched?

              ahead  of  the  global  scope

[2016-10-12 23:13] garlick commented on #211
That seems to gotten me past the initial failure, only to fail on the `t0002-waitjob.t` test.  Running `flux waitjob` manually hits:
[code]

I can't remember how that's supposed to work in travis; however, setting `LD_LIBRARY_PATH=$HOME/lib` fixes it.

Seems like this is heading in the right direction?  I'll put together a quick PR for both flux-core and flux-sched to add the RTLD_DEEPBIND flag to

[2016-10-12 23:16] grondo commented on #211
Hm, how are the other libflux* libraries being found, but not libflux-jsc?

[2016-10-12 23:33] garlick commented on #211
I couldn't see how that normally works (will look some more later)

I didn't find anything different about libflux-jsc.so.0 compared to the other flux-core libraries.  It may just be the first library that got loaded, and that test may be the first time an executable provided by flux-sched (as opposed to flux-core that manages to statically link to its own libraries) is run.

[2016-10-12 23:42] lipari commented on #211
I'm thinking the name collision with libjansson is responsible for the sudden failures in test/tresrc.c  I'm seeing a consistent failure of Jfromstr() which is defines in shortjson.h as json_tokener_parse().  A valid JSON string returns a NULL json_object *

[2016-10-13 16:16] grondo commented on #211
I did notice in flux-core commands are built with `-Wl,-rpath /path/to/install/lib` whereas flux-sched doesn't append this arg when building `flux-waitjob`. Not exactly sure where the rpath is coming from in flux-core yet.

[2016-10-13 17:38] grondo commented on #211
Ah, that is possibly because they link with libtool using the in-tree .la files, whereas removal of `.la` files in install target causes flux-sched libtool to link "normally"

Here's a build of `flux-waitjob` before removal of `*.la` files in the install prefix (`/tmp/inst`)

[code]

And the same thing after removal of .la files
[code]

[2016-10-13 23:56] #211 closed

[2016-10-14 00:06] garlick opened #214 "t2002-easy.t runs jobs out of order"
As discussed in #212, t2002-easy.t was failing and subsequently disabled (temporarily).
Needs some investingation

[code]

This started failing reliably at the same time as the JSON changes in flux core.

See also:

#212
#210
flux-framework/flux-core#835
flux-framework/flux-core#849

[2016-10-17 01:04] lipari commented on #214
Preliminary indications are that the simulated jobs are completing immediately.  Hence the jobs are scheduled/completed in the order of submission.  Still studying...

[2016-10-17 16:41] garlick commented on #214
Just curious - does this test still fail on @grondo's branch with the jansson conversion?

[2016-10-17 16:43] lipari commented on #214
Sorry to report that, yes it did.

[2016-10-17 20:02] SteVwonder commented on #214
Sorry guys for not responding sooner.  I need a few days to wrap up our IPDPS paper, but after that, this will be my number 1 priority.

[2016-10-24 21:51] SteVwonder commented on #214
Just popping in to say that I am currently looking into this problem (I haven't forgotten).  It looks like the `sim_exec` module is failing at pulling job information from the KVS.   The data is being correctly parsed by the `submit` module and the data does make it into the KVS correctly (I dump the relevant values at the end of the simulation and they are correct).  For some reason, during the s

[2016-10-25 16:32] SteVwonder commented on #214
So I think I have isolated the issue, and if I am correct, the problem lies with the new JSON library.
I pushed my reproducer to [this branch](/SteVwonder/flux-sched/tree/sim-json-repro).  A log from this version can be found [here](https://gist.github.com/SteVwonder/00a84f2c29139e0fea54a66d895a3a0c). You can reproduce the same errors by directly runnning [`t2002-easy.t`](https://github.com/SteVwo

[2016-10-25 16:52] grondo commented on #214
Wow, good find @SteVwonder! Sounds like we have a simple reproducer too, thanks! I'll try reproducing and also make a standalone test we can add to the testsuite

[2016-10-25 16:53] grondo commented on #214
Hm, though interestingly I don't think the libkvs calls were updated to the new JSON library so this may require some investigation

[2016-10-25 17:06] SteVwonder commented on #214
@grondo: good call.  It might just be the addition of that strict check for type `double` (added in [this commit](https://github.com/flux-framework/flux-core/commit/fc905eedb4b5ffca25bfba308a994037cc7814f6)).  I would presume for any `_get_double` type functions, we would want to allow for the underlying type to be an int and then just upcast to a double.  Rather than checking is the type is `json

[2016-10-25 17:10] SteVwonder commented on #214
Looks like we could just call `json_object_get_double` directly and check if `value == 0.0 && errno == EINVAL`. [source](https://github.com/json-c/json-c/blob/818156f6f79c1c34e6e596798822846bcaea7b9f/json_object.h#L776)

[2016-10-25 17:13] grondo commented on #214
@SteVwonder, good find that may be it though I would have thought if you serialize JSON as a double then json_type_double() should return true on the object after it is parsed, but this could easily be a json-c shortcoming. Sounds like the solution you propose is a pretty good one, though I'd like to hear @garlick's comment.

[2016-10-25 17:28] garlick commented on #214
Ah, yes good sleuthing there.  I'm a bit uncomfortable with 0.0 as an error return value.  What if that's the actual value, then if normal POSIX errno semantics are used, errno would be invalid.  Coercing values other than integer seem pretty useless.  How about this instead?
[code]

[2016-10-25 17:32] grondo commented on #214
I still don't understand why `Jtostr (json_object_new_double (1.0))` is incorrectly serializing `1.0` to an int `1`, or even where this is happening. `flux kvs put foo=1.0 && flux kvs type foo` returns `double`...
I think there is some other weirdness going on here because these values should be serialized to double, even if they can be represented as integers.

[2016-10-25 17:54] SteVwonder commented on #214
@grondo: agreed.  [This comment](https://github.com/json-c/json-c/blob/master/json_object.c#L716) makes me think that the intended functinality is to have at least one trailing zero when serializing a double.  In addition, it doesn't seem like their testsuite ever explicitly tests a put operation on a double with no fractional component.  So it's hard to see exactly what the intended behavior is.

[2016-10-25 17:56] grondo commented on #214
Yeah, the problem is that json-c double-to-json-string function is using "%g" format which drops all zeros if possible (they using "%.17g" specifically). I'll let @garlick summarize further.

[2016-10-25 18:00] garlick commented on #214
Right.  Since the JSON spec only defines a "number" type, the serialization of 1.0 as 1 is technically correct and so I think just applying the change proposed above to the kvs is the right approach rather than trying to fix json-c.  Want to submit PR for that?

@SteVwonder: since you took the trouble to create the gist with standalone reproducer, why don't you go ahead and open a json-c issue.  I

[2016-10-25 18:04] grondo commented on #214
We should add test to the kvs that if you `kvs_put_double()` an integer, you can get it back out as a double.

[2016-10-25 18:12] grondo commented on #214
BTW, the documentation for "%g" says:

[code]

So the fact that the json-c code then goes through and attempts to remove trailing zeroes by hand does seem to indicate the use of `"%g"` here is not intentional.

[2016-10-25 18:13] SteVwonder commented on #214
Ah! That makes sense.

Ok.  I can submit a PR and open an issue.

[2016-10-25 18:15] grondo commented on #214
Thanks for figuring this one out @SteVwonder

[2016-10-25 18:25] SteVwonder commented on #214
@grondo: I believe the loop that attempts to remove the trailing zeros is there in the case that the user supplies their own format string.  (Although the implementation could be optimized by skipping that loop if the default format string is used).

[2016-10-25 20:04] grondo commented on #214
Ah, ok sorry I didn't look carefully enough!

[2016-10-26 14:33] #214 closed

[2016-10-28 20:43] grondo opened #221 "tag flux-sched v0.3.0"
[v0.5.0](https://github.com/flux-framework/flux-core/releases/tag/v0.5.0) of flux-core was just tagged and we'll need a version of flux-sched that works with it, if nothing else to build RPMs for TOSS systems.

If there is any more work needed before a v0.3.0 release, we can make a milestone and pin issues.

Otherwise, perhaps I'll take a stab at the `NEWS.md` file, maybe starting with [@garlick's

[2016-10-28 20:55] lipari commented on #221
@grondo, there is nothing I have waiting in the wings that should be included.  @dongahn and @SteVwonder can chime in, but I believe flux-sched is at a good state for release.  I would appreciate you working on generating the NEWS.md file.

[2016-10-28 21:01] grondo commented on #221
@lipari, seems like the main enhancement since 0.2.0 is your PR entitled "Graph work"

Can you give a bullet summary for the NEWS file on that? I'll paste it in. I don't think the straight list of PRs merged is warranted for flux-sched like we did in flux-core, I'll just summarize.

[2016-10-28 21:13] lipari commented on #221
Sure.  Extended the resource model to support resource membership in multiple hierarchies beyond the existing physical hierarchy.  Also added the flow graph to model flow.  These two enhancements opened the way to support the scheduling of power and bandwidth.  The existing mechanisms for finding and selecting available resources was extended to consider and allocate power and bandwidth.
Yet to do

[2016-10-29 07:47] dongahn opened #223 "planner class: progress towards scheduler-driven aggregate updates"
Since I will have to work on something else next week for CORAL, I just parked my current working copy of `planner` class in [my personal space](https://github.com/dongahn/Planner/blob/master/planner.h). The idea of this class is to bring in some efficient data structures (i.e., binary search trees, interval tree and min-time resource tree) on top of an user-space adaption of Linux Kernel's Red bl

[2016-11-03 22:28] lipari opened #224 "problems with backfill scheduling"
In an email to me from Yiannis, I received the following reports of bugs:
* jobs submitted via flux-submit that do not specify a --walltime option receive a 0 wallclock request
* Jobs submitted via flux-submit that specify a non-zero --walltime option are never scheduled
* Requesting the sched options specified in the NEWS.md file don't work:
[code]

[2016-11-03 22:29] lipari commented on #224
I already have a fix on my branch for the first item.  And I have started diagnosing the cause of the second.

[2016-11-04 18:34] trws opened #225 "Mark un-runnable jobs or invalid submissions as failed (or more appropriate "can't run" tag)"
In working on the ATS backend, I made a mistake with the submission logic such that invalid job requests made it to the scheduler.  This should probably be handled, at least partially, by an intervening step, but an error in sched that caused it to skip the job left the job in an un-runnable state without informing the submitter or cleaning it up.  Specifically the error was the lack of an "nnodes

[2016-11-23 21:11] lipari commented on #224
Just pushed a branch that addresses the above 3 bugs.  In addition, I found what looked to be behavioral problems with the backfill plugin's reserve-depth parameter.  Specifically I made it work like so:
      <0  = Conservative Backfill
            Make a reservation for every job in the queue up to queue_depth
       0  = All backfilling (no reservations)
            Make no reservations.  Run w

[2016-11-28 16:15] lipari opened #228 "Add a mechanism to assign a priority value to pending jobs"
The idea is to decouple job scheduling from job prioritization.  This would allow the two activities to proceeded in parallel and potentially on different resources.  The goal is a solution that maximizes performance and flexibility, while minimizing bottlenecks and race conditions.

Reference the discussion which grew out of [PR 226](https://github.com/flux-framework/flux-sched/pull/226).  The de

[2016-11-28 17:35] lipari commented on #228
The approach I'm proposing is to have flux-submit insert the job request into the KVS - like it does now.  One of the keys of each job will be a priority value, with a default of one less than the previously submitted job.

The job prioritization service, if it exists and is loaded, will visit each job in the KVS and potentially update each job's priority value based on the rules it enforces.  The

[2016-11-29 16:30] augu5te opened #229 "Bug suspected: "simsrv" -> "sim_exec" in sim_execsrv.c ?"
I suspect a bug in following https://github.com/flux-framework/flux-sched/blob/master/simulator/sim_execsrv.c#L89
This line should not be flux_aux_set(h, "sim_exec", ctx, freectx) ?

[2016-11-29 17:22] SteVwonder commented on #229
@augu5te: yes, good catch. That is absolutely a bug.  Would you like to submit a PR or should I?

[2016-12-11 14:16] #229 closed

[2016-12-28 19:48] #223 closed

[2016-12-28 19:48] dongahn commented on #223
I am closing this as I started a new PR #232.

[2016-12-28 19:49] #154 closed

[2016-12-28 19:50] dongahn commented on #111
This is handled with @grondo's hierarchical job data schema work.

[2016-12-28 19:50] #111 closed

[2016-12-28 19:54] dongahn commented on #84
I believe a bulk of the work is done by now. I know at least item 2 and 3 are done. @lipari, is 1 and 4 done? or If not, are they worth doing?

[2016-12-28 19:57] dongahn commented on #85
@lipari: How about merging this to the visitor pattern enhancement issue #193 and addressing this as part of that MS work?

[2016-12-28 19:58] #93 closed

[2016-12-28 20:08] lipari commented on #84
Item 4 was addressed and item 1 is no longer needed at this point.

[2016-12-28 20:08] #84 closed

[2016-12-28 22:17] #221 closed

[2016-12-28 22:17] dongahn commented on #224
I think this is done with @lipari's latest fixes.

[2016-12-28 22:17] #224 closed

[2016-12-28 22:21] dongahn commented on #184
FYI -- this is one of the issues that PR #184 will ultimately address. Leaving it open for now.

[2016-12-28 23:54] lipari commented on #85
Sounds good.  Requirements of this issue still needed can be addressed as part of the work to address [Issue 193](https://github.com/flux-framework/flux-sched/issues/193)

[2016-12-28 23:54] #85 closed

[2017-01-20 22:13] lipari commented on #192
At long last, I am finally getting back to thinking about converting flux-sched to use the canonical job spec.  What follows is a rough outline of the tasks as I see them...

Here is the historical discussion regarding the canonical job/resource spec:

- https://github.com/flux-framework/flux-core/issues/354

- https://github.com/flux-framework/rfc/pull/29

- https://github.com/flux-framework/rfc/

[2017-01-20 22:28] dongahn commented on #192
@lipari: This sounds all good. Lifting the resrc and friend and move them into a separate flux-resource project as a standalone tool makes a lot of sense to me.

Only high-level comment I have at the point, as you and I also discussed this before: It seem we need to coordinate this work closely with my internal scalability work + match/visitor patterning work through some good planning. As I can i

[2017-02-24 02:15] dongahn opened #235 "Refactor resrc a bit to add API-level context support"
@lipari: I am prototyping scheduler-driven scheduler update algorithms. But at this point, I find that `resrc` not having API-level context support is somewhat limiting this work.

I can add the API-level data to the file static scope, but I'm inclined to avoid this, as other flux APIs use a context trick instead, if nothing else.

Any objection, if I refactor `resrc` a bit to introduce the API's

[2017-03-03 04:31] dongahn commented on #235
#236 resolved this.

[2017-03-03 04:31] #235 closed

[2017-03-22 15:13] garlick opened #239 "test scripts should unload test modules"
Ideally, test scripts should have a `flux module remove` for every `flux module load`, since after  flux-framework/flux-core#1005, leftover modules will be unloaded without the reactor running, under a timeout, which may not be appropriate for all modules.

Sched has some imbalances in its test scripts:
[code]

[2017-03-22 15:52] grondo commented on #239
Though ideal, I'm not sure every `flux module load` will have a corresponding `flux module remove` in real world scenarios, so should tests *require* it? If the balance is required, we should perhaps enhance the module loading such that module removal is automatic during shutdown, to avoid accidental errors when initial programs exit before a user has a chance to call `flux module remove` for modu

[2017-03-22 17:04] garlick commented on #239
Well, it's not really required, but the "automatic unload" path has the restrictions listed above and so is prone to getting stuck and triggering an exit (0) without going through the stack of destructors.  For testing, the implication of exiting through that timeout is that the module unload path might not get test coverage.  Also if we're testing under valgrind, we'll have a lot of expected leak

[2017-03-22 17:20] grondo commented on #239
Good point, I hadn't thought of decreased test coverage. I was mainly thinking about leaving the exit timeout path untested, which will be a common case if anyone uses `flux module load` interactively (Thus we miss bugs like the one caught recently for unclean shutdown path)

For the test scripts, would it be useful to make use of the sharness `cleanup()` function to push `flux module remove` onto

[2017-03-22 17:22] dongahn commented on #239
I think this can be done easily. There is an "implicit" load in our run script but our tests don't use it much.

[2017-03-30 18:10] grondo opened #241 "Tag flux-sched v0.4.0"
We're preparing an 0.7.0 tag for flux-core. We'll need a new flux-sched release to go along with this version.

[2017-03-30 22:01] grondo opened #242 "configure.ac broken with newest autotools"
There appears to be an issue in flux-sched configure.ac which is causing a failure in travis with the new versions of autotools (pulled in by latest `travis-dep-builder.sh` from flux-core)

[code]

[2017-03-30 22:02] grondo commented on #242
Not sure what the problem is yet, but I'm currently looking into it.

[2017-04-03 18:22] grondo commented on #242
Turns out the problem is that aclocal isn't finding the pkgconfig macros `pkg.m4` when it is installed on the side, since `/usr/share/aclocal` isn't searched. flux-core has a copy of `pkg.m4` committed to the repo so we'll just do that for flux-sched too.

[2017-04-03 23:14] #242 closed

[2017-06-18 01:15] dongahn opened #247 "[Seeking Feedback] Flux Resource Model Strawman"
I implemented a strawman to help me further design the upcoming flux resource comms. module -- a new service that selects the best-matching resources for each job. At this point, it will be extremely helpful if I can get some feedback from advanced scheduling researchers to make sure I will have a future-scheduling-proof design. The strawman code you can play with is at  https://github.com/dongahn

[2017-06-18 01:21] dongahn commented on #247
For @SteVwonder:

![pfs1ba mini](https://user-images.githubusercontent.com/862123/27257387-77d821dc-5389-11e7-931a-ccd844353fd7.png)
### --matcher=PFS1BA option

![c pfs1ba mini](https://user-images.githubusercontent.com/862123/27257392-9390e95e-5389-11e7-9758-e05dc19b2f5f.png)
### --matcher=C+PFS1BA

[2017-06-18 01:24] dongahn commented on #247
For @tpatki:

![pa mini](https://user-images.githubusercontent.com/862123/27257404-fe83d938-5389-11e7-9d95-bca986f3f992.png)

### --matcher=PA

![c pa mini](https://user-images.githubusercontent.com/862123/27257408-1040befc-538a-11e7-83cc-de06a1db964c.png)

### --matcher=C+PA

[2017-06-18 01:25] dongahn commented on #247
For Nikil:

![iba mini](https://user-images.githubusercontent.com/862123/27257411-539d00ca-538a-11e7-8c19-869ed88666b2.png)

## --matcher=IBA

![c iba mini](https://user-images.githubusercontent.com/862123/27257412-58084dfe-538a-11e7-876b-369188fc8121.png)

## --matcher=C+IBA

[2017-06-18 01:43] dongahn commented on #247
Oh, forgot to mension. The strawman currently doesn't build on TOSS2 because their compilers are so ancient. Please use a TOSS3 system or your laptop.

[2017-06-18 03:22] springme commented on #247
Thanks for working on flux on the week end, Dong.  I trust that you will all spend tomorrow with your kids if you have them.  Happy Father's Day to all of the dads!

Becky

Sent from my iPhone

On Jun 17, 2017, at 6:22 PM, Dong H. Ahn <notifications@github.com<mailto:notifications@github.com>> wrote:

For @SteVwonder<https://github.com/stevwonder>:

[pfs1ba mini]<https://user-images.githubusercont

[2017-06-18 12:52] tpatki commented on #247
Thanks, Dong, I’ll take a look at this shortly. Thanks for putting this together over the weekend!

Sincerely,
T

From: Becky Springmeyer <notifications@github.com>
Reply-To: flux-framework/flux-sched <reply@reply.github.com>
Date: Saturday, June 17, 2017 at 8:22 PM
To: flux-framework/flux-sched <flux-sched@noreply.github.com>
Cc: "Patki, Tapasya" <patki1@llnl.gov>, Mention <mention@noreply.github

[2017-06-19 21:50] SteVwonder commented on #247
@dongahn nice work!

Poking around a bit, it seems that the `C+PFS1BA` works exactly as I expected: it performs a depth-first search through the dominant hierarchy (containment) and then when it hits the auxiliary hierarchy (IO) it performs an upwalk.  The `PFS1BA` matcher isn't working as I expected.  I expected it to perform a depth first search through the dominant hierarchy (IO) (e.g. pfsbw->l

[2017-06-19 21:58] dongahn commented on #247
Ah. Thank you for looking at this so quickly. I will take a look shortly.

[2017-06-19 22:30] dongahn commented on #247
Great.

Your schedulers can also choose all relationship for both cases with:

[code]

For the depth first search on the dominant subsystem, I color the vertex so that I won't traverse further when detecting the back edge.

[2017-06-19 22:36] dongahn commented on #247
Also FYI, future work will include providing richer idioms for scheduler to use to select edge types within each target subsystem. Probably, string pattern matching fucntions for inclusion and exclusion.

[2017-06-20 01:46] dongahn commented on #247
@SteVwonder: I also created `coloring_for_upwalk` dev-branch in the strawman and pushed my changes. As I was adding support for graphml, I found that I was actually adding parallel edges! So I fixed that and also added coloring support for up-walks -- with this the DFU traverser can detect loops during the up-walk as well. This led to slight changes to matcher callback name.

[2017-06-21 22:11] dongahn commented on #247
@nikhil-jain: So that this this tracking ticket will make into your email. @SteVwonder has been looking at this strawman as well as been involved in our recent scheduling discussions. @SteVwonder should be a good resource for you.

[2017-06-23 02:13] dongahn commented on #247
As @SteVwonder, @morrone and I are discussing and debating the capabilities and limitations of the resource strawman, it seems the classes of matching problems that the current strawman+planner can and can’t solve start to emerge. So, I thought I should document them here.

First, there are at least two main classes of advanced matching problems our current scheme can solve on a single dominant hi

[2017-06-23 02:39] dongahn commented on #247
In case Depth First on dominant hierarchy and Up on auxiliary hierarchies (DFU) and envisioned match scoring schemes are not clear enough:
![dfu-and-score-scheme](https://user-images.githubusercontent.com/862123/27464338-c3815c4c-5781-11e7-982f-f59180b49fd1.png)

Also, for Planner
![planner](https://user-images.githubusercontent.com/862123/27464443-64103138-5782-11e7-8120-82d2e9be3391.png)

[2017-06-23 16:06] lipari commented on #247
Thank you @dongahn for documenting your discussions.  It provides a concise synopsis of the frontiers of the resource selection thinking.  At this point, I don't have much to add.  I know you are a proponent for a one-pass traversal solution to maximize performance.  So I will review the loop traversal doc you provided to understand what it has to offer.

[2017-06-23 16:47] dongahn commented on #247
Thanks @lipari.

What we realized is that for **Multi Hierarchical Exact** matching problems, there is no viable solution even with even two-pass algorithms we proposed in the past like:

- find all hierarchically matching nodes in the containment hierarchy: e.g., `rack[2]->node[4]`
- find all hierarchically matching  nodes in the containment network connection hierarchy: e.g., `edge_switch[2]->no